{% extends "base_nav.html" %}
{% block title %}
Q&A
{% endblock %}
{% block content %}
{% csrf_token %} 

<script>
	$(function(){

		//opt
		let opt={
			el: '#' + 'id_qanda_list',
			data: {
				'categorys': {
					'platform': '平台',
					'volunteer': '志工',
					'vip': '視障者',
				},
			},
		};

		//vo
		let vo_qanda = new Vue(opt);


	})

	function aj_qanda(mode, aid, transferData) {
		//Q&A API顯示、新增、更新、刪除

		//df
		let df = GenDF();

		if (mode === 'create') {
			let err = [];
			if (iser(transferData.question)) {
				err.push('問題不能為空');
			}
			if (iser(transferData.answer)) {
				err.push('回答不能為空');
			}
			if (err.length > 0) {

				//msg
				let msg = _.chain(err)
					.map(function (v, k) {
						return '<div style="margin-top:5px;">' + cstr(k + 1) + ': ' + v + '</div>';
					})
					.join('')
					.value();
				msg = '<div>輸入錯誤訊息如下：</div>' + msg;

				//reject
				df.reject({ 'status': 'error', 'message': msg });

				return df;
			}
		}

		//client
		let client = new $.RestClient('/genericUser/api/');
		client.add('qandas');

		if (mode === 'list') {
			result_client = client.qandas.read();
		}
		else if (mode === 'create') {
			result_client = client.qandas.create(transferData);
		}
		else if (mode === 'update') {
			transferData['id'] = aid;
			result_client = client.qandas.update(aid, transferData);
		}
		else if (mode === 'delete') {
			result_client = client.qandas.destroy(aid);
		}
		else {

			//reject
			df.reject({ 'status': 'error', 'message': ' mode error' });

			return df;
		}

		result_client
			.done(function (data) {
				df.resolve({
					'status': 'success',
					'message': '成功',
					'content': data,
				});
			})

		return df;
	}

</script>

<script type="text/x-template" id="qanda-list-template">
	<div>
		<div class="bs-callout bs-callout-info" style="position: relative;" v-for="(qa,iqa) in qandas" v-if="mode==='forshow' || mode==='foredit'"> 

			<div style="position: absolute; top:5px; right:5px;" v-if="mode==='foredit'">
				<button type="button" class="close" style="margin-left:5px;" title="刪除" aria-label="刪除" v-on:click="ckdelete(qa)">
					<span class="glyphicon glyphicon-remove-sign"></span>
				</button>
				<button type="button" class="close" style="margin-left:5px;" title="編輯" aria-label="編輯" v-on:click="ckupdate(qa)">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
			</div>

			<div v-if="mode==='forshow' || mode==='foredit'">
				<div style="font-size:12pt;">
					<div v-html="qa.question"></div>
				</div> 
				<div style="font-size:12pt; margin-top:10px;">
					<div v-html="qa.answer"></div>
				</div> 
			</div>

		</div>

		<button type="button" class="btn btn-primary" v-on:click="ckcreate" v-if="mode==='foredit'">建立新Q&A</button>

	</div>
</script>
<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	Vue.component('vu-qanda', {
		template: '#qanda-list-template',
		props: {
			'category': String,
		},
		data: function () {
			return {
				qandas:{},
				mode: '',
			}
		},
		created: function () {
			this.cklist()
			if(user.is_manager){
				this.mode = 'foredit'
			}
			else {
				this.mode = 'forshow'
			}
		},
		methods: {
			operate:function(mode,aid,transferData){
				let self = this
				//aj_qanda
				aj_qanda(mode,aid,transferData)
				.done(function(data){
					alertmessage(data.status, data.message)
					.done(function(){
						self.cklist()
					});
				})
				.fail(function(data){
					alertmessage(data.status, data.message)
				})

			},
			cklist: function () {
				let self = this;
				rest_aj_send('get', '/genericUser/api/qandas/', {'category': self.category,})
				.done(function(data) {
					self.qandas = data['data']
				})

			},
			ckdelete: function (qa) {

				let vo = this;

				alertconfirm('是否確定刪除?')
				.done(function(){

					//operate
					vo.operate('delete',qa.id,null);

				})
				
			},

			ckupdate: function (qa) {

				let vo = this;

				//AboutQAndA
				AboutQAndA(qa.question,qa.answer, qa.category)
				.done(function(nq,na, nc){
					
					//transferData
					let transferData={
						question:nq,
						answer:na,
						category:nc,
					};

					//operate
					vo.operate('update',qa.id,transferData);

				})

			},

			ckcreate: function () {
				//console.log('methods ckcreate')

				let vo = this;

				//AboutQAndA
				AboutQAndA('', '', vo.category)
				.done(function(nq,na){

					//transferData
					let transferData={
						question:nq,
						answer:na,
						category:nc,
					};

					//operate
					vo.operate('create',null,transferData);

				})

			},

		},
	})
</script>
<div id="id_qanda_list">
	<h3>Q&A</h3>
	<ul class="nav nav-tabs">
		<template v-for="(v, k, index) in categorys">
			<li :class="{'active':(index===0)}"><a :href="'#qanda_' +k" name="qanda_tab_grp" data-toggle="tab" :aria-expanded="!!(index===0)">{|{ v }|}</a></li>
		</template>
	</ul>
	<div class="tab-content" style="padding:20px 0px;">
		<template v-for="(v, k, index) in categorys">
			<div :id="'qanda_' +k" class="tab-pane" :class="{'active':(index===0)}">
				<h4>{|{ v }|}</h4>
				<vu-qanda :category="k"></vu-qanda>
			</div>
		</template>
	</div>
</div>

{% endblock %}