{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
分析
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}
{% block header %}
分析
{% endblock %}
{% block content %}

<form action="" method="post">
{% csrf_token %}
	<div id="buttonGroup" style="text-align: center;">
		<button class="btn btn-lg btn-default send_button" type="submit" id="getPart_id" name="getPart">領文件</button>
	</div>
	<hr />
	<h4 class="page-header">正編輯文件</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th colspan="2">動作</th>
		</tr>
		{% for part in an_editingPartList %}
		<tr>
			<td>{{ part }}</td>
			<td>
				<a class="btn btn-link" role="button" href = {% url 'ebookSystem:analyze_part' part.ISBN_part %}>分析</a>
				<img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_load_icon" />
			</td>
			<td>
				<button type="submit" class="btn btn-default send_button" id="rebackPart_id" name="rebackPart" value={{part.ISBN_part}}>還文件</button>
			</td>
		</tr>
		{% endfor %}
	</table>

</form>

{% endblock %}