{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
進階服務
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}
{% block header %}
進階服務
{% endblock %}
{% block content %}

<form action="" method="post">
{% csrf_token %}
	<div id="buttonGroup" style="text-align: center;">
		<button class="btn btn-lg btn-default send_button" type="submit" id="getPart_id" name="getPart">領文件</button>
	</div>
	<hr />
	<h4 class="page-header">正編輯文件</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>個數/總個數</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>狀態</th>
			<th colspan="2">動作</th>
		</tr>
		{% for part in sc_editingPartList %}
		<tr>
			<td>{{ part }}</td>
			<td>{{ part.specialcontent_finish_count }}/{{ part.specialcontent_count }}</td>
			<td>{{ part.sc_service_hours }}</td>
			<td>{{ part.sc_get_date }}</td>
			<td>{{part.status_int2str}}</td>
			<td>
				<a class="btn btn-link" role="button" href = {% url 'ebookSystem:special_content' part.ISBN_part %}>編輯</a>
				<img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_load_icon" />
			</td>
			<td>
				<button type="submit" class="btn btn-default send_button" id="rebackPart_id" name="rebackPart" value={{part.ISBN_part}}>還文件</button>
			</td>
		</tr>
		{% endfor %}
	</table>

	<h4 class="page-header">完成編輯記錄</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>狀態</th>
			<th>動作</th>
		</tr>
		{% for part in sc_finishPartList %}
		<tr>
			<td>{{ part }}</td>
			<td>{{ part.service_hours }}</td>
			<td>{{part.sc_get_date}}</td>
			<td>{{part.status_int2str}}</td>
			<td>
				{% if part.status_int2str == 'review' %}
				<button type="submit" class="btn btn-default send_button" id="reEditPart_id" name="reEditPart" value={{part.ISBN_part}}>再編輯</button>
				{% endif %}	
			</td>
		</tr>
		{% endfor %}
	</table>

</form>

{% endblock %}