{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
服務
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
 {% endblock %}
{% block header %}
服務
{% endblock %}
{% block content %}

<form action="" method="post">
{% csrf_token %}
	{% if request.user.auth_email and request.user.auth_phone %}
	<div id="buttonGroup" style="text-align: center;">
		<button class="btn btn-lg btn-default send_button" type="submit" id="getPart_id" name="getPart">領文件</button>
	</div>
	{% endif %}
	
	<h4 class="page-header">正校對文件</h4>
	<table id="proof_doc" class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>頁數/總頁數</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>期限</th>
			<th>狀態</th>
			<th colspan="2">動作</th>
		</tr>
		{% for part in editingPartList %}
		<tr>
			<td>{{ part }}</td>
			<td>{{ part.edited_page|add:'1' }}/{{ part.book.page_per_part }}</td>
			<td>{{part.service_hours}}</td>
			<td>{{part.get_date}}</td>
			<td>{{part.deadline}}</td>
			<td>{{part.status_int2str}}</td>
			<td>
				<a class="btn btn-link" role="button" href = {% url 'ebookSystem:edit' part.ISBN_part %}>編輯</a>
				<img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_load_icon" />
			</td>
			<td>
				<button type="submit" class="btn btn-default send_button" id="rebackPart_id" name="rebackPart" value={{part.ISBN_part}}>還文件</button>
			</td>
		</tr>
		{% endfor %}
	</table>
	
	<h4 class="page-header">完成校對記錄</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>狀態</th>
			<th>動作</th>
		</tr>
		{% for part in finishPartList %}
		<tr>
			<td>{{part.book.book_info.bookname}}-part{{part.part}}</td>
			<td>{{part.service_hours}}</td>
			<td>{{part.get_date}}</td>
			<td>{{part.status_int2str}}</td>
			<td>
				{% if part.status_int2str == 'review' %}
				<button type="submit" class="btn btn-default send_button" id="reEditPart_id" name="reEditPart" value={{part.ISBN_part}}>再編輯</button>
				{% endif %}	
			</td>
		</tr>
		{% endfor %}
	</table>

<!--	<h4 class="page-header">已兌換志工時數</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>完成日期</th>
		</tr>
		{% for part in exchangedPartList %}
		<tr>
			<td>{{part.book.book_info.bookname}}-part{{part.part}}</td>
			<td>{{part.service_hours}}</td>
			<td>{{part.get_date}}</td>
			<td>{{part.finish_date}}</td>
		</tr>
		{% endfor %}
	</table>-->
</form>

{% endblock %}