{% extends "base_nav.html" %}
{% block title %}
上傳文件
{% endblock %}
{% block style %}
{% load staticfiles %}
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script language="javascript">
    $(document).ready(function() {
    if($('.datepicker').length)
        $('.datepicker').datepicker({dateFormat:"yy-mm-dd"});
    });
</script>
<script language="javascript" src="{% static 'ebookSystem/js/ajax.js' %}"></script>
{% endblock %}

{% block header %}
上傳文件
{% endblock %}
{% block content %}
{{errors_message}}
<form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
{% csrf_token %}
    {% if bookForm.errors %}
        <div class="alert alert-danger" role="alert">
            {{ bookForm.errors }}
        </div>
    {% endif %}
    <legend>上傳文件</legend>
   <!-- <h3>上傳文件</h3> -->
    <div class="form-group">
        
        <label class="control-label col-sm-2" for="id_bookname"><font style="color:red">*</font>Bookname:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" autofocus id="id_bookname" name="bookname" placeholder="Enter Bookname" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_author"><font style="color:red">*</font>Author:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_author" name="author" placeholder="Enter author" required>
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_translator">Translator:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_translator" name="translator" >
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_house">House:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_house" name="house" required>
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_date"><font style="color:red">*</font>Date:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control datepicker" id="id_date" name="date" required>
        </div>
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_ISBN"><font style="color:red">*</font>ISBN:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_ISBN" name="ISBN" placeholder="10或13位數字" title="10或13位數字" pattern="\d{10}|\d{13}" required>
        </div>
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_fileObject"><font style="color:red">*</font>Fileobject:</label>
        <div class="col-sm-3">
            <input id="id_fileObject" name="fileObject" type="file" required />          
		  <!--<input class="form-control-file" id="id_fileObject" name="fileObject" type="file" required />-->
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
           <!-- <button class="btn btn-default" type="submit" id="send_id" name="send">傳送</button>-->
            <input type="submit" class="btn btn-primary" value="send" id="send_id">
            <input type="reset" class="btn btn-danger" value="reset">
        </div>
    </div>
</form>




{% endblock %}