{% extends "base_nav.html" %}
{% block title %}
上傳文件
{% endblock %}
{% block style %}
{% load staticfiles %}
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script language="javascript" src="{% static 'ebookSystem/js/upload_file.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/getISBN.js' %}"></script>
{% endblock %}

{% block header %}
上傳文件
{% endblock %}
{% block content %}

<form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
{% csrf_token %}
    {% if bookForm.errors %}
        <div class="alert alert-danger" role="alert">
            {{ bookForm.errors }}
        </div>
    {% endif %}
    <legend>上傳文件</legend>

    <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body alert-info">
                    <legend>Uploading...</legend>
                    <div class="progress">
                        <div  id="uploadProgressBar"class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span id="uploadProgressText"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_ISBN"><font style="color:red">*</font>ISBN:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_ISBN" name="ISBN"  placeholder="請輸入正確的ISBN" pattern="^\d{9}[\d|X]$" autofocus required>
        </div>
       <input type="submit" class="btn btn-default" value="取得書籍資訊" id="get_isbn">

       <img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_isbn_load_icon" />
    </div> 
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_bookname"><font style="color:red">*</font>書名：</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_bookname" name="bookname" readonly="true" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_author"><font style="color:red">*</font>作者：</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_author" name="author" readonly="true" required>
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_house"><font style="color:red">*</font>出版社：</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="id_house" name="house" readonly="true" required>
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_date"><font style="color:red">*</font>出版日：</label>
        <div class="col-sm-3">
          <input type="text" class="form-control datepicker" id="id_date" name="date" placeholder="YYYY-mm-dd" required readonly="true">
        </div>
    </div> 

    <div class="form-group">
        <label class="control-label col-sm-2" for="id_guest">申請者：</label>
        <div class="col-sm-3">
             <input type="text" class="form-control" id="id_guest" name="guest" >
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_fileObject">Fileobject:</label>
        <div class="col-sm-3">
            <input class="form-control-file" id="id_fileObject" name="fileObject" type="file" required />          
		  <!--<input class="form-control-file" id="id_fileObject" name="fileObject" type="file" required />-->
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
           <!-- <button class="btn btn-default" type="submit" id="send_id" name="send">傳送</button>-->
            <input type="submit" class="btn btn-primary" value="send" id="send_id">
            <input type="reset" class="btn btn-danger" value="reset">
        </div>
    </div>
</form>
{% endblock %}