*.pyc
*.mp3
*/migrations/
db.sqlite3
file/
log/
static/ebookSystem/document/
static/ebookSystem/disability_card/
static/readium/
temp/
templates/old/
venv/
auto.sh
.idea
ebookSystem/fixtures
social_django/
mysite/account_info.py
ghostdriver.log
eds.sql