{% extends "base_nav.html" %}
{% block resource %}
	{% load staticfiles %}
	<link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
	<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script> 
	<!--<script language="javascript" src="{% static 'ebookSystem/js/login.js' %}"></script>-->
{% endblock%}

{% block title %}
登錄
{% endblock %}

{% block content %}
{% if next %}
	{% if user.is_authenticated %}
	<div class="alert alert-warning">
		<p>Your account doesn't have access to this page. To proceed,
		please login with an account that has access.</p>
	</div>
	{% else %}
	<div class="alert alert-info">
		<p>Please login to see this page.</p>
	</div>
	{% endif %}
{% endif %}
<div>
	<form class="form-horizontal" role="form" method="post" action="">
		{% csrf_token %} {% include 'utils/upload_dialog.html' %}
		<div class="form-group text-center">
			<h2 class="">登錄</h2>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1 col-sm-offset-4" for="id_username"><font style="color:red">*</font>帳號</label>
			<div class="col-sm-3">
				<input id="id_username" name="username" type="text" placeholder="帳號" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1 col-sm-offset-4" for="id_password"><font style="color:red">*</font>密碼</label>
			<div class="col-sm-3">
				<input id="id_password" name="password" type="password" placeholder="密碼" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-5">
				{{captcha}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-5">
				<button class="form-control btn btn-primary send_form" type="submit" id="id_submit">登錄</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-5">
				<a href="{% url 'genericUser:retrieve_password' %}">忘記帳密</a>
			</div>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
	{% if error_message %}
		<div class="alert alert-danger" role="alert">
			{{ error_message }}
		</div>
	{% endif %}
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<p>Your username and password didn't match. Please try again.</p>
		</div>
	{% endif %}
</div>
{% endblock %}