{% extends "base_nav.html" %}
{% block resource %}
    {% load staticfiles %}
    <link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
    <script language="javascript" src="{% static 'ebookSystem/js/ajax.js' %}"></script>
    <!--<script language="javascript" src="{% static 'ebookSystem/js/login.js' %}"></script>-->
{% endblock%}

{% block title %}
登錄login page
{% endblock %}

{% block content %}
{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning">
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    </div>
    {% else %}
    <div class="alert alert-info">
        <p>Please login to see this page.</p>
    </div>
    {% endif %}
{% endif %}
<div class="form-signin" >
    <form class="form-signin" role="form" method="post" action="">
    <h2 class="form-signin-heading">Sign in</h2>
        {% csrf_token %}


        <div class="form-group">
            <label for="id_username">{{ loginForm.username.label_tag.value }}</label>
            <input id="id_username" name="username" type="text" placeholder="username" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="id_password">{{ loginForm.password.label_tag.value }}</label>
            <input id="id_password" name="password" type="password" placeholder="password" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="id_code">語音驗證碼：</label>
            <input id="id_code" name="code" type="text" class="form-control" required />
        </div>     
            <audio id="id_audio_file" src = "/static/{{ UUID }}.mp3" ></audio>
            <button onclick="document.getElementById('id_audio_file').play();">播放</button>
            <input type="hidden" name="UUID" value="{{ UUID }}" />

        <!--<input type="submit" value="login" /> -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    {% if loginForm.errors %}
        <div class="alert alert-danger" role="alert">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}
{% block footer %}{% endblock %}