{% extends "base_nav.html" %}
{% block style %}
{% load staticfiles %}
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}

{% block title %}
修改密碼
{% endblock %}
{% block header %}
修改密碼
{% endblock %}

{% block content %}

<form method="post" action="{% url 'password_change' %}" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.username }} 更改密碼</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="id_old_password" class="control-label col-sm-3"><font style="color:red">*</font>原密碼</label>
                        <div class="col-sm-5">
                            <input id="id_old_password" class="form-control" name="old_password" type="password" placeholder="old_password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1" class="control-label col-sm-3"><font style="color:red">*</font>新密碼</label>
                        <div class="col-sm-5">
                            <input id="id_new_password1" class="form-control" name="new_password1" type="password" placeholder="new_password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password2" class="control-label col-sm-3"><font style="color:red">*</font>確認新密碼</label>
                        <div class="col-sm-5">
                            <input id="id_new_password2" class="form-control" name="new_password2" type="password" placeholder="confirmation" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary send_form" value="change password">確認</button>
                            <a class="btn btn-danger" role="button" href = {% url 'genericUser:info' %}>取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}