{% extends "base_nav.html" %}
{% block title %}
註冊
{% endblock %}
{% block header %}
註冊
{% endblock %}
{% block style %}
{% load staticfiles %}
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script language="javascript" src="{% static 'ebookSystem/js/register.js' %}"></script>

{% endblock %}
{% block content %}
<form method="post" action="{% url 'register' %}" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'utils/upload_dialog.html' %}
    <h3>註冊</h3> 
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover table-reflow no-page">
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_username"><font style="color:red">*</font>使用者名稱：</label>
                    </th>
                    <td class="col-md-8">
                        <input id="id_username" maxlength="30" name="username" type="text" pattern="^[a-z0-9_]*$" autofocus required><label for="id_username"><font style="color:red">小寫英文字母、數字、'_'</font></label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_password"><font style="color:red">*</font>密碼：</label>
                    </th>
                    <td>
                        <input id="id_password" maxlength="30" name="password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_confirm_password"><font style="color:red">*</font>確認密碼：</label>
                    </th>
                    <td>
                        <input id="id_confirm_password" maxlength="30" name="confirm_password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_first_name"><font style="color:red">*</font>姓氏：</label>
                    </th>
                    <td>
                        <input id="id_first_name" name="first_name" type="text" placeholder="First name" required><label for="id_first_name"><font style="color:red">請填寫中文性名</font></label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_last_name"><font style="color:red">*</font>名字：</label>
                    </th>
                    <td>
                        <input id="id_last_name" name="last_name" type="text" placeholder="Last name" required><label for="id_last_name"><font style="color:red">請填寫中文性名</font></label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_email"><font style="color:red">*</font>電子郵件：</label>
                    </th>
                    <td>
                        <input id="id_email" name="email" type="email" placeholder="Email" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_phone"><font style="color:red">*</font>聯絡電話：</label>
                    </th>
                    <td>
                        <input id="id_phone" name="phone" type="phone" pattern="^[0-9]{10}$" placeholder="Phone" required><label for="id_phone"><font style="color:red">請填寫手機號碼</font></label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_birthday"><font style="color:red">*</font>生日：</label>
                    </th>
                    <td>
                        <input id="id_birthday" name="birthday" type="text" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" class="datepicker" placeholder="1989-02-19"  required><label for="id_birthday"><font style="color:red">1989-02-19</font></label>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_education"><font style="color:red">*</font>教育程度：</label>
                    </th>
                    <td>
                        <select id="id_education" name="education" required>
                            <option value="" selected="selected">---------</option>
                            <option value="高中">高中(職)(以下)</option>
                            <option value="學士">學士</option>
                            <option value="碩士">碩士(以上)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_role"><font style="color:red">*</font>角色</label>
                    </th>
                    <td>
                        <label class="radio-inline">
                            <input  type="radio" name="role" id="id_editor" checked="true" value="Editor">志工</input></label>
                        <label class="radio-inline">
                            <input type="radio" name="role" id="id_guest" value="Guest">服務使用者</input></label>
                    </td>
                </tr>
                <tr class="editor_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_professional_field">專業領域：</label>
                    </th>
                    <td>
                        <input id="id_professional_field" maxlength="30" name="professional_field" type="text">
                    </td>
                </tr>
                <tr class="guest_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_front"><font style="color:red">*</font>身心障礙手冊正面：</label>
                    </th>
                    <td>
                        <input id="id_disability_card_front" maxlength="30" name="disability_card_front" type="file" accept="image/*" >
                    </td>
                </tr>
                <tr class="guest_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_back"><font style="color:red">*</font>身心障礙手冊反面：</label>
                    </th>
                    <td>
                        <input id="id_disability_card_back" maxlength="30" name="disability_card_back" type="file" accept="image/*" >
                    </td>
                </tr>
            </table>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-6">
                    <input type="submit" class="btn btn-primary" value="註冊" id="id_register">
                    <input type="reset" class="btn btn-danger" value="清除">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}