{% extends "base_nav.html" %}
{% block title %}
註冊
{% endblock %}
{% block style %}
{% load staticfiles %}
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script language="javascript" src="{% static 'ebookSystem/js/register.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/ajax.js' %}"></script>
<style>
body > .container {
  padding: 20px 15px 0;
}
</style>
{% endblock %}
{% block content %}
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <h3>註冊</h3> 
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover table-reflow">
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_username">username:</label>
                    </th>
                    <td class="col-md-8">
                        <input id="id_username" maxlength="30" name="username" type="text" placeholder="username" autofocus required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_password">password:</label>
                    </th>
                    <td>
                        <input id="id_password" maxlength="30" name="password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_confirm_password">confirm password:</label>
                    </th>
                    <td>
                        <input id="id_confirm_password" maxlength="30" name="confirm_password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_first_name">First name:</label>
                    </th>
                    <td>
                        <input id="id_first_name" name="first_name" type="text" placeholder="First name" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_last_name">Last name:</label>
                    </th>
                    <td>
                        <input id="id_last_name" name="last_name" type="text" placeholder="Last name" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_email">Email address:</label>
                    </th>
                    <td>
                        <input id="id_email" name="email" type="email" placeholder="Email" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_phone">Phone:</label>
                    </th>
                    <td>
                        <input id="id_phone" name="phone" type="phone" placeholder="Phone" required>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_birthday">Birthday:</label>
                    </th>
                    <td>
                        <input id="id_birthday" name="birthday" type="text" class="datepicker">
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_last_name">Education:</label>
                    </th>
                    <td>
                        <select id="id_education" name="education">
                            <option value="" selected="selected">---------</option>
                            <option value="高中">高中</option>
                            <option value="學士">學士</option>
                            <option value="碩士">碩士</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_role">role</label>
                    </th>
                    <td>
                        <label class="checkbox-inline">
                            <input  type="checkbox" name="editor" id="id_editor" checked="true" value="Editor">Editor</input></label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="guest" id="id_guest" value="Guest">Guest</input></label>
                    </td>
                </tr>
                <tr class="editor_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_professional_field">professional field:</label>
                    </th>
                    <td>
                        <input id="id_professional_field" maxlength="30" name="professional_field" type="text">
                    </td>
                </tr>
                <tr class="guest_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_front">disability_card_front field:</label>
                    </th>
                    <td>
                        <input id="id_disability_card_front" maxlength="30" name="disability_card_front" type="file" accept="image/*">
                    </td>
                </tr>
                <tr class="guest_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_back">disability_card_back field:</label>
                    </th>
                    <td>
                        <input id="id_disability_card_back" maxlength="30" name="disability_card_back" type="file" accept="image/*">
                    </td>
                </tr>
            </table>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-6">
                    <input type="submit" class="btn btn-primary" value="register" id="id_register">
                    <input type="reset" class="btn btn-danger" value="reset">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}