{% extends "base_nav.html" %}
{% block title %}
審核校對文件
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<h3>審核校對文件</h3>

<form action="" method="post" role="form">
{% csrf_token %}
<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>完成日期</th>
			<th>狀態</th>
			<th>動作</th>
		</tr>
		{% for part in part_list %}
		<tr>
			<td>{{part.book.bookname}}-part{{part.part}}</td>
			<td>{{part.service_hours}}</td>
			<td>{{part.get_date}}</td>
			<td>{{part.finish_date}}</td>
			<td>{{part.status}}</td>
			<td><a class="btn btn-link" role="button" href = "/ebookSystem/review_part/{{part.ISBN_part}}/" >審核</a></td>
		</tr>
		{% endfor %}
	</table>
</form>

{% endblock %}