{% extends "base_nav.html" %}
{% block resource %}
	{% load staticfiles %}
	<link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
	<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script> 
{% endblock%}

{% block title %}
統計資料
{% endblock %}

{% block content %}
{{ status }}
{{ message }}
<h3>統計資料</h3>
<form action="" method="post" role="form">
{% csrf_token %}
<table>
	<tr>
		<th>時間</th>
		<th>視障者人數</th>
		<th>校對志工人數</th>
		<th>已掃描書數</th>
		<th>已校對書數</th>
	</tr>
	{% for i in result %}
	<tr>
		<td>{{ i.0 }}</td>
		<td>{{ i.1 }}</td>
		<td>{{ i.2 }}</td>
		<td>{{ i.3 }}</td>
		<td>{{ i.4 }}</td>
	</tr>
	{% endfor %}
</table>
<h3>活躍登錄志工</h3>
<table>
	<tr>
		<th>性名</th>
		<th>使用者名稱</th>
		<th>上次登錄時間</th>
	</tr>
	{% for u in active_editor_list %}
	<tr>
		<td>{{ u.first_name }}{{ u.last_name }}</td>
		<td>{{ u.username }}</td>
		<td>{{ u.last_login }}</td>
	</tr>
{% endfor %}
</table>
</form>
{% endblock %}