<script>

	function inactive_book(div_id) {
		//client
		let client = new $.RestClient('/ebookSystem/api/');
		client.add('books');

		//read
		client.books.read()
			.done(function (data) {
				let sr = [];
				_.each(data, function (v, k) {
					let o = {
						'ISBN': v.ISBN,
						'書名': v.book_info.bookname,
						'審核': '<a class="btn btn-default" role="button" href="/ebookSystem/review_document/' +v.ISBN +'" target="_blank" title="審核(另開新視窗)">審核</a>',
					};

					sr.push(o);

				})

				//check
				if (iser(sr)) {
					$('#' +div_id).html('目前無資料');
					return;
				}

				//gentable
				let list_table = div_id + '_table' ;
				gentable(div_id, list_table, sr);

				//table
				$('#' + list_table).find('tr').each(function () {
					let tr = $(this);
					tr.css('text-align', 'center');
				})

			});

	}

	function edit_book(div_id) {
		//client
		let client = new $.RestClient('/ebookSystem/api/');
		client.add('books');

		//read
		client.books.read()
			.done(function (data) {
				let sr = [];
				_.each(data, function (v, k) {
					let o = {
						'ISBN': v.ISBN,
						'書名': v.book_info.bookname,
						'頁數/總頁數': v.finish_page_count +'/' +v.page_count,
						'已完成段數': v.finish_part_count,
						'時數': v.service_hours,
						'權重': v.priority,
						'動作': '',
					};

					sr.push(o);

				})

				//check
				if (iser(sr)) {
					$('#' +div_id).html('目前無資料');
					return;
				}

				//gentable
				let list_table = div_id + '_table' ;
				gentable(div_id, list_table, sr);

				//table
				$('#' + list_table).find('tr').each(function () {
					let tr = $(this);
					tr.css('text-align', 'center');
				})

			});

	}
</script>