{% include 'comp/table-div.vue' %}
{% include 'comp/modal.vue' %}
{% include 'comp/bookinfo_search.vue' %}
<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	let vo_book;

	$(function(){

		let category = $('div[category]').attr('category');

		let opt={
			el: '#id_book',
			data: {
				mode:'input', //input or search
				search_ISBN: '',
				temp: {
					'ISBN': {
						'value': '',
						'show': 'ISBN',
					},
					'bookname': {
						'value': '',
						'show': '書名',
					},
					'author': {
						'value': '',
						'show': '作者',
					},
					'house': {
						'value': '',
						'show': '出版社',
					},
					'date': {
						'value': '',
						'show': '出版日期',
					},
					'bookbinding': {
						'value': '',
						'show': '裝訂冊數',
					},
					'chinese_book_category': {
						'value': '',
						'show': '中文圖書分類',
					},
					'order': {
						'value': '',
						'show': '版次',
					},
					'source': {
						'value': '',
						'show': '來源',
					},
				},
				category: category,
			},
			computed: {
				loading: function(){
					if(this.mode=='search') return 'inline-block'
					else if(this.mode=='input') return 'none'
					else return 'none';
				},
				url: function(){
					if(this.category=='epub' || this.category=='txt') return '/ebookSystem/api/books/action/upload/'
					else if(this.category=='self') return '/ebookSystem/api/books/action/create/'
				},
			},
			methods: {
				search_ISBN_info: function(){

					if(binstr(this.search_ISBN, '-')){
						alertmessage('error', 'ISBN格式不能含有「-」')
						return -1;
					}

					if(this.search_ISBN.length!==10 && this.search_ISBN.length!==13){
						alertmessage('error', 'ISBN長度錯誤')
						return -1;
					}

					//assign vo
					let vo = this
					vo.mode = 'search';

					//aj_isbnnetanddouban_ISBN
					aj_isbnnetanddouban_ISBN(this.search_ISBN)

					.done(function(data){

						//alertmessage
						alertmessage('success', '查詢成功');

						//show
						vo.search_ISBN = data['ISBN']; //若查詢ISBN10會自動轉ISBN13，故要重新更新
						vo.temp['ISBN'].value = data['ISBN'];
						vo.temp['bookname'].value = data['書名'];
						vo.temp['author'].value = data['作者'];
						vo.temp['date'].value = data['出版日期'];
						vo.temp['house'].value = data['出版社'];
						vo.temp['bookbinding'].value = data['裝訂方式'];
						vo.temp['chinese_book_category'].value = data['圖書類號'];
						vo.temp['order'].value = data['版次'];
						vo.temp['source'].value = data['來源'];

					})
					.fail(function(data){

						//alertmessage
						alertmessage('error', data);

						//解開readonly屬性由使用者自行輸入
						$('#show_prop')
							.off()
							.on('click',function(){
								$('input[type="text"][grp="changemode"]').prop('readonly',false);
							})
							.show();

					})
					.always(function(){
						vo.mode = 'input';
					})

				},
				search_ISBN_info_more: function(data){
					let self = this

					self.search_ISBN = data['ISBN']; //若查詢ISBN10會自動轉ISBN13，故要重新更新
					self.temp['ISBN'].value = data['ISBN'];
					self.temp['bookname'].value = data['bookname'];
					self.temp['author'].value = data['author'];
					self.temp['date'].value = data['date'];
					self.temp['house'].value = data['house'];
					self.temp['bookbinding'].value = data['bookbinding'];
					self.temp['chinese_book_category'].value = data['chinese_book_category'];
					self.temp['order'].value = data['order'];
					self.temp['source'].value = data['source'];

				},
				create: function(){

					// 確認有選擇類型
					if(iser(this.category)){
						alertmessage('error', '類型尚未選擇')
						return -1
					}

					let fileObject = document.getElementById('id_fileObject').files[0]

					// 確認有選擇檔案
					if(iser(fileObject)){
						alertmessage('error', '檔案尚未選擇')
						return -1
					}

					transferData = {
						category: this.category,
						'fileObject': fileObject,
					}

					_.each(this.temp, function(v, k){
						transferData[k] = v.value
					})

					let vo = this; //this 在.done內會被復蓋

					rest_aj_upload(this.url, transferData)
					.done(function(data) {
						alertmessage('success', '成功更新資料(檔案)' +data['message'])
						//vo.clear()
					})
					.fail(function(data){
						alertmessage('error', '失敗更新資料(檔案)' +data['message'])
					})

				},
			},
		}

		vo_book = new Vue(opt);

	})

</script>

<div id="id_book">

	<h3 v-if="category!='self'"><legend>電子檔上傳</legend></h3>
	<h3 v-else><legend>掃描檔上傳</legend></h3>

	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="id_search_ISBN"><font style="color:red">*</font>ISBN:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="id_search_ISBN" name="ISBN"  placeholder="請輸入正確的ISBN(10碼或13碼）"
					pattern="(ISBN[-]*(1[03])*[ ]*(: ){0,1})*(([0-9Xx][- ]*){13}|([0-9Xx][- ]*){10})"
					v-model="search_ISBN"
				autofocus required>
			</div>
				<input id="get_isbn" type="button" class="btn btn-default" value="取得書籍資訊"
					v-bind:disabled="mode=='search'"
					v-on:click="search_ISBN_info()"
				>
				<img src="/static/ebookSystem/img/load.gif" v-bind:style="{ display:loading }" width="30px" height="30px" id="id_get_isbn_load_icon" />
				<button
					class="btn btn-primary"
					@click="openDialog('bis', this);"
				>更多查詢方式</button>
				<a type="button" class="btn btn-default" href="http://isbn.ncl.edu.tw/NCL_ISBNNet/H30_SearchBooks.php?PHPSESSID=3ovphpac0m41ducm3iiak2sfe5&Pact=DisplayAll" target="_blank" id="to_ISBNNet" title="開啟新視窗">國家圖書館書目資料查詢</a>
			<!-- <input type="button" class="btn btn-default" style="display: none;" value="是否人工輸入？" id="show_prop">-->
		</div> 
		<div v-for="(value, key) in temp">
			<div class="form-group">
				<label class="control-label col-sm-2"
					v-bind:for="'id_' +key"
				>
					<font style="color:red">*</font>{|{ value.show }|}：
				</label>
				<div class="col-sm-3">
					<input type="text" grp="changemode" class="form-control"
						v-bind:id="'id_' +key"
						v-bind:name="key"
						v-bind:value="temp[key].value"
						readonly="true"
					>
				</div>
			</div>
		</div>
		<template v-if="category!='self'">
			<div class="form-group">
				<label class="control-label col-sm-2" for="id_category">類型：</label>
				<div class="col-sm-3">
					<select
						class="form-control"
						v-model="category"
						id="id_category" name="category" required
					>
						<option value="" selected="selected">---------</option>
						<option value="txt">txt</option>
						<option value="epub">epub</option>
					</select>
				</div>
			</div> 
		</template>
		<div class="form-group">
			<label class="control-label col-sm-2" for="id_fileObject">文件：</label>
			<div class="col-sm-3">
				<input class="form-control-file" id="id_fileObject" name="fileObject" type="file" required />		  
			</div>
		</div> 
		<div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
			   <!-- <button class="btn btn-default" type="submit" id="send_id" name="send">傳送</button>-->
				<input v-on:click="create()" type="button" class="btn btn-primary upload" value="送出" id="send_id">
				<input type="reset" class="btn btn-danger" value="重置">
			</div>
		</div>
	</div>
	<modal :id_modal="'bis'">
		<template slot="header">
			<h4 class="modal-title">更多查詢方式</h4>
		</template>
		<template slot="body">
			<bookinfo_search v-on:bookinfo-out="search_ISBN_info_more($event)"></bookinfo_search>
		</template>
	</modal>
</div>