<script>

	function inactive_book(div_id, owner_id) {
		//client
		let client = new $.RestClient('/ebookSystem/api/');
		client.add('books');

		//read
		if(owner_id==='all'){
			c = client.books.read({'status': 0})
		}
		else {
			c = client.books.read({'status': 0, 'owner_id': owner_id})
		}

		c.done(function (data) {
			let sr = [];
			_.each(data, function (v, k) {

				let action = ''
				if(user.is_manager){
					action += `<a class="btn btn-default" role="button" href="/ebookSystem/review_document/` +v.ISBN +`" target="_blank" title="審核(另開新視窗)">審核</a>`
				}
				action += `<button class="btn btn-default send_button" type="button" name="delete" onclick="BookDeleterePository('` +v.ISBN +`')">刪除</button>`

				let o = {
					'ISBN': v.ISBN,
					'書名': v.book_info.bookname,
					'上傳者': v.owner,
					'上傳日期': v.upload_date,
					'動作': action,
				};

				sr.push(o);

			})

			//check
			if (iser(sr)) {
				$('#' +div_id).html('目前無資料');
				return;
			}

			//gentable
			let list_table = div_id + '_table' ;
			gentable(div_id, list_table, sr);

			//table
			$('#' + list_table).find('tr').each(function () {
				let tr = $(this);
				tr.css('text-align', 'center');
			})

		});

	}

	function edit_book(div_id, owner_id) {

		let book_data = [];

		//client
		let client = new $.RestClient('/ebookSystem/api/');
		client.add('books');

		//read
		if(owner_id==='all'){
			c1 = client.books.read({'status': 1})
			c2 = client.books.read({'status': 2})
		}
		else {
			c1 = client.books.read({'status': 1, 'owner_id': owner_id})
			c2 = client.books.read({'status': 2, 'owner_id': owner_id})
		}

		$.when(c1, c2).done(function( d1, d2 ) {
			let sr = [];

			book_data = book_data.concat(d1[0])
			book_data = book_data.concat(d2[0])

			_.each(book_data, function (v, k) {

				let action = '';
				action += `<button class="btn btn-default send_button" type="button" name="set_priority" onclick="BookSetPriority('` +v.ISBN +`')">設定權重</button>`
				action += `<a href="/ebookSystem/detail/` +v.ISBN +`/">分段資訊</a>`

				let o = {
					'ISBN': v.ISBN,
					'書名': v.book_info.bookname,
					'頁數/總頁數': v.finish_page_count +'/' +v.page_count,
					'已完成段數': v.finish_part_count,
					'時數': v.service_hours,
					'權重': v.priority,
					'動作': action,
				};

				sr.push(o);

			})

			//check
			if (iser(sr)) {
				$('#' +div_id).html('目前無資料');
				return;
			}

			//gentable
			let list_table = div_id + '_table' ;
			gentable(div_id, list_table, sr);

			//table
			$('#' + list_table).find('tr').each(function () {
				let tr = $(this);
				tr.css('text-align', 'center');
			})

		})

	}
</script>