<script src="/static/ebookSystem/js/httpVueLoader.js"></script>
<script type="text/javascript">
	function set_components(components) {
		let timestamp = '?' + Date.now();
		let components_array = [
			'book_download',
			'book_origin_download',
			'book_upload',
			'bookinfo_repository',
			'bookinfo_search',
			'disabilitycard',
			'drf',
			'ebook_assign_component',
			'eds-nav',
			'file_manager',
			'file_upload',
			'form',
			'list_vue_component',
			'modal',
			'serviceinfo_record',
			'set_password',
			'tab',
			'table-div',
			'table-div-filter',
			'table-div-order',
			'table-div-row',
			'user_permission',
		]
		_.each(components_array, function(v){
			url = '/static/ebookSystem/js/vue-component/' +v +'.vue' +timestamp
			//url = '/static/ebookSystem/js/vue-component/' +v +'.vue'
			components[v] = httpVueLoader(url)
		})
		return components
	}
	let components = set_components({})

	function set_pages(pages) {
		let timestamp = '?' + Date.now();
		let pages_array = [
			'genericUser/announcement',
			'genericUser/announcement_create',
			'genericUser/announcement_list',
			'genericUser/bannercontent_create',
			'genericUser/disabilitycard_manager',
			'genericUser/login',
			'genericUser/qanda_tutorial',
			'genericUser/register',
			'genericUser/retrieve',
			'genericUser/serviceinfo_list_check',
			'genericUser/serviceinfo_record',
			'genericUser/user_email',
			'genericUser/user_manager',
			'genericUser/user_person',
			
			'ebookSystem/book_create',
			'ebookSystem/book_detail',
			'ebookSystem/book_manager',
			'ebookSystem/book_person',
			'ebookSystem/book_repository',
			'ebookSystem/book_review',
			'ebookSystem/book_review_list',
			'ebookSystem/book_shelf',
			'ebookSystem/book_upload',
			'ebookSystem/bookorder_list',
			'ebookSystem/ebook_manager',
			'ebookSystem/ebook_review',
			'ebookSystem/ebook_review_list',
			'ebookSystem/service',
		]
		_.each(pages_array, function(v){
			url = '/static/ebookSystem/js/vue-component/page/' +v +'.vue' +timestamp
			//url = '/static/ebookSystem/js/vue-component/' +v +'.vue'
			pages[v] = httpVueLoader(url)
		})
		return pages
	}
	let pages = set_pages({})

</script>