<script type="text/x-template" id="assign-template">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-4">搜尋</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" v-model="filter_word">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-primary" @click="filter_user">確認</button>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-4">選擇使用者</label>
			<div class="col-sm-4">
				<select class="form-control" v-model="assign_user">
					<option value="">---</option>
					<template v-if="!iser(users)" v-for="(user, index) in users">
						<option
							:value="user.id"
						>
							{|{ user.username }|}
						</option>
					</template>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">預定完成時間</label>
			<div class="col-sm-4">
				<el-date-picker 
					v-model="deadline"
					type="date"
					value-format="yyyy-MM-dd"   
					placeholder="yyyy-MM-dd"
				></el-date-picker>
			</div>
		</div>
	</div>
</script>

<script>

	Vue.options.delimiters = ['{|{', '}|}'];

	Vue.component('assign-component', {
		template: '#assign-template',
		props: ['isbn_part'],
		data: function(){
			return {
				// assign data
				assign_user: '',
				deadline: '',	
				users: [],		 // present users
				orig_users: [],  // save api source users
				filter_word: '',
			}
		},
		computed: {
			url: function () {
				return '/ebookSystem/api/ebooks/' +this.isbn_part +'/'
			},
		},
		methods: {
			instance_set: function(pk){
				this.isbn_part = pk
			},
			save_assign: function(){
				self = this;
				// post to assign
				rest_aj_send(
					'post',
					this.url +'action/assign/',
					{
						'id': self.assign_user,
						'deadline': self.deadline,
					},
				)
				.done(function(data) {
					alertmessage('success', data['message'])
					.done(function(data) {
						location.reload()
					})
				})

			},
			filter_user: function(){
				let vo = this;
				vo.filter_word = vo.filter_word.trim();
				let filtered_users = vo.orig_users.filter(function(item, index, array){
					return item['username'].indexOf(vo.filter_word) !== -1 ;
				})
				vo.users = filtered_users;
			}
		},

		created () {
			let vo = this;
			rest_aj_send('get', '/genericUser/api/users/', {})
			.done(function(data) {
				console.log(data.data);
				_.each(data.data, function(v, k){
					vo.users.push({
						id: v['id'],
						username: v['username']
					})
					
				})
			})

			vo.orig_users = vo.users;

			let d = new Date();
			// deadline default 今天+3天
			vo.deadline = d.getFullYear()+'-'+(d.getMonth() + 1)+'-'+(d.getDate()+3); 
		},
		mounted () {
			//this.bus.$on('submit', this.save_assign)
		}
	})

</script>