<script type="text/x-template" id="ul-template">
	<div v-if="!iser(data)" :style="{ fontSize: fontSize + 'px' }">
		<ul>
			<li v-for="(value, key) in data">
				{|{ key }|} : {|{ value }|}
			</li>
		</ul>
	</div>
	<div v-else>
		無資料
	</div>
</script>

<script>

	Vue.options.delimiters = ['{|{', '}|}'];

	Vue.component('ul-component', {
		props: {
			data: Array,  // define type
			fontSize: {
	          type: Number,
	          default: 15
	        },
		},
		data: function () {
			return {
				numperpage: 10,
				pagenow: 1,
			}
		},
		computed: {
			numpage: function () {
				return Math.ceil(this.data.length / this.numperpage);
			},
			numrow: function () {
				return this.data.length
			},
			show_data: function () {
				start = this.numperpage *(this.pagenow -1)
				end = Math.min(this.numperpage *(this.pagenow), this.numrow)
				return this.data.slice(start, end)
			},
		},
		watch: {
			data: function (val) {
				this.pagenow = 1
			},
		},
		methods: {
		},
		template: '#ul-template',
	})

</script>