<script>


	function BookSetPriority(ISBN) {
		//變更書籍權重

		//div
		let div = $('#divmodal_BookSetPriority');

		//sel
		let sel = _.chain(_.range(10))
			.map(function (i) { return '<option value="' + i + '">' + i + '</option>' })
			.value()
		$('#divmodal_BookSetPriority_priority').html(sel);

		//clear password
		$('#divmodal_BookSetPriority_password').val('');

		//ok
		$('#divmodal_BookSetPriority_ok').off().on('click', function () {

			//password, priority
			let password = $('#divmodal_BookSetPriority_password').val();
			let priority = $('#divmodal_BookSetPriority_priority').find('option:selected').val();

			//aj_booksetpriority
			aj_booksetpriority(password, ISBN, priority)
				.done(function (data) {
					alertmessage('success', '成功設定權重')
						.done(function () {
							location.reload(); //重新載入網頁以更新資訊
						});
				})
				.fail(function (data) {
					alertmessage('error', xhr)
				})

			div.modal('hide');
		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#divmodal_BookSetPriority_password").off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_BookSetPriority_ok').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#divmodal_BookSetPriority_priority').focus();
		}, 500)

	}

</script>


<div id="divmodal_BookSetPriority" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="divmodal_BookSetPriority_title"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content alert-info" style="background-color: #f5f5f5;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="divmodal_BookSetPriority_title" class="modal-title">設定書籍權重</h4>
			</div>
			<div class="form-horizontal" style="padding:20px 20px; background-color:#fafafa;">

				<div class="form-group">
					<label for="divmodal_BookSetPriority_priority" class="control-label col-sm-4">請選擇權重</label>
					<div class="col-sm-5">
						<select id="divmodal_BookSetPriority_priority" class="form-control"></select>
					</div>
				</div>

				<div class="form-group">
					<label for="divmodal_BookSetPriority_password" class="control-label col-sm-4">請輸入密碼</label>
					<div class="col-sm-5">
						<input id="divmodal_BookSetPriority_password" type="password" class="form-control">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
				<button id="divmodal_BookSetPriority_ok" type="button" class="btn btn-primary">確定</button>
			</div>
		</div>
	</div>
</div>