<script>
	let vo_editor;
	let editor_mathml;
	let editor_svg = {};


	$(function () {

		//wiris
		editor_mathml = com.wiris.jsEditor.JsEditor.newInstance({ 'language': 'zh' });
		editor_mathml.insertInto(document.getElementById('div_editor_mathml'));

		//tinymce
		tinymce.init({
			selector: "#div_editor_normaltext",
			language: "zh_TW",
			plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak', 'searchreplace wordcount visualblocks visualchars code fullscreen', 'insertdatetime media nonbreaking save table contextmenu directionality', 'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'],
			toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons | codesample',
		});

	})


</script>


<script>


	//vu-editoritem
	Vue.component('vu-editoritem', {
		template: `
	<div ref="panel">
		<div ref="item" v-html="render(s)">
		</div>
	</div>
	`,
		props: ['s'],
		methods: {
			render: function (ss) {
				//console.log('methods render')

				let vo = this;

				//ele
				let ele = vo.$refs.item;
				let op = $(vo.$refs.panel);

				//mathml to svg
				if (ss.kind === 'mathml') {

					//key
					let key = md5(ss.data);

					if (haskey(editor_svg, key)) {

						//return svg
						return editor_svg[key]

					}
					else {

						//hide
						op.css('opacity', 0);

						//delay convert
						_.delay(function () {

							//convert
							MathJax.Hub.Queue(["Typeset", MathJax.Hub, ele], function () {

								//svg
								let svg = $(vo.$refs.panel).children().html(); //mathjax會對原ele進行替換，此處無法取得item只有panel

								//save svg
								editor_svg[key] = svg;

								//show
								op.animate({ 'opacity': 1 }, 300);

							});

						}, 1)

					}

				}

				return ss.data;
			}
		},
	})


	//vu-editor
	Vue.component('vu-editor', {
		template: `
	<div>

		<div style="padding:20px 20px; background-color:#fff; color:#666;">
				
			<div v-bind:iss="iss" v-bind:class="panelclass(ss,iss)" style="position:relative; padding:5px; margin-bottom:2px; min-height:35px;" v-on:click="s.focus=iss" v-on:dblclick="ckupdate(ss,iss)" v-for="(ss,iss) in s.data" v-if="s.mode==='forshow' || s.mode==='foredit'"> 

				<div style="position: absolute; top:5px; right:5px; text-align:right;" v-if="s.mode==='foredit'">
					<button class="iconbtn iconbtn-hover" type="button" title="複製" aria-label="複製" v-on:click.stop="ckcopy(ss,iss)">
						<span class="glyphicon glyphicon-floppy-save"></span>
					</button>
					<button class="iconbtn iconbtn-hover" type="button" title="編輯" aria-label="編輯" v-on:click.stop="ckupdate(ss,iss)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button v-bind:class="{ 'iconbtn':true, 'iconbtn-hover':iss!==0, 'iconbtn-disabled':iss===0 }" type="button" title="往上" aria-label="往上" v-on:click.stop="ckmove(ss,iss,'up')">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</button>
					<button v-bind:class="{ 'iconbtn':true, 'iconbtn-hover':iss!==s.data.length-1, 'iconbtn-disabled':iss===s.data.length-1 }" type="button" title="往下" aria-label="往下" v-on:click.stop="ckmove(ss,iss,'down')">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</button>
					<button class="iconbtn iconbtn-hover" type="button" title="刪除" aria-label="刪除" v-on:click.stop="ckdelete(ss,iss)">
						<span class="glyphicon glyphicon-remove-sign"></span>
					</button>
				</div>

				<div v-bind:style="itemstyle(ss)" v-if="s.mode==='forshow' || s.mode==='foredit'">
					<vu-editoritem v-bind:s="ss"></vu-editoritem>
				</div>
				
			</div>

		</div>
			
		<div class="modal-footer">

			<button type="button" class="btn btn-info pull-left" style="margin-right:5px;" v-on:click="ckcreate('normal')" v-if="s.mode==='foredit'">新增文字</button>
			<button type="button" class="btn btn-info pull-left" style="margin-right:5px;" v-on:click="ckcreate('mathml')" v-if="s.mode==='foredit'">新增公式</button>
	
			<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			<button id="btn_editor_document_save" ref="save" type="button" class="btn btn-primary">儲存</button>

		</div>
			
	</div>
	`,
		props: ['s'],
		methods: {

			defaultfocus: function () {
				//console.log('methods defaultfocus')

				let vo = this;

				//focus
				if (!iser(vo.s.focus)) {
					$('div[iss="' + vo.s.focus + '"]').find('button[title="編輯"]').focus();
				}
				else {
					$(vo.$refs.save).focus();
				}

			},

			panelclass: function (ss, iss) {
				//console.log('methods panelclass')

				let vo = this;

				let c = 'canhov canhov-lightgray';
				if (vo.s.focus === iss) {
					c = 'nowactive';
				}

				return c;
			},

			itemstyle: function (ss) {
				//console.log('methods itemstyle')

				let o = {};
				o['padding-right'] = '110px';
				if (ss.kind === 'mathml') {
					o['text-align'] = 'center';
					o['padding-top'] = '5px';
				}

				return o;
			},

			ckmove: function (ss, iss, mode) {
				//console.log('methods ckmove')

				let vo = this;

				//n
				let n = vo.s.data.length;

				//check
				if((mode === 'up' && iss===0) || (mode === 'down' && iss===n-1)){
					return;
				}

				//ltfcs
				let ltfcs = _.fill(n, 0);;
				ltfcs[vo.s.focus] = 1;

				//new index
				let r = [];
				_.each(_.times(n), function (ind) {
					let newinx = ind;
					if (mode === 'up') {
						if (iss > 0) {
							if (ind === iss - 1) {
								newinx = iss;
							}
							else if (ind === iss) {
								newinx = iss - 1;
							}
						}
					}
					else if (mode === 'down') {
						if (iss < n - 1) {
							if (ind === iss + 1) {
								newinx = iss;
							}
							else if (ind === iss) {
								newinx = iss + 1;
							}
						}
					}
					r.push(newinx);
				});

				//at focus
				ltfcs = _.at(ltfcs, r);
				vo.s.focus = _.indexOf(ltfcs, 1)

				//at data
				vo.s.data = _.at(vo.s.data, r);

				//focus
				if (mode === 'up' && iss>0) {
					$('div[iss="' + (iss-1) + '"]').find('button[title="往上"]').focus();
				}
				else if (mode === 'down' && iss<n-1) {
					$('div[iss="' + (iss+1) + '"]').find('button[title="往下"]').focus();
				}

			},

			ckcopy: function (ss, iss) {
				//console.log('methods ckcopy')

				let vo = this;

				//focus
				if(vo.s.focus > iss){
					vo.s.focus++;
				}
				
				//new data
				let r = [];
				_.each(vo.s.data, function (v, k) {
					if (k === iss) {
						r.push(_.cloneDeep(v));
					}
					r.push(v);
				})

				//biind
				vo.s.data = r;

			},

			ckupdate: function (ss, iss) {
				//console.log('methods ckupdate')

				let vo = this;

				if (ss.kind === 'normal') {
					editor_normal_show(ss.data)
						.done(function (data) {
							ss.data = data;
						})
				}
				else if (ss.kind === 'mathml') {
					editor_mathml_show(ss.data)
						.done(function (data) {
							ss.data = data;
						})
				}

			},

			ckdelete: function (ss, iss) {
				//console.log('methods ckdelete')

				let vo = this;

				//focus
				if(vo.s.focus > iss){
					vo.s.focus--
				}
				
				//reject
				let r = _.reject(vo.s.data, function (v, k) {
					return k === iss;
				});

				//biind
				vo.s.data = r;

			},

			ckcreate: function (kind) {
				//console.log('methods ckcreate')

				let vo = this;

				//df
				let df;
				if (kind === 'normal') {
					df = editor_normal_show('')
				}
				else if (kind === 'mathml') {
					df = editor_mathml_show('')
				}

				//done
				df.done(function (data) {

					//ss
					let ss = {
						kind: kind,
						data: data,
					};

					if (iser(vo.s.focus)) {

						//push
						vo.s.data.push(ss);

					}
					else if (vo.s.focus === vo.s.data.length - 1) {

						//push
						vo.s.data.push(ss);

					}
					else {

						//new data
						let r = [];
						_.each(vo.s.data, function (v, k) {
							r.push(v);
							if (vo.s.focus === k) {
								r.push(ss);
							}
						})

						//bind
						vo.s.data = r;

					}

				})

			},

		},
	})


	//editor_refresh
	function editor_refresh(arr) {

		//opt
		let opt = {
			el: '#' + 'divmodal_editor_list',
			data: {
				s: {
					data: arr,
					focus: null,
					mode: 'foredit', //forshow foredit
				}
			},
		};

		//vo
		if (iser(vo_editor)) {
			vo_editor = new Vue(opt);
		}
		else {
			vo_editor.s.data = arr;
			vo_editor.s.focus = null;
		}

	}


</script>


<script>


	function editor_recover() {
		//復原文件編輯視窗捲軸與限制駐點功能

		//afterhide
		lm_afterhide('divmodal_doceditor');

		//defaultfocus
		vo_editor.$refs.comp.defaultfocus();

	}


	function editor_normal_show(data) {
		//顯示一般文字編輯視窗

		//df
		let df = $.Deferred();

		//div
		let div = $('#divmodal_normaltext');

		//data
		if (iser(data)) {
			data = '';
		}

		//setContent
		tinymce.get('div_editor_normaltext').setContent(data);

		//click save
		$('#btn_editor_normaltext_save').off().on('click', function () {

			//datanew
			let datanew = tinymce.get('div_editor_normaltext').getContent();

			//resolve
			df.resolve(datanew);

			//hide
			div.modal('hide');

		})

		//cancel
		div.off().on('hidden.bs.modal', function (e) {

			//recover
			editor_recover();

			//reject
			df.reject();

		});

		//beforeshow
		lm_beforeshow('divmodal_doceditor');

		//show, 先載入資料再顯示使用者體驗比較好
		div.modal('show');

		//autofocus
		_.delay(function () {
			tinymce.get('div_editor_normaltext').focus();
		}, 500)

		return df;
	}


	function editor_mathml_show(data) {
		//顯示mathml編輯視窗

		//df
		let df = $.Deferred();

		//div
		let div = $('#divmodal_mathml');

		//data
		if (iser(data)) {
			data = '<math></math>';
		}

		//setMathML
		editor_mathml.setMathML(data);

		//click save
		$('#btn_editor_mathml_save').off().on('click', function () {

			//datanew
			let datanew = editor_mathml.getMathML();

			//resolve
			df.resolve(datanew);

			//hide
			div.modal('hide');

		})

		//cancel
		div.off().on('hidden.bs.modal', function (e) {

			//recover
			editor_recover();

			//reject
			df.reject();

		});

		//beforeshow
		lm_beforeshow('divmodal_doceditor');

		//show, 先載入資料再顯示使用者體驗比較好
		div.modal('show');

		//autofocus
		_.delay(function () {
			editor_mathml.focus();
		}, 500)

		return df;
	}


	function editor_show(data) {
		//顯示文件編輯器

		//df
		let df = $.Deferred();

		//div
		let div = $('#divmodal_doceditor');

		//refresh
		editor_refresh(data);

		//ok
		$('#btn_editor_document_save').off().on('click', function () {

			//resolve
			df.resolve(vo_editor.s.data);

			//hide
			div.modal('hide');

		})

		//cancel
		div.off().on('hidden.bs.modal', function (e) {

			//untrapfocus
			div.untrapfocus();

			//reject
			df.reject();

		});

		//show
		div.modal('show');

		//trapfocus
		div.trapfocus();

		//autofocus
		_.delay(function () {
			vo_editor.$refs.comp.defaultfocus();
		}, 500)

		return df;
	}


</script>


<div id="divmodal_doceditor" class="modal fade" tabindex="-1" role="dialog" style="z-index:10000;" aria-labelledby="divmodal_doceditor_title"
 aria-hidden="true">
	<div class="modal-dialog" role="document" style="width:95%;">
		<div class="modal-content alert-info" style="background-color: #fff;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="divmodal_doceditor_title" class="modal-title" style="color:#222;">文件編輯器</h4>
			</div>
			<vu-editor id="divmodal_editor_list" ref="comp" v-bind:s="s"></vu-editor>
		</div>
	</div>
</div>


<div id="divmodal_normaltext" class="modal fade" tabindex="-1" role="dialog" style="z-index:10001;" aria-labelledby="divmodal_normaltext_title"
 aria-hidden="true">
	<div class="modal-dialog" role="document" style="width:80%;">
		<div class="modal-content alert-info" style="background-color: #fff;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="divmodal_normaltext_title" class="modal-title" style="color:#222;">文字編輯器</h4>
			</div>
			<div style="padding:20px 20px; background-color:#fff; color:#666;">
				<div id="div_editor_normaltext"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button id="btn_editor_normaltext_save" type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>


<div id="divmodal_mathml" class="modal fade" tabindex="-1" role="dialog" style="z-index:10001;" aria-labelledby="divmodal_mathml_title"
 aria-hidden="true">
	<div class="modal-dialog" role="document" style="width:80%;">
		<div class="modal-content alert-info" style="background-color: #fff;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="divmodal_mathml_title" class="modal-title" style="color:#222;">MathML編輯器</h4>
			</div>
			<div style="padding:20px 20px; background-color:#fff; color:#666;">
				<div id="div_editor_mathml"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button id="btn_editor_mathml_save" type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>