<script>

	function receivebook_default(div_id, model_infos) {

		/*$("#" +div_id +" :input").filter(`[id^=id_` +div_id +`]`)
			.each(function() {
				$(this).val('')
			})

		$("#" +div_id +" option").filter(`[id^=id_` +div_id +`]`)
			.each(function() {
				if($(this).attr('che')==='txt'){
					$(this).attr('selected', '')
				}
			})*/

	}

	function receivebook(me, ebook, action) {
		//下載書籍或email寄送

		//me
		me = $(me);
		//ISBN
		let ISBN = me.attr('ISBN');

		//div
		let dialog_id='bookdownload_dialog';

		let div
		div = $('#' +dialog_id);
		if (div.length <= 0){
			title = '取得書籍';

			model_infos = {
				'format': {
					'label': '類型',
					'type': 'select',
					'remark': '',
					'choices' : {
						'epub' :'電子書(epub)',
						'txt': '純文字(txt)',
					},
				},
				'password': {
					'label': '密碼',
					'type': 'password',
					'remark': '',
				},
			}

			dialog_create("divmodal_dialog_root", dialog_id, title, model_infos)

			div = $('#' +dialog_id);

		}

		//default
		receivebook_default(dialog_id, model_infos);

		//ok
		$('#divmodal_' +dialog_id +'_ok').off().on('click', function () {

			//transferData
			let transferData = {};

			$("#" +dialog_id +" :input").filter(`[id^=id_` +dialog_id +`]`)
			.each(function() {
				if(0){}
				else {
					transferData[$(this).attr('name')] = $(this).val()
				}
			})

			$("#" +dialog_id +" :checked")
			.each(function() {
				transferData[$(this).attr('name')] = $(this).attr('che')
			})

			$("#" +dialog_id +" :selected")
			.each(function() {
				transferData[$(this).attr('name')] = $(this).attr('che')
			})

			transferData['action'] = action;
			console.log(transferData)

			//aj
			let url;
			let df;
			if (ebook === false) {
				url = '/ebookSystem/book_download/' + ISBN;
				if (action === 'download') {
					//console.log('aj_binary',ebook,url,transferData)
					df = aj_binary(url, transferData);
				}
				else {
					//console.log('aj_post',ebook,url,transferData)
					df = aj_post(url, transferData);
				}
			}
			else {
				url = '/ebookSystem/ebook_download/' + ISBN;
				if (action === 'download') {
					//console.log('aj_binary',ebook,url,transferData)
					df = aj_binary(url, transferData);
				}
				else {
					//console.log('aj_post',ebook,url,transferData)
					df = aj_post(url, transferData);
				}
			}

			//df
			df
				.done(function (data) {
					alertmessage(data['status'], data['message']);
				})
				.fail(function (data) {
					alertmessage(data['status'], data['message']);
				})

			//hide
			div.modal('hide');

		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#id_" +dialog_id +'_password').off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_' +dialog_id +'_ok').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#id_' +dialog_id +'_password').focus();
		}, 500)

	}

</script>