<script>

	function usermodel_dialog_create(div_id, model_infos) {

		let input_content = ''
		_.each(model_infos,function(v,k){
			if(v.type==='text'){
			input_content = input_content
				+`<label>
					<span>` +v.label +`</span>
					<input id="id_usermodel_` +k +`" name="` +k +`"type="` +v.type +`" class="form-control">
				</label>`
			}
			else if(v.type==='checkbox'){
				input_content = input_content
				+`<label>
					<span>` +v.label +`</span>
					<input id="id_usermodel_` +k +`" name="` +k +`" type="` +v.type +`" check="` +v.value +`" class="form-control">
				</label>`
			}

		})

		modal_template = `
		<div id=` +div_id +` class="modal fade" tabindex="-1" role="dialog" aria-labelledby="divmodal_downloadbook_title"aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content alert-info" style="background-color: #f5f5f5;">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 id="divmodal_usermodel_title" class="modal-title">基本資料</h4>
					</div>
					<div style="padding:40px 10px 20px 10px; background-color:#fafafa;">
						<div class="form-group form-inline text-center">`
						+ input_content
						+`</div>
					</div>
					<div class="modal-footer">
						<button id="divmodal_usermodel_ok" type="button" class="btn btn-primary">確定</button>
					</div>
				</div>
			</div>
		</div>`
		$('#modal_dialog').append(modal_template)

	}

	function usermodel_dialog_default(id, model_infos) {
		let client = new $.RestClient('/genericUser/api/');
		client.add('users');

		//read
		client.users.read(1)
			.done(function (data) {
				_.each(model_infos, function (v, k){
					if(model_infos[k].type==='text'){
						$(`#id_usermodel_` +k).val(data[k])
					}
					else if(model_infos[k].type==='checkbox'){
						$(`#id_usermodel_` +k).attr('checked', 'true')
					}
				})
			})
	}

	function usermodel(id) {
		//下載書籍或email寄送

		//me
		//me = $(me);

		//div
		let div
		div = $('#divmodal_usermodel');
		if (div.length <= 0){
			model_infos = {
				'username': {
					'label': '使用者名稱',
					'type': 'text',
				},
				'email': {
					'label': '信箱',
					'type': 'text',
				},
				'first_name': {
					'label': '性氏',
					'type': 'text',
				},
				'last_name': {
					'label': '名字',
					'type': 'text',
				},
				'phone': {
					'label': '聯絡電話',
					'type': 'text',
				},
				'birthday': {
					'label': '生日',
					'type': 'text',
				},
				'education': {
					'label': '教育程度',
					'type': 'text',
				},
				'is_book': {
					'label': '訂閱訊息',
					'type': 'checkbox',
				},
				'org': {
					'label': '隸屬單位',
					'type': 'text',
				},
			}
			usermodel_dialog_create("divmodal_usermodel", model_infos)

			div = $('#divmodal_usermodel');

		}


		//default
		usermodel_dialog_default(1, model_infos);

		//ok
		$('#divmodal_usermodel_ok').off().on('click', function () {

			//transferData
			let transferData = {};

			$("#divmodal_usermodel :input").filter("[id^=id_usermodel]")
			.each(function() {
				transferData[$(this).attr('name')] = $(this).val()
			})
			console.log(transferData)

		/*let client = new $.RestClient('/genericUser/api/');
		client.add('users');
		client.users.addVerb('partial_update', 'PATCH');

		client.users.partial_update(1, {'email': '123'})
				.done(function (data) {
					console.log(data)
				})*/

			//aj
			let url;
			let df;
			/*if (ebook === false) {
				url = '/ebookSystem/book_download/' + ISBN;
				if (action === 'download') {
					//console.log('aj_binary',ebook,url,transferData)
					df = aj_binary(url, transferData);
				}
				else {
					//console.log('aj_post',ebook,url,transferData)
					df = aj_post(url, transferData);
				}
			}
			else {
				url = '/ebookSystem/ebook_download/' + ISBN;
				if (action === 'download') {
					//console.log('aj_binary',ebook,url,transferData)
					df = aj_binary(url, transferData);
				}
				else {
					//console.log('aj_post',ebook,url,transferData)
					df = aj_post(url, transferData);
				}
			}

			//df
			df
				.done(function (data) {
					alertmessage(data['status'], data['message']);
				})
				.fail(function (data) {
					alertmessage(data['status'], data['message']);
				})*/

			//hide
			div.modal('hide');

		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#divmodal_downloadbook_password").off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_downloadbook_submit').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#divmodal_downloadbook_password').focus();
		}, 500)

	}

</script>

<div id="modal_dialog_usermodel"></div>
