<script>


	function UserPermission(userid) {
		//顯示與編輯使用者權限

		//div
		let div = $('#divmodal_UserPermission');

		//aj_user_queryid
		aj_user_queryid(userid, 'role')
			.done(function (data) {

				let d = data[0];

				//c
				let c = '';
				_.each(d, function (value, head) {
					if (head !== 'id') {

						//key
						let key = aj_user_head2key(head);

						//checked
						let checked = '';
						if (value === 'True') {
							checked = 'checked';
						}

						//inpid
						let inpid = 'id_' + key;

						//ui
						c += '<div style="margin:15px 0px;">';
						c += '<div style="display: flex; align-items: center; justify-content: flex-start;">';
						c += '<input id="' + inpid + '" type="checkbox" style="margin:0px 3px 0px 0px; padding:0px; cursor:pointer;" name="UserPermission_grp" key="' + key + '" ' + checked + '>';
						c += '<label for="' + inpid + '" style="margin:0px; padding:0px; cursor:pointer;">' + head + '</label>';
						c += '</div>';
						c += '</div>';

					}
				})

				//html
				$('#divmodal_UserPermission_list').html(c);

			})
			.fail(function (msg) {

				//alertmessage
				alertmessage('error', msg)

			})

		//ok
		$('#divmodal_UserPermission_ok').off().on('click', function () {

			//url
			let url = '/genericUser/api/users/' +userid +'/'

			//transferData
			let transferData = {};
			$('input[name="UserPermission_grp"]').each(function () {
				let inp = $(this);
				let checked = inp.prop('checked');
				let key = inp.attr('key');
				transferData[key] = checked;
			})

			//aj_user_updateid
			rest_aj_send('patch', url, transferData)
				.done(function(data, textStatus, xhr) {
					alertmessage('success', data['message'] +'更新已完成')
						.done(function () {
							location.reload(); //重新載入網頁以更新資訊
						});
				})
				.fail(function(data){
					alertmessage('error', data['message'])
				})

			div.modal('hide');
		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			div.find('input').eq(0).focus();
		}, 500)

	}

</script>


<div id="divmodal_UserPermission" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="divmodal_UserPermission_title"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content alert-info" style="background-color: #f5f5f5;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="divmodal_UserPermission_title" class="modal-title">編輯使用者權限</h4>
			</div>
			<div style="padding:20px 20px; background-color:#fafafa;">

				<div id="divmodal_UserPermission_list"></div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
				<button id="divmodal_UserPermission_ok" type="button" class="btn btn-primary">確定</button>
			</div>
		</div>
	</div>
</div>