<script>

	function user_getOTP(user_id, otp_type) {

		let dialog_id = 'user_getOTP';
		let title = '';
		let otpID;
		if(otp_type == 'email') {
			title = '信箱驗證碼';
		} else if(otp_type == 'phone') {
			title = '手機驗證碼';
		}

		//div
		let div
		div = $('#' +dialog_id);
		if (div.length <= 0){
			model_infos = {
				'verification_code': {
					'label': '驗證碼',
					'type': 'otp',
					'remark': otp_type,
				},
			}
			dialog_create('divmodal_dialog_root', dialog_id, title, model_infos)

		div = $('#' +dialog_id);

		}

		// generate otp to email/phone
		$('#get_otp').off().on('click', function () {

			//transferData
			console.log(otp_type);
			let transferData = {'generate': otp_type};

			let url = '/genericUser/api/users/' +user_id +'/action/verify/';
			
			rest_aj_send('post', url, transferData)
				.done(function(data, textStatus, xhr) {
					console.log('success');
					$('#get_otp').addClass("disabled");

					// $('#id_send_info').text("已傳送到"+$('#id_send_value').val());

					$('#id_send_info').text("已傳送");
	                $('#get_otp').html('取得驗證碼<span class="badge">600</span>');
	                var w=600;
	                otpID=setInterval(function(){ 
	                    if(w==0){
	                        clearInterval(otpID);
	                        $('#get_otp').removeClass("disabled");
	                        $('#get_otp').html('取得驗證碼');
	                        $('#id_send_info').text("");
	                    }else{
	                        w--;
	                        $('#get_otp').html('取得驗證碼<span class="badge">'+w+'</span>');
	                    }
	                }, 1000);
				})
				.fail(function(data){
					console.log('fail');
					alertmessage('error', '失敗' +data['detail']);
				})
		});

		// ok or send otp button
		$('#divmodal_' +dialog_id +'_ok, #send_otp').off().on('click', function () {

			//transferData
			let transferData = {};

			$("#" +dialog_id +" :input").filter("[id^=id_" +dialog_id +"]")
			.each(function() {

				transferData[$(this).attr('name')] = $(this).val();

			})
			transferData['type'] = otp_type;
			console.log(transferData);

			let url = '/genericUser/api/users/' +user_id +'/action/verify/';
			rest_aj_send('post', url, transferData)
				.done(function(data, textStatus, xhr) {
					// alertmessage('success', '已驗證完成');
					alertmessage('success', data['message']);
				})
				.fail(function(data){
					// alertmessage('error', '請重新確認驗證碼');
					alertmessage('error', data['message']);
				})

			//hide
			div.modal('hide');

		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#id_" +dialog_id +'_password').off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_' +dialog_id +'_ok').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#id_' +dialog_id +'_password').focus();
		}, 500)

	}

</script>