<script>

	function user_password_dialog_default(create_id, id, model_infos) {

	}

	function user_password(user_id) {

		let dialog_id = 'user_password';

		//div
		let div
		div = $('#' +dialog_id);
		if (div.length <= 0){
			model_infos = {
				'old_password': {
					'label': '原密碼',
					'type': 'password',
					'remark': '請輸入原密碼',
				},
				'new_password1': {
					'label': '新密碼',
					'type': 'password',
					'remark': '請輸入新密碼',
				},
				'new_password2': {
					'label': '確認新密碼',
					'type': 'password',
					'remark': '請輸入確認新密碼',
				},
			}
			dialog_create('divmodal_dialog_root', dialog_id, '基本資料修改', model_infos)

		div = $('#' +dialog_id);

		}

		//default
		user_password_dialog_default(dialog_id, user_id, model_infos);

		//ok
		$('#divmodal_' +dialog_id +'_ok').off().on('click', function () {

			//transferData
			let transferData = {};

			$("#" +dialog_id +" :input").filter("[id^=id_" +dialog_id +"]")
			.each(function() {

				transferData[$(this).attr('name')] = $(this).val()

				// transferData[$(this).attr('name')] = $(this).val()
			})

			let url = '/genericUser/api/users/' +user_id +'/action/set_password/';
			rest_aj_send('post', url, transferData)
				.done(function(data) {
					alertmessage('success', data['message']);
				})
				.fail(function(data){
					alertmessage('error', data['message']);
				})

			//hide
			div.modal('hide');

		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#id_" +dialog_id +'_password').off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_' +dialog_id +'_ok').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#id_' +dialog_id +'_password').focus();
		}, 500)

	}

</script>