<script>
	function otp_dialog_create(root_id, create_id,title, model_infos) {

		let input_content = '';
		input_content += '<div class="form-horizontal">';
		_.each(model_infos,function(v,k){
			
			// 信箱/手機 驗證碼
			input_content = input_content
			+ '\
			<div class="form-group">\
				<label class="control-label col-sm-2" for="id_' +create_id +'_' + k + '"><font style="color:red">*</font><span>' + v.label + '</span></label>\
				<div class="col-sm-4">\
				<input id="id_' +create_id +'_' + k + '" name="' +k + '" class="form-control" type="text">\
				</div>\
				<button type="button" class="btn btn-primary" id="send_otp" value="' + v.type +'">送出驗證碼</button>\
				<button type="button" class="btn btn-primary" id="get_otp" value="' + v.type +'">取得驗證碼</button>\
				<span id=id_send_info><span>\
			</div>';
			
		})
		input_content += '</div>';

		modal_template = `
		<div id="` +create_id +`" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="divmodal_downloadbook_title"aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content alert-info" style="background-color: #f5f5f5;">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 id="divmodal_` +create_id +`_title" class="modal-title">` +title +`</h4>
					</div>
					<div style="padding:40px 10px 20px 10px; background-color:#fafafa;">
						`
						+ input_content
						+`
					</div>
				</div>
			</div>
		</div>`
		$('#' +root_id).append(modal_template)

	}

	function user_getOTP(user_id, otp_type) {

		let dialog_id = 'user_getOTP';
		let title = '';
		let otpID;
		if(otp_type == 'email') {
			title = '信箱驗證碼';
		} else if(otp_type == 'phone') {
			title = '手機驗證碼';
		}

		//div
		let div
		div = $('#' +dialog_id);
		if (div.length <= 0){
			model_infos = {
				'verification_code': {
					'label': '驗證碼',
					'type': otp_type,
				},
			}
			otp_dialog_create('divmodal_dialog_root', dialog_id, title, model_infos)

		div = $('#' +dialog_id);

		}

		// generate otp to email/phone
		$('#get_otp').off().on('click', function () {

			//transferData
			let transferData = {'generate': otp_type};

			let url = '/genericUser/api/users/' +user_id +'/action/verify/';
			
			rest_aj_send('post', url, transferData)
				.done(function(data, textStatus, xhr) {
					alertmessage('success', data['message']);
					$('#get_otp').addClass("disabled");

					// $('#id_send_info').text("已傳送到"+$('#id_send_value').val());

					$('#id_send_info').text("已傳送");
	                $('#get_otp').html('取得驗證碼<span class="badge">600</span>');
	                var w=600;
	                otpID=setInterval(function(){ 
	                    if(w==0){
	                        clearInterval(otpID);
	                        $('#get_otp').removeClass("disabled");
	                        $('#get_otp').html('取得驗證碼');
	                        $('#id_send_info').text("");
	                    }else{
	                        w--;
	                        $('#get_otp').html('取得驗證碼<span class="badge">'+w+'</span>');
	                    }
	                }, 1000);
				})
				.fail(function(data){
					alertmessage('error', data['message']);
				})
		});

		// ok or send otp button
		$('#divmodal_' +dialog_id +'_ok, #send_otp').off().on('click', function () {

			//transferData
			let transferData = {};

			$("#" +dialog_id +" :input").filter("[id^=id_" +dialog_id +"]")
			.each(function() {

				transferData[$(this).attr('name')] = $(this).val();

			})
			transferData['type'] = otp_type;
			// console.log(transferData);

			let url = '/genericUser/api/users/' +user_id +'/action/verify/';
			rest_aj_send('post', url, transferData)
				.done(function(data, textStatus, xhr) {
					// alertmessage('success', '已驗證完成');
					alertmessage('success', data['message']);
				})
				.fail(function(data){
					// alertmessage('error', '請重新確認驗證碼');
					alertmessage('error', data['message']);
				})

			//hide
			div.modal('hide');

		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#id_" +dialog_id +'_password').off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_' +dialog_id +'_ok').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#id_' +dialog_id +'_password').focus();
		}, 500)

	}

</script>