<script>

	function dialog_create(root_id, create_id,title, model_infos) {

		let input_content = '';
		input_content += '<div class="form-horizontal">';
		_.each(model_infos,function(v,k){
			
			if(v.type==='text' || v.type==='password'){
				input_content = input_content
				+ '<div class="form-group">\
					<label class="control-label col-sm-2" for="id_' +create_id +'_' + k + '"><font style="color:red">*</font><span>' + v.label + '</span></label>\
					<div class="col-sm-4">\
					<input id="id_' +create_id +'_' + k + '" class="form-control" type="' + v.type + '" name="' +k + '" maxlength="30">\
					</div>\
					<label class="control-label col-sm-4" for="id_' +create_id +'_' + k + '" style="text-align:left;"><font style="color:red">' + v.remark + '</font></label>\
				</div>';
			}
			else if(v.type==='checkbox'){
				// check value delete --> no mean?
				input_content = input_content
				+ '<div class="form-group">\
					<label class="control-label col-sm-2" for="id_' +create_id +'_' + k + '"><font style="color:red">*</font><span>' + v.label + '</span></label>\
					<div class="col-sm-4">\
					<input id="id_' +create_id +'_' + k + '" type="' + v.type + '" name="' +k + '" check="">\
					</div>\
					<label class="control-label col-sm-4" for="id_' +create_id +'_' + k + '" style="text-align:left;"><font style="color:red">' + v.remark + '</font></label>\
				</div>';
			}
			else if(v.type==='date'){
				input_content = input_content
				+ '<div class="form-group">\
					<label class="control-label col-sm-2" for="id_' +create_id +'_' + k + '"><font style="color:red">*</font><span>' + v.label + '</span></label>\
					<div class="col-sm-4">\
					<input id="id_' +create_id +'_' + k + '" name="' +k + '" class="form-control" type="text" data-date-format="yyyy-mm-dd">\
					</div>\
					<label class="control-label col-sm-4" for="id_' +create_id +'_' + k + '" style="text-align:left;"><font style="color:red">' + v.remark + '</font></label>\
				</div>';
			}
			else if(v.type==='select'){
				let select_content = '';

				_.each(v.choices,function(vi, ki){
						select_content = select_content +
						'<option value="' + ki +'" >'+ vi +'</option>';
					})

				input_content = input_content
				+ '<div class="form-group">\
					<label class="control-label col-sm-2" for="id_' +create_id +'_' + k + '"><font style="color:red">*</font><span>' + v.label + '</span></label>\
					<div class="col-sm-4">\
					<select id="id_' +create_id +'_' + k + '" name="' +k + '" class="form-control">'
					+ select_content +
					'</select>\
					</div>\
					<label class="control-label col-sm-4" for="id_' +create_id +'_' + k + '" style="text-align:left;"><font style="color:red">' + v.remark + '</font></label>\
				</div>';

			}
		})
		input_content += '</div>';

		modal_template = `
		<div id="` +create_id +`" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="divmodal_downloadbook_title"aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content alert-info" style="background-color: #f5f5f5;">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 id="divmodal_` +create_id +`_title" class="modal-title">` +title +`</h4>
					</div>
					<div style="padding:40px 10px 20px 10px; background-color:#fafafa;">
						`
						+ input_content
						+`
					</div>
					<div class="modal-footer">
						<button id="divmodal_` +create_id +`_ok" type="button" class="btn btn-primary">確定</button>
					</div>
				</div>
			</div>
		</div>`
		$('#' +root_id).append(modal_template)

	}

	function usermodel_dialog_default(create_id, id, model_infos) {
		let client = new $.RestClient('/genericUser/api/');
		client.add('users');

		//read
		client.users.read(id)
			.done(function (data) {
				_.each(model_infos, function (v, k){
					if(model_infos[k].type==='checkbox'){
						if(data[k] == true){
							$(`#id_` +create_id +`_` +k).attr('checked', true);
						} else{
							$(`#id_` +create_id +`_` +k).attr('checked', false);
						}
						
					}
					else if(model_infos[k].type==='date'){
						$(`#id_` +create_id +`_` +k).datepicker("setDate", moment(data[k]).format('YYYY-MM-DD'));
					}
					else {
						$(`#id_` +create_id +`_` +k).val(data[k]).change();
					}
				})
			})
	}

	function usermodel(user_id) {

		let dialog_id = 'usermodel';

		let org_choices = [];
		let client = new $.RestClient('/genericUser/api/');
		client.add('organizations');

		client.organizations.read()
			.done(function (data) {
			let $org_select = $('#id_usermodel_org');
			$org_select.empty();
			$org_select.append($('<option>', {
					value: '',
					text: '其它',
				}));

			_.each(data,function(v,k){

				$org_select.append($('<option>', {
					value: v['id'],
					text: v['name'],
				}));
			})
		})

		//div
		let div
		div = $('#' +dialog_id);
		if (div.length <= 0){
			model_infos = {
				'email': {
					'label': '信箱',
					'type': 'text',
					'remark': '請填寫電子信箱',
				},
				'first_name': {
					'label': '性氏',
					'type': 'text',
					'remark': '請填寫中文姓氏',
				},
				'last_name': {
					'label': '名字',
					'type': 'text',
					'remark': '請填寫中文名字',
				},
				'phone': {
					'label': '聯絡電話',
					'type': 'text',
					'remark': '請填寫手機',
				},
				'birthday': {
					'label': '生日',
					'type': 'date',
					'remark': '請填寫生日，範例日期格式：1989-02-19',
				},
				'education': {
					'label': '教育程度',
					'type': 'select',
					'remark': '請選擇教育程度',
					'choices' : {
						'' :'---------',
						'國小': '國小',
						'國中': '國中',
						'高中': '高中',
						'學士': '學士',
						'碩士': '碩士',
					},
				},
				'is_book': {
					'label': '訂閱訊息',
					'type': 'checkbox',
					'remark': '訂閱訊息',
				},
				'org': {
					'label': '隸屬單位',
					'type': 'select',
					'remark': '請選擇所屬單位',
				},
			}
			dialog_create('divmodal_dialog_root', dialog_id, '基本資料修改', model_infos)

		div = $('#' +dialog_id);

		}

		//default
		usermodel_dialog_default(dialog_id, user_id, model_infos);

		//ok
		$('#divmodal_' +dialog_id +'_ok').off().on('click', function () {

			//transferData
			let transferData = {};

			$("#" +dialog_id +" :input").filter("[id^=id_" +dialog_id +"]")
			.each(function() {
				let name = $(this).attr('name');
				if (name==='is_book') {
					if ($(this).is(":checked")) {
						transferData[name] = true;
					} else {
						transferData[name] = false;
					}
				} 
				else {
					transferData[name] = $(this).val();
				}

				// transferData[$(this).attr('name')] = $(this).val()
			})
			//console.log(transferData);

			let url = '/genericUser/api/users/' +user_id +'/';
			rest_aj_send('patch', url, transferData)
				.done(function(data, textStatus, xhr) {
					alertmessage('success', data['message'] +'更新已完成')
						.done(function () {
							location.reload(); //重新載入網頁以更新資訊
						});
				})
				.fail(function(data){
					alertmessage('error', data['message'])
					.done(function() {
						usermodel(user_id)
					})
				})

			//hide
			div.modal('hide');

		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//enter
		$("#id_" +dialog_id +'_password').off().on('keypress', function (event) {
			if (event.which === 13) {
				event.preventDefault();
				$('#divmodal_' +dialog_id +'_ok').click();
			}
		});

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			$('#id_' +dialog_id).focus();
		}, 500)

	}

</script>