<script>


    function userpermission_inputchange(tarid){
        let o=$('#'+tarid);
        o.prop('checked',!o.prop('checked'));
    }


    function userpermission(userid){
        //顯示與編輯使用者權限

        //div
        let div=$('#divmadal_userpermission');

        //aj_user_queryid
        aj_user_queryid(userid,'role')
        .done(function(data){

            let d=data[0];
            //console.log(d)

            //c
            let c='';
            _.each(d,function(value,head){
                //console.log(v,k,aj_user_head2key(k))
                let key=aj_user_head2key(head);

                if(head!=='id'){
                    let inpid='id_'+key;

                    c+='<div style="margin:15px 0px;">';

                    c+='<div class="inputslide" style="display:inline-block; margin:0px 10px; cursor:pointer;" onclick="userpermission_inputchange(\''+inpid+'\')">';
                    c+='<input type="checkbox" id="'+inpid+'" name="userpermission_grp" key="'+key+'" checked="'+value+'"/>';
                    c+='<label for="'+inpid+'"></label>';
                    c+='</div>';

                    c+='<div style="display:inline-block; cursor:pointer;" onclick="userpermission_inputchange(\''+inpid+'\')">'+head+'</div>';

                    c+='</div>';
                }

            })
            
            //html
            $('#divmadal_userpermission_list').html(c);

        })
        .fail(function(msg){
            
			//alertmessage
			alertmessage('error', msg)

        })

        //ok
        $('#divmadal_userpermission_ok').off().on('click', function(){

            //transferData
            let transferData={};
            $('input[name="userpermission_grp"]').each(function(){
                let inp=$(this);
                let checked=inp.prop('checked');
                let key=inp.attr('key');
                transferData[key]=checked;
            })

            //aj_user_updateid
            aj_user_updateid(userid,'role',transferData);

            div.modal('hide');
        });

        //cancel
        $('#divmadal_userpermission_cancel').off().on('click', function () {
            div.modal('hide');
        })

        //show
        div.modal('show');

        //autofocus
        _.delay(function(){
            //$('#divmadal_userpermission_msg').focus();
        },500)
        
    }

</script>


<div id="divmadal_userpermission" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="divmadal_userpermission_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content alert-info" style="background-color: #f5f5f5;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="divmadal_userpermission_title" class="modal-title">編輯使用者權限</h4>
            </div>
            <div style="padding:20px 20px; background-color:#fafafa;">

                <div id="divmadal_userpermission_list"></div>

            </div>
            <div class="modal-footer">
                <button id="divmadal_userpermission_cancel" type="button" class="btn btn-danger">取消</button>
                <button id="divmadal_userpermission_ok" type="button" class="btn btn-primary">確定</button>
            </div>
        </div>
    </div>
</div>

