<!--  scoped CSS -->
<style scoped>
.table {
  margin: 10px 0px;
}

.table > thead {
  background-color: #eee;
}

.table tr {
  border: 0px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table > thead > tr > th {
  text-align: center;
  vertical-align: top;
  padding: 10px 0px;
  border: 0px; 
  border-top: 1px solid #ddd;
}

.table > tbody > tr > td {
  vertical-align: top;
  padding: 5px;
}
</style>

<script type="text/x-template" id="table-template">
	<div v-if="!iser(data)">
		<table class="table table-hover table-rwd">
			<thead>
				<tr class="tr-only-hide">
					<th v-for="(value, key) in data[0]">
						{|{ key }|}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in data">
					<td v-for="cell in entry">
						<div v-html="cell"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div v-else>
		無資料
	</div>
</script>

<script type="text/x-template" id="tab-table-template">
	<div>
		<ul class="nav nav-tabs">
			<template v-for="(entry, index) in data">
				<li :class="{'active':(index===0)}"><a :href="'#index_tab_' +entry.label" name="index_tab_grp" data-toggle="tab" :aria-expanded="!!(index===0)" @click="pagetab_subtabfix(this);">{|{ entry.label }|}</a></li>
			</template>
		</ul>

		<div class="tab-content" style="padding:20px 0px;">
			<div
				v-for="(entry, index) in data"
				:id="'index_tab_' +entry.label"
				:class="{'tab-pane':true, 'active':(index===0)}"
			>
				<h4 class="textfornvda">{|{ entry.label }|}</h4>
				<table-component
					:data="entry.data"
				>
				</table-component>
			</div>
		</div>

	</div>

</script>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	Vue.component('table-component', {
		props: {
			data: Array,  // define type
		},
		template: '#table-template',
	})

	Vue.component('tab-table-component', {
	  props: {
		data: Array,  // define type
		},
		template: '#tab-table-template',
	})

</script>