<div id="token">

	<!--<div style="display: none;">-->
	<div>
		<div>取得時間：{|{ token.get_orig_iat_date() }|}</div>
		<div>到期時間：{|{ token.get_exp_date() }|}</div>
		<div>到期：{|{ token.check_exp() }|}</div>
		<div>啟用：{|{ token.check_active() }|}</div>
		<div>{|{ count }|}</div>
		<div>
			<button @click="show_obtain">token 取得</button>
		</div>
	</div>

	<modal id_modal="token_modal" ref="token_modal">
		<template slot="header">
			<h4 class="modal-title">token 登入</h4>
		</template>
		<template slot="body">
			<div class="form-horizontal">
				<form-drf 
					:model_info="model_info.username"
					:field="'username'"
					:offset-class="'col-sm-offset-3'"
					v-model="username"
					@keyup.enter.native="obtain()"
				></form-drf>

				<form-drf 
					:model_info="model_info.password"
					:field="'password'"
					:offset-class="'col-sm-offset-3'"
					v-model="password"
					@keyup.enter.native="obtain()"
				></form-drf>
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-5">
						<button class="form-control btn btn-primary" @click="obtain()">登錄</button>
						<button class="form-control btn btn-primary" @click="remove()">不登錄</button>
					</div>
				</div>
			</div>
		</template>
	</modal>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	vuetoken = new Vue({
		el: '#token',
		components: {
			'form-drf': components['form'],
			'modal': components['modal'],
		},
		data: {
			username: '',
			password: '',
			model_info: {
				'username': {
					'label': '帳號',
					'type': 'text',
				},
				password: {
					'label': '密碼',
					'type': 'password',
				},
			},
			name: 'token',
			token: token,
			count: 0,
		},
		mounted: function(){
			let self = this

			token.set(self.name);
			token.load();

			{
				let period_second = 20;
				let period_time = period_second * 1000;

				setTimeout(function() {
					if(token.check_exp()){
						self.show_obtain();
					}
					if(token.check_exp_come_soon(period_second +10)){
						token.refresh();
						token.save();
					}
				}, 1000);
				setInterval(function () {
					if(token.check_exp()){
						self.show_obtain();
					}
					if(token.check_exp_come_soon(period_second +10)){
						token.refresh();
						token.save();
					}
					self.count = self.count +1;
				}, period_time);
			}

		},
		methods: {
			show_obtain: function () {
				let self = this;
				self.clear();
				//token.remove();
				token.load();
				self.$refs.token_modal.open('token');
			},
			obtain: function () {
				let self = this;

				token.obtain(self.username, self.password)
				.done(function(data) {
					alertmessage('success', '成功 obtain token')
					token.save();
					self.$refs.token_modal.close();
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})

			},
			refresh: function () {
				let self = this;

				token.refresh()
				.done(function(data) {
					alertmessage('success', '成功 refresh token')
					token.save();
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})

			},
			remove: function () {
				token.remove();
				this.$refs.token_modal.close();
			},
			clear: function(){
				this.username = '';
				this.password = '';
			},
		},
	});

</script>