<script type="text/javascript">
	function get_user(source){
		let df = $.Deferred();
		let user_id = '{{ request.user.id }}';
		let user = {};

		try {
			user_id = Number(user_id);
		}
		catch(error){
			user_id = null;
		}

		if(user_id){

			let client = new $.RestClient('/genericUser/api/', {
				ajax: {
					async: false,
				},
			});

			client.add('users');

			client.users.read(user_id)
			.done(function (data, textStatus, xhrObject) {
				user = data;
			})
			.fail(function(xhr, result, statusText){
				user = {};
			})

		}
		else {
			user = {}
		}

		return user;

	}

	var user;
	user = get_user('session')

</script>