{% extends "base_nav.html" %}
{% block title %}
{{ article.subject }}
{% endblock %}

{% block style %}
{% load staticfiles %}
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
<script language="javascript">
$(document).ready(function() {
	$("#includedContent").load($('#url').val()); 
});
</script>
{% endblock %}

{% block header %}
{{ article.subject }}
{% endblock %}

{% block content %}
<form action="" method="post" role="form" >
    {% csrf_token %} 
    <h3>{{ article.subject }}</h3>   
	<hr />
	<div id="includedContent"></div>
	<input type="hidden"  id="url" value="{% static article.get_main_content.url %}">
		<hr />
	<h3>附件</h3>
	<table class="table table-striped table-hover">
	    <tr>
	        <th>檔名</th>
	        <th>下載</th>
	    </tr>
	    {% for attachment in article.get_attachment %}
	    <tr>
	        <td>{{ attachment.name }}</td>
	        <td><a class="btn btn-link" role="button" href="{%static attachment.url %}">下載</a></td>
	    </tr>
	    {% endfor %}
	</table>
</form>
{% endblock %}