{% extends "base_nav.html" %}
{% block title %}
新增文章
{% endblock %}

{% block style %}
{% load staticfiles %}
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}

{% block header %}
新增文章
{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal" role="form"  enctype="multipart/form-data">
{% csrf_token %} 
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
			    <div class="panel-heading">
                    <h3 class="panel-title">新增文章</h3>
                </div>
                 <div class="panel-body">             	
                    <div class="form-group">
                        <label for="id_category" class="control-label col-sm-3"><font style="color:red">*</font>類別：</label>                        
                        <div class="col-sm-5">
                            <select id="id_category" class="form-control" name="category">
                                <option value="">---------</option>
                                {% for category in article_category %}
                                <option value="{{ category.0 }}">{{ category.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_subject" class="control-label col-sm-3"><font style="color:red">*</font>主旨：</label>
                        <div class="col-sm-5">
                            <input id="id_subject"  class="form-control" name="subject" type="text" placeholder="subject" required />
                        </div>
                    </div>
					<div class="form-group">
                        <label for="id_zipFile" class="control-label col-sm-3"><font style="color:red">*</font>上傳文章內容：</label>
                        <div class="col-sm-5">
                            <input id="id_zipFile"  maxlength="30" name="zipFile" type="file">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" class="btn btn-primary" value="儲存" id="id_send">
                            <a class="btn btn-danger" role="button" href = "/">取消</a>
                        </div>
                    </div>
                 </div>
        	</div>
     	</div>
     </div>
</form>

{% endblock %}