{% extends "base_nav.html" %}
{% block title %}
{{ announcement.title }} | 公告
{% endblock %}
{% block header %}
{{ announcement.title }} | 公告
{% endblock %}
{% block content %}
<form action="" method="post" role="form" >
	{% csrf_token %} 
	<h3>{{ announcement.title }}</h3>
	<hr />
{% autoescape off %}
{{ announcement.content }}
{% endautoescape %}
{% if request.user.is_manager %}
<button name="update" value="{{ announcement.id }}">修改</button>
<button name="delete" value="{{ announcement.id }}">刪除</button>
{% endif %}
</form>
{% endblock %}