{% extends "base_nav.html" %}
{% block title %}
公告發佈
{% endblock %}

{% block style %}
{% load staticfiles %}
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}

{% block header %}
公告發佈
{% endblock %}

{% block content %}

<script>
	let bchange=false;

	$(function(){

		//tinymce
		tinymce.init({
			selector: "#id_content",
			language:"zh_TW",
			plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak', 'searchreplace wordcount visualblocks visualchars code fullscreen', 'insertdatetime media nonbreaking save table contextmenu directionality', 'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'],
			toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons | codesample'
		});

		//onchange
		bchange=true

	})

	function announcement_save(){
		//儲存資料

		//title
		let title=cstrtrim($('#id_title').val());

		//category
		let category=cstrtrim($('#id_category').find('option:selected').val());

		//content
		let content=cstrtrim(tinymce.activeEditor.getContent());

		//transferData
		let transferData={
			'title':title,
			'category':category,
			'content':content,
		};

		return transferData;
	}

	function announcement_cancel(){
		//取消離開檢核

		//transferData
		let transferData=announcement_save();
		
		//check
		if(!isobjvalueer(transferData)){
			alertconfirm('已經填寫資料，是否確定取消?')
			.done(function(){
				//重新整理
				window.location.reload();
			})
		}
		else{
			//重新整理
			window.location.reload();
		}

	}

	function announcement_create(){
		//公告發佈

		//transferData
		let transferData=announcement_save();

		//aj_announcement
		aj_announcement('create',null,transferData)
		.done(function(data){
			alertmessage(data['status'], data['message'])
			.done(function(){
				//重新整理
				window.location.reload();
			})
		})
		.fail(function(data){
		    alertmessage(data['status'], data['message']);
		})
		
	}

</script>

{% csrf_token %} 

<h3>公告發佈</h3>

<div class="form-horizontal">

	<div class="form-group">
		<label for="id_category" class="control-label col-sm-1"><font style="color:red">*</font>類別</label>
		<div class="col-sm-11">
			<select id="id_category" class="form-control" name="category">
				<option value="">---------</option>
				{% for category in announcement_category %}
				<option value="{{ category.0 }}">{{ category.1 }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="id_title" class="control-label col-sm-1"><font style="color:red">*</font>標題</label>
		<div class="col-sm-11">
			<input id="id_title" class="form-control" name="title" type="text" placeholder="title" required />
		</div>
	</div>

	<div class="form-group">
		<label for="id_content" class="control-label col-sm-1"><font style="color:red">*</font>內容</label>
		<div class="col-sm-11">
			<textarea id="id_content" name="content" maxlength="30"></textarea>
		</div>
	</div>

	<div class="form-group">        
		<div class="col-sm-offset-1 col-sm-11">
			<button type="button" class="btn btn-primary" onclick="announcement_create();">發佈</button>
			<button type="button" class="btn btn-danger" onclick="announcement_cancel();">取消</button>
		</div>
	</div>
	
</div>

{% endblock %}