{% extends "base_nav.html" %}
{% block title %}
身心障礙手冊管理
{% endblock %}
{% block content %}
{% csrf_token %}

<div id="disabilitycard_manager">
	<h2>身心障礙手冊管理</h2>
	<div class="form-inline">
		<div class="form-group">
			<select
				class="form-control"
				v-model="search_filter"
				required
			>
				<option value="all" selected="selected">全部</option>
				<option v-for="(value, key) in search_choices" :value="key">{|{ value }|}</option>
			</select>
		</div>
		<div class="form-group">
			<input v-model="search_value" id="search_value" class="form-control" type="text" placeholder="輸入欲查詢資訊" maxlength="15">
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary" @click="search()">搜尋</button>
		</div>
	</div>
	<table-div :datas="search_disabilitycard_datas" :header="disabilitycard_header">
		<template slot="action" slot-scope="props">
			<button class="btn btn-primary"
				@click="dm_bus.$emit('instance-set', props.item); openDialog('dm', this);"
			>
				查閱編修
			</button>
		</template>
	</table-div>
	<modal :id_modal="'dm'">
		<template slot="header">
			<h4 class="modal-title">身心障礙手冊登錄</h4>
		</template>
		<template slot="body">
			<disabilitycard
				:bus="dm_bus"
			>
			</disabilitycard>
		</template>
	</modal>
</div>

<script src="/static/ebookSystem/js/httpVueLoader.js"></script>
<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#disabilitycard_manager',
		components: {
			'disabilitycard': httpVueLoader('/static/ebookSystem/js/vue-component/disabilitycard.vue'),
			'modal': httpVueLoader('/static/ebookSystem/js/vue-component/modal.vue'),
			'table-div': httpVueLoader('/static/ebookSystem/js/vue-component/table-div.vue'),
		},
		data: {
			dm_bus: new Vue(),
			search_choices: {
				'false': '未啟用',
				'true': '已啟用',
			},
			search_filter: 'all',
			search_value: '',
			disabilitycard_header: {
				"identity_card_number": "身份證字號",
				"name": "姓名",
				"action": "動作",
			},
			search_disabilitycard_datas: [],
		},
		created: function () {
			this.client = new $.RestClient('/genericUser/api/');
			this.client.add('disabilitycards');
		},
		methods: {
			disabilitycard_datas: function(v){
				temp_data = {
					"identity_card_number": v.identity_card_number,
					"name": v.name,
					"action": v.identity_card_number,
				}

				filter_data.push(temp_data)
			},
			search: function () {
				let self = this;
				self.data = []

				query = {'search': self.search_value, 'is_active': self.search_filter,}
				self.client.disabilitycards.read(query)
				.done(function(data) {
					filter_data = []
					_.each(data, self.disabilitycard_datas)
					self.search_disabilitycard_datas = filter_data
					alertmessage('success', '查詢完成，共取得 ' +self.search_disabilitycard_datas.length +' 筆資料')
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', xhr.responseText)
				})

			},
		},
	})

</script>
{% endblock %}