{% extends "base_nav.html" %}
{% block title %}
身心障礙手冊登錄
{% endblock %}
{% block content %}
{% csrf_token %}
{% include 'comp/modal.vue' %}
{% include 'comp/disabilitycard.vue' %}

<div id="disabilitycard_register" class="container">
	<h2>身心障礙手冊登錄</h2>
	<disabilitycard
		:bus="bus">
	>
	</disabilitycard>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	new Vue({
		el: '#disabilitycard_register',
		data: {
			bus: new Vue(),
			pk: '',
		},
		mounted: function () {
			this.pk = window.location.pathname.split('/')
			this.pk = this.pk[this.pk.length-2]
			if(this.pk==='disabilitycard_register'){
				this.pk = user.disabilitycard_set[0]
			}
			this.bus.$emit('instance-set', this.pk)
		},
	})

</script>
{% endblock %}