{% extends "base_nav.html" %} {% load staticfiles %} {% block title %}關於{% endblock %} {% block style %}
<style type="text/css">
body {
    height: 100%;
    padding-top: 0px;
    /*nav height*/
    padding-bottom: 70px;
    /*footer height and nav margin-bottom*/
}

ul.nav-pills {
    padding-top: 50px;
    position: relative;
}

@media screen and (min-width: 768px) {
    ul.nav-pills {
        padding-top: 50px;
        /* top: 70px;*/
        position: fixed;
    }
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}

.section {
    padding-top: 50px;
}

.nav-link {
    background: rgba(0, 0, 0, .05);
    border-left: 4px solid #4267b2;
}

.about_us_main {
    padding-left: 50px;
}

@media screen and (min-width: 992px) {
    .about_us_main {
        padding-left: 15px;
    }
}
</style>
{% endblock %} {% block content %}
<div class="row">
    <nav class="col-sm-2" id="navbar-about">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-link"><a href="#about">edocumentservice緣起</a></li>
            <li class="nav-link"><a href="#objective">edocumentservice目標</a></li>
            <li class="nav-link"><a href="#function">功能說明</a></li>
            <li class="nav-link"><a href="#security">隱私權及資訊安全政策</a></li>
            <li class="nav-link"><a href="#user_term">使用者條款</a></li>
            <li class="nav-link"><a href="#top">Back to top</a></li>
        </ul>
    </nav>
    <div class="col-sm-10 about_us_main" role="main" id="top">
        <div id="about" class="section" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <legend>
                <h4>關於『edocumentservice平台』</h4></legend>
            <p itemprop="description">
                <mark>莎士比亞有句名言：「生活里沒有書籍，就好像大地沒有陽光；智慧里沒有書籍，就好像鳥兒沒有翅膀。」</mark>而『edocumentservice平台』的建立，主要便是希望透過平台，讓視障者能夠閱讀重製轉化後的電子書，並且透過平台自動化管理，減少視障者在取得資訊所遇到的困難。</p>
            <h4><b>一、「閱讀」是獲得知識的基石</b></h4>
            <blockquote>
                <p>
                    從紙本書籍的開始，文字紀錄著人類的智慧結晶，而透過閱讀，人類得以將所吸收的資訊內化為自身的知識基礎，不僅能擴展視野，也是培養創造力、批判思考的重要能力，而這些事情對於一般人來說如同生活般容易，對於視障者卻充滿重重困難。 我們認為透過「閱讀」獲得「知識」的權益，對於視障者尤為重要，使其藉由閱讀獲取基本知識能力的學習，彌補先天生理因素及後天環境的差異，未來將能夠有選擇職業、工作及生活模式的機會，而不會因為資訊不平等，在毫無選擇或選擇機會甚少的情況下，只能從事基礎的傳統性工作。所以我們為了幫助視障者知識資訊的取得，以提升其知能、充實生活內涵，增闊其視野而建置了『edocumentservice平台』。
                </p>
            </blockquote>
            <h4><b>二、視障者在『閱讀』方面所遇到的困難</b></h4>
            <blockquote>
                <p><strong>1.資訊上取得的困難</strong></p>
                <p>對於一般人來說，想要獲取所需資訊，可以透過實體書店、圖書館或是線上資料庫查詢，獲得想要閱讀的各類書籍以及報章雜誌，而這些對於一般人來說是再簡單不過的生活行為，但是對於視障者卻是限制重重，長期以來，因為書籍出版以紙本為形式，視障者在閱讀文字資訊的尋求上，便因視力的障礙而受限。</p>
                <p><strong>2.使用現代科技輔具所遇到的困難</strong></p>
                <p>而視障者獲取文字資訊的途徑目前大約分為兩種，第一種為傳統的盲文(點字書)，第二種為使用現代科技輔具，而使用現代科技輔具閱讀紙本文字的先決條件為，紙本文字必須被轉化為文字式電子檔，但現今因書籍出版版權因素(出版商因版權問題多不願主動提供文字式電子檔)，視障者獲取的資訊總是破碎與非即時的，且因為一般紙本為使視障者能順利閱讀，必須經過時間重新繕打、掃描及校對，其過程所須等待的時間及花費的金錢，往往讓視障者放棄閱讀。</p>
                <p><strong>3.過度依賴傳統盲文(點字書)之問題</strong></p>
                <p>傳統使用盲文點字的方式，提供視障者閱讀的媒介，但點字形式的文字，缺乏漢字的文字認知概念，因此若在長久依賴之下，視障者常會出現嚴重的同音異字的錯別字現象，而這可能會嚴重影響到其未來的就業發展，在現今依賴電腦文書作業的世代，視障者若因同音異字無法辨識而難以精準的繕打文字，則可能影響就業發展。</p>
            </blockquote>
        </div>
        <div id="objective" class="section" itemscope itemtype="http://schema.org/Service">
            <legend>
                <h4>『edocumentservice平台』目標</h4></legend>
            <h5 itemprop="serviceType"><b>一、使用文字式電子書的趨勢及優勢</b></h5>
            <blockquote>
                <p>文字式電子書能透過特殊軟體的搭配，訓練視障者文字上的辨識及認知，建立字型的概念，且文字式電子書除了能夠讓視障者透過本身熟悉的科技輔具閱讀，也能提供給弱視者透過放大功能之輔具使用。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>二、聚集重製電子文件的產能</b></h5>
            <blockquote>
                <p>『edocumentservice平台』藉由網路平台宣傳以及與各機構合作，招募大量志工進行重製書籍服務，且因服務方式不限地點並可透過網路進行，因此更能聚集</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>三、提供廣泛的書籍閱讀機會</b></h5>
            <blockquote>
                <p>目前服務機構主要提供給視障者閱讀使用的重製書籍種類偏少，亦無法顧及使用者不同所需的專業需求，尤其對於視障者來說，冷門書籍、專業書籍等等的閱讀權利則礙於服務機構被動地提供形式而受限。因此，『eDocumentService平台』便是希望透過視障者服務，主動對於感興趣的書籍資訊提出需求，進而主動使用此平台取得希望獲取閱讀的資訊，此為視障者｢主動」選擇閱讀，而非傳統多由服務機構選書或票選，被動被選擇可閱讀的書籍。</p>
                <p>
                    在視障者有主動使用意願之下，我們希望透過長期推廣，未來能讓更多社會大眾及出版商了解視障族群的需求，進而願意提供新書的原始文字電子檔，減少書籍重製的數量。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>四、改良特殊符號閱讀方式，資勛接收更完整</b></h5>
            <blockquote>
                <p>傳統盲文(點字書)對於特殊符號、科學符號、流程圖、表格…等等，必須與文字分開對應使用，在閱讀的理解上因分步驟而耗時、費力，因此若能透過文字式電子檔，則能夠將特殊符號、科學符號、流程圖、表格…等等與文字一同完整呈現，如此一來，視障者的閱讀便能與一般人幾乎無異，使視障者對於資訊的接收更加完整。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>五、實踐馬拉喀什精神–建立平台、分工合作、資源共享、跨境流通</b></h5>
            <blockquote>
                <p>《馬拉喀什條約》為有助於盲人、視覺機能障礙者或其他對印刷品閱讀障礙者接觸已公開發行著作之條約，主要以鼓勵各方建立平台、分工合作、資源共享及跨境流通，以利視障者接觸資訊。</p>
                <p>在著作權的限制下，訂定例外條款，允許已出版的著作能製作成無障礙格式版本並流通，以促成視障與閱讀障礙導致無法閱讀印刷作品或因肢體障礙而不能持書或翻書的人可以接觸或使用作品。</p>
                <p>『eDocumentService平台』致力於實踐《馬拉喀什條約》精神:</p>
                <ol>
                    <li>『建立平台』: 透過軟體開發平台，建立完善重製流程， 並且自動化管理。</li>
                    <li>『分工合作』: 透過資料庫紀錄，分配文件資料對應服務志工，更快更有效率。</li>
                    <li>『資源共享』:平台設有集中式存放重製後電子文件空間，不僅能提供重製服務，更能提供查詢已存入空間之重製後文件，達到資源共享。</li>
                    <li>『跨境流通』:平台以網路型式進行服務，不受地區之限制。</li>
                </ol>
            </blockquote>
        </div>
        <div id="function" class="section" itemscope itemtype="http://schema.org/Service">
            <legend>
                <h4>功能說明</h4></legend>
            <div itemprop="description">
                <p>為了解決紙本文件閱讀困難、轉製電子文件費時費力等等使得視障者閱讀障礙的問題，我們開發了eDocumentService系統，透過群眾參與的方式，一同於雲端上編輯軟體轉換的錯誤，達到提供視障者快速、即時的轉製電子文件的服務。為了群眾參與，在執行上有兩件事必需思考:</p>
                <p>
                    一、如何管理眾多的參與者?</p>
                <p>
                    二、可提供何種功能提昇使用者體驗?</p>
                <p>
                    簡單的說就是
                    <mark>管理</mark>與
                    <mark>服務</mark>。從上述兩點出發，我們開發了一系列的功能，滿足在轉製電子文件流程中<b>志工</b>、<b>視障者</b>、<b>管理者</b>各面向的需求。</p>
                <h4 itemprop="serviceType">管理面</h4>
            </div>
            <div class="Well" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">系統自動化，減少人工管理，達到彈性與可擴充性</p>
                <small>
            <ul>
                <li>系統採自動式分配文件，服務志工可隨時登入系統領取文件進行編輯轉製，可彈性應付志工人數與服務量增大時，人工處理困難的問題，達到自動化管理。</li>
                <li>系統設置自動回收機制：系統依預計完成時限，自動回收逾期未編輯之文件，重新開放讓其他服務志工領取編輯，以避免部分志工領取過久而未於期限內完成，影響文件轉製時程。</li>
                <li>
                服務志工可由系統即時得知編輯轉製文件之已完成頁數、完成時限、服務時數等資訊。</li>
            </ul>
        </small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">嚴謹的時數記錄與統計分析</p>
                <small>
            <ul>
                <li>透過「鍵盤輸入偵測」，於編輯器內偵測實際鍵盤輸入情形，確保志工確實有編輯動作，以避免掛網卻無編輯而領取志工時數。</li>

                <li>透過「文字差異分析比對」，將已提交之轉製後文件與初始文件進行比對，計算編輯字數，推算校對比例，判定比例是否
                在常態範圍區間，做為品質控管之參考依據。</li>
                <li>透過「校對產能推估」，分析服務時數與編輯次數二者關系，以利推估文件校對產能，可預期文件轉製所需時間。</li>
            </ul>
        </small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">著作權保護</p>
                <small>
            <ul>
                <li>透過「個人化浮水印」，依據不同志工給予獨一無二的掃描影像檔，每位志工所獲得的掃描影像檔皆會動態的印上使用者名稱浮水印，防止惡意散佈、重製等等違反著作權規範之行為。</li>
            </ul>
        </small>
            </div>
            <h4 itemprop="serviceType">服務面</h4>
            <div class="Well" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">友善、易懂、易操作的志工服務編輯介面</p>
                <small><ul>
                <li>設有直向排列與橫向排列兩種版面配置選擇，以利志工切換橫書及直書介面。</li>
                <li>可縮放掃描影像，讓志工自行調整掃描影像大小至最舒適的編輯狀態。</li>
                <li>針對大量文字編輯重置作業，系統更設置記憶校對文件進度功能。當按下標記鈕便會插入標記符號，檔案儲存後，便能記憶文件校對進度位置，並儲存目前掃描影像頁數，以利服務志工再次進入服務頁面時，能夠馬上接續文字編輯轉製，可省去大量時間，避免重複尋找校對之進度。</li>
            </ul></small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">系統錯誤偵測更正機制</p>
                <small><ul>
                <li>透過系統機器自然語言學習，對文件進行自動偵測錯誤更正，以修正志工疏漏之文字，提升文件品質。</li>
                <li>設立閱讀者回饋機制，當視障者在閱讀文件時，發覺有明顯文字錯誤(日->曰)，可提交回饋更正文件，且該更正回報並立即寫入系統，系統進行機器學習，以提昇自動偵測錯誤更正精準度。</li>
            </ul></small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">友善、資訊即時的視障者體驗</p>
                <small><ul>
            <li>視障者可即時查詢申請之轉製文件完成進度，包括已完成轉製校對頁數、預計完成時間等資訊，使服務有時間可預期性。</li>
            <li>系統設置平均分配書籍頁面，以每五十頁為單位，分配給予服務志工，因此視障者可先行閱讀完成之分段內容，不需等待一整本書所有分段完成才能閱讀，加快取得資訊時間。</li>
            <li>系統依據不同瀏覽裝置呈現不同使用者介面，不論是電腦、平版、手機皆能舒適的使用系統，方便視障者可彈性選擇使用系統服務的裝置，而不局限於僅能使用電腦操作。</li>
        </ul></small>
            </div>
        </div>
        {% include 'utils/privacy_law.html' %}
        <div id="user_term" class="section" itemscope itemtype="http://schema.org/Service">
            <legend>
                <h4>使用者條款</h4></legend>
            <p>eDocumentService雲端千眼平台(以下簡稱「本站」)係依據本條款提供特定身心障礙者出版品重製服務。當您使用本服務時，即表示您已閱讀、瞭解並同意接受此條款之所有內容。本站有權於任何時間修改或變更此條款之內容，若您於任何修改或變更後繼續使用本服務，視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意此條款的內容，您應立即停止使用本站之服務。</p>
            <h5 itemprop="serviceType"><b>一、本站服務使用者須遵守之義務</b></h5>
            <blockquote>
                <p>本站之服務使用者為委託方，委託本站志工為代理人，進行文件重製成電子版本，志工則是接受服務使用者委託進行重製。服務使用者註冊並上傳文件即表示委託志工進行重製電子版的文件。</p>
                <p>根據著作權法第五十三條所定，本站所提供之著作重製物僅供著作權法53條規定之免責人使用，重製物雖可在所定障礙者、中央或地方政府機關、非營利機構或團體、依法立案之各級學校間散布或公開傳輸，但強烈建議每位服務使用者自行至本系統領取轉制成品，因每位服務使用者所獲之轉製成品皆有獨特之處理編碼。若轉製成品散布給非免責人，則以轉製成品特定編碼所指向之服務使用者為法律責任人。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>二、本站志工須遵守之義務</b></h5>
            <blockquote>
                <p>根據著作權法第五十三條所定：「前項所定障礙者或其代理人為供該障礙者個人非營利使用，準用前項規定。」本站志工即此處所指之代理人，接受本站服務使用者之委託，得以協助重製成電子格式的檔案，但用途僅限專供該障礙者個人非營利使用。</p>
                <p>本站所提供志工校對之影像圖檔專為轉製電子文件校對所使用，志工不得將在本站校對所獲之影像檔以任何行式違反著作權法之規範。本站志工註冊並領取文件僅表示接受服務使用者的委託以重製電子版文件，並無其他著作權上的使用權利，包括：重製、改作、公開傳輸、公開展示、散布等等，其違反著作權法的行為須自行負責。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>三、著作權法相關用詞定義</b></h5>
            <blockquote>
                <p>根據著作權法第三條所定，擷取部分用詞定義作為行為規範聲明，本站志工應避免將本站提供之校對影像圖檔有其他不受法律規範下之行為，如使用文件上觸犯以下行為，則其違法責任須自行負責。</p>
                <p>(一)重製</p>
                <p>指以印刷、複印、錄音、錄影、攝影、筆錄或其他方法直接、間接、永久或暫時之重複製作。於劇本、音樂著作或其他類似著作演出或播送時予以錄音或錄影；或依建築設計圖或建築模型建造建築物者，亦屬之。</p>
                <p>(二)公開口述</p>
                <p>指以言詞或其他方法向公眾傳達著作內容。</p>
                <p>(三) 公開傳輸</p>
                <p>指以有線電、無線電之網路或其他通訊方法，藉聲音或影像向公眾提供或傳達著作內容，包括使公眾得於其各自選定之時間或地點，以上述方法接收著作內容。</p>
                <p>(四)改作</p>
                <p>指以翻譯、編曲、改寫、拍攝影片或其他方法就原著作另為創作。</p>
                <p>(五)散布</p>
                <p>指不問有償或無償，將著作之原件或重製物提供公眾交易或流通。</p>
                <p>(六)公開展示</p>
                <p>指向公眾展示著作內容。</p>
                <p>(七)公開發表</p>
                <p>指權利人以發行、播送、上映、口述、演出、展示或其他方法向公眾公開提示著作內容。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>四、我國著作權法規定身心障礙族群的合理使用範圍</b></h5>
            <blockquote>
                <p>為符馬拉喀什條約之精神，我國於2014年1月22日修正並經立法院三讀通過著作權法第53條、第80條之2及第87條之1等規定，將重製問題從法律面至實務面全面改良制度，希望使各種出版品能更快速、更普及的為特定身心障礙者提供重製物，增加其接觸資訊的機會，而著作權法(53、80-2、87-1)修正條文修改詳細內容如下：</p>
                <p>著作權法第53條－擴大重製權利、重製物可在免責人間互相流通傳輸</p>
                <small>著作權法第53條原文：<br />「中央或地方政府機關、非營利機構或團體、依法立案之各級學校，為專供視覺障礙者、學習障礙者、聽覺障礙者或其他感知著作有困難之障礙者使用之目的，得以翻譯、點字、錄音、數位轉換、口述影像、附加手語或其他方式利用已公開發表之著作。前項所定障礙者或其代理人為供該障礙者個人非營利使用，準用前項規定。依前二項規定製作之著作重製物，得於前二項所定障礙者、中央或地方政府機關、非營利機構或團體、依法立案之各級學校間散布或公開傳輸。」
            原著作權法第53條規定僅能由非營利機構或團體為視障、學習障礙及聽覺障礙者的使用重製出版品，修法後的重製權利擴大為「中央及地方機關、非營利機構或團體、依法設立之各級學校以及特定身心障礙者個人或其代理人」得以進行重製。具重製資格之個人或單位之間亦可互相分享重製物。</small>
                <p>(一) 新增著作權法80條之2第9款－排除防盜拷限制</p>
                <small>著作權法第80條之2第9款原文： <br />
「著作權人所採取禁止或限制他人擅自進入著作之防盜拷措施，未經合法授權不得予以破解、破壞或以其他方法規避之。
破解、破壞或規避防盜拷措施之設備、器材、零件、技術或資訊，未經合法授權不得製造、輸入、提供公眾使用或為公眾提供服務。
前二項規定，於下列情形不適用之：
一、為維護國家安全者。
二、中央或地方機關所為者。
三、檔案保存機構、教育機構或供公眾使用之圖書館，為評估是否取得資
    料所為者。
四、為保護未成年人者。
五、為保護個人資料者。
六、為電腦或網路進行安全測試者。
七、為進行加密研究者。
八、為進行還原工程者。
九、為依第四十四條至第六十三條及第六十五條規定利用他人著作者。
十、其他經主管機關所定情形。
前項各款之內容，由主管機關定之，並定期檢討。」

<br />新增第80條之2第9款，讓依據第53條目的而進行重製的行為，排除在防盜拷限制規定中。實務上常見之防盜拷為使用數位版權管理(DRM)機制，數位版權管理可以控制和限制數位化媒體內容的使用權。</small>
                <p>(二) 新增著作權法第87條之1－排除跨國輸入重製物的法律限制</p>
                <small>著作權法第第87條之1原文： <br />
「有下列情形之一者，前條第四款『未經著作財產權人同意而輸入著作原件或其國外合法重製物者。』之規定，不適用之：
一、為供中央或地方機關之利用而輸入。但為供學校或其他教育機構之利
    用而輸入或非以保存資料之目的而輸入視聽著作原件或其重製物者，
    不在此限。
二、為供非營利之學術、教育或宗教機構保存資料之目的而輸入視聽著作
    原件或一定數量重製物，或為其圖書館借閱或保存資料之目的而輸入
    視聽著作以外之其他著作原件或一定數量重製物，並應依第四十八條
    規定利用之。
三、為供輸入者個人非散布之利用或屬入境人員行李之一部分而輸入著作
    原件或一定數量重製物者。
四、中央或地方政府機關、非營利機構或團體、依法立案之各級學校，為
    專供視覺障礙者、學習障礙者、聽覺障礙者或其他感知著作有困難之
    障礙者使用之目的，得輸入以翻譯、點字、錄音、數位轉換、口述影
    像、附加手語或其他方式重製之著作重製物，並應依第五十三條規定
    利用之。
五、附含於貨物、機器或設備之著作原件或其重製物，隨同貨物、機器或
    設備之合法輸入而輸入者，該著作原件或其重製物於使用或操作貨物
    、機器或設備時不得重製。
六、附屬於貨物、機器或設備之說明書或操作手冊隨同貨物、機器或設備
    之合法輸入而輸入者。但以說明書或操作手冊為主要輸入者，不在此
    限。
前項第二款及第三款之一定數量，由主管機關另定之。」<br />
第87條之1，讓依據第53條目的而進行重製的行為，排除跨國輸入重製物的法律限制。</small>
            </blockquote>
            <h5 itemprop="serviceType"><b>五、國際上對身心障礙族群的著作權合理使用規定情形及趨勢</b></h5>
            <blockquote>
                <p>2003年世界盲人組織調查發現，全球有三億多視障者，97%處於開發中國家，卻只能接受5%的資訊。身心障礙族群屬於社會之弱勢團體，其於資訊尋求過程中對於訊息的掌控能力較為薄弱，如能依法利用他人著作，除能促使身心障礙者之心智提昇，協助身心障礙者投入社會外，更能達成國家文化全面性的發展。況身心障礙族群屬社會之少數，於利用著作上，對於著作財產權人之影響亦屬輕微。</p>
                <p>國際上部份國家，包括日本、西班牙及美國之著作權法允許為讓身心障礙盲人之福利，可就已公該發表的著作為盲人以點字而重製。此外，世界智慧財產組織於2013年6月28日WIPO在摩洛哥馬拉喀什舉行外交會議，正式通過「促進盲人、視障者及其他印刷品閱讀障礙者接觸已發表著作之條約(下簡稱馬拉喀什條約)」，並於2016年9月30日生效，其目的在為前開障礙者之利益創設法定的著作權限制或例外，解決障礙人士接觸資訊較易不足之問題，以營造無歧視、機會均等之環境。</p>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}
