{% extends "base_nav.html" %} {% load staticfiles %} {% block title %}關於{% endblock %} 
{% block style %}
<style type="text/css">
body {
    height: 100%;
    padding-top: 0px;
    /*nav height*/
    padding-bottom: 70px;
    /*footer height and nav margin-bottom*/
}

ul.nav-pills {
    padding-top: 50px;
    position: relative;
}

@media screen and (min-width: 768px) {
    ul.nav-pills {
        padding-top: 50px;
        /* top: 70px;*/
        position: fixed;
    }
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}
.section {
    padding-top: 50px;
}

.nav-link {
    background: rgba(0, 0, 0, .05);
    border-left: 4px solid #4267b2;
}

.about_us_main {
    padding-left: 50px;
}

@media screen and (min-width: 992px) {
    .about_us_main {
        padding-left: 15px;
    }
}
</style>

{% endblock %}

{% block content %}
<div class="row">
    <nav class="col-sm-2" id="navbar-about">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-link"><a href="#about">edocumentservice緣起</a></li>
            <li class="nav-link"><a href="#objective">edocumentservice目標</a></li>
            <li class="nav-link"><a href="#function">功能說明</a></li>
            <li class="nav-link"><a href="#security">隱私權及資訊安全政策</a></li>
            <li class="nav-link"><a href="#top">Back to top</a></li>
        </ul>
    </nav>
    <div class="col-sm-10 about_us_main" role="main" id="top">
        <div id="about" class="section" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <legend>
                <h4>關於『edocumentservice平台』</h4></legend>
            <p itemprop="description">
                <mark>莎士比亞有句名言：「生活里沒有書籍，就好像大地沒有陽光；智慧里沒有書籍，就好像鳥兒沒有翅膀。」</mark>而『edocumentservice平台』的建立，主要便是希望透過平台，讓視障者能夠閱讀重製轉化後的電子書，並且透過平台自動化管理，減少視障者在取得資訊所遇到的困難。</p>
            <h4><b>一、「閱讀」是獲得知識的基石</b></h4>
            <blockquote>
                <p>
                    從紙本書籍的開始，文字紀錄著人類的智慧結晶，而透過閱讀，人類得以將所吸收的資訊內化為自身的知識基礎，不僅能擴展視野，也是培養創造力、批判思考的重要能力，而這些事情對於一般人來說如同生活般容易，對於視障者卻充滿重重困難。 我們認為透過「閱讀」獲得「知識」的權益，對於視障者尤為重要，使其藉由閱讀獲取基本知識能力的學習，彌補先天生理因素及後天環境的差異，未來將能夠有選擇職業、工作及生活模式的機會，而不會因為資訊不平等，在毫無選擇或選擇機會甚少的情況下，只能從事基礎的傳統性工作。所以我們為了幫助視障者知識資訊的取得，以提升其知能、充實生活內涵，增闊其視野而建置了『edocumentservice平台』。
                </p>
            </blockquote>
            <h4><b>二、視障者在『閱讀』方面所遇到的困難</b></h4>
            <blockquote>
                <p><strong>1.資訊上取得的困難</strong></p>
                <p>對於一般人來說，想要獲取所需資訊，可以透過實體書店、圖書館或是線上資料庫查詢，獲得想要閱讀的各類書籍以及報章雜誌，而這些對於一般人來說是再簡單不過的生活行為，但是對於視障者卻是限制重重，長期以來，因為書籍出版以紙本為形式，視障者在閱讀文字資訊的尋求上，便因視力的障礙而受限。</p>
                <p><strong>2.使用現代科技輔具所遇到的困難</strong></p>
                <p>而視障者獲取文字資訊的途徑目前大約分為兩種，第一種為傳統的盲文(點字書)，第二種為使用現代科技輔具，而使用現代科技輔具閱讀紙本文字的先決條件為，紙本文字必須被轉化為文字式電子檔，但現今因書籍出版版權因素(出版商因版權問題多不願主動提供文字式電子檔)，視障者獲取的資訊總是破碎與非即時的，且因為一般紙本為使視障者能順利閱讀，必須經過時間重新繕打、掃描及校對，其過程所須等待的時間及花費的金錢，往往讓視障者放棄閱讀。</p>
                <p><strong>3.過度依賴傳統盲文(點字書)之問題</strong></p>
                <p>傳統使用盲文點字的方式，提供視障者閱讀的媒介，但點字形式的文字，缺乏漢字的文字認知概念，因此若在長久依賴之下，視障者常會出現嚴重的同音異字的錯別字現象，而這可能會嚴重影響到其未來的就業發展，在現今依賴電腦文書作業的世代，視障者若因同音異字無法辨識而難以精準的繕打文字，則可能影響就業發展。</p>
            </blockquote>
        </div>
        <div id="objective" class="section" itemscope itemtype="http://schema.org/Service">
            <legend>
                <h4>『edocumentservice平台』目標</h4></legend>
            <h5 itemprop="serviceType"><b>一、使用文字式電子書的趨勢及優勢</b></h5>
            <blockquote>
                <p>文字式電子書能透過特殊軟體的搭配，訓練視障者文字上的辨識及認知，建立字型的概念，且文字式電子書除了能夠讓視障者透過本身熟悉的科技輔具閱讀，也能提供給弱視者透過放大功能之輔具使用。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>二、聚集重製電子文件的產能</b></h5>
            <blockquote>
                <p>『edocumentservice平台』藉由網路平台宣傳以及與各機構合作，招募大量志工進行重製書籍服務，且因服務方式不限地點並可透過網路進行，因此更能聚集</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>三、提供廣泛的書籍閱讀機會</b></h5>
            <blockquote>
                <p>目前服務機構主要提供給視障者閱讀使用的重製書籍種類偏少，亦無法顧及使用者不同所需的專業需求，尤其對於視障者來說，冷門書籍、專業書籍等等的閱讀權利則礙於服務機構被動地提供形式而受限。因此，『eDocumentService平台』便是希望透過視障者服務，主動對於感興趣的書籍資訊提出需求，進而主動使用此平台取得希望獲取閱讀的資訊，此為視障者｢主動」選擇閱讀，而非傳統多由服務機構選書或票選，被動被選擇可閱讀的書籍。</p>
                <p>
                    在視障者有主動使用意願之下，我們希望透過長期推廣，未來能讓更多社會大眾及出版商了解視障族群的需求，進而願意提供新書的原始文字電子檔，減少書籍重製的數量。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>四、改良特殊符號閱讀方式，資勛接收更完整</b></h5>
            <blockquote>
                <p>傳統盲文(點字書)對於特殊符號、科學符號、流程圖、表格…等等，必須與文字分開對應使用，在閱讀的理解上因分步驟而耗時、費力，因此若能透過文字式電子檔，則能夠將特殊符號、科學符號、流程圖、表格…等等與文字一同完整呈現，如此一來，視障者的閱讀便能與一般人幾乎無異，使視障者對於資訊的接收更加完整。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>五、實踐馬拉喀什精神–建立平台、分工合作、資源共享、跨境流通</b></h5>
            <blockquote>
                <p>《馬拉喀什條約》為有助於盲人、視覺機能障礙者或其他對印刷品閱讀障礙者接觸已公開發行著作之條約，主要以鼓勵各方建立平台、分工合作、資源共享及跨境流通，以利視障者接觸資訊。</p>
                <p>在著作權的限制下，訂定例外條款，允許已出版的著作能製作成無障礙格式版本並流通，以促成視障與閱讀障礙導致無法閱讀印刷作品或因肢體障礙而不能持書或翻書的人可以接觸或使用作品。</p>
                <p>『eDocumentService平台』致力於實踐《馬拉喀什條約》精神:</p>
                <ol>
                    <li>『建立平台』: 透過軟體開發平台，建立完善重製流程， 並且自動化管理。</li>
                    <li>『分工合作』: 透過資料庫紀錄，分配文件資料對應服務志工，更快更有效率。</li>
                    <li>『資源共享』:平台設有集中式存放重製後電子文件空間，不僅能提供重製服務，更能提供查詢已存入空間之重製後文件，達到資源共享。</li>
                    <li>『跨境流通』:平台以網路型式進行服務，不受地區之限制。</li>
                </ol>
            </blockquote>
        </div>
        <div id="function" class="section" itemscope itemtype="http://schema.org/Service">
            <legend>
                <h4>功能說明</h4></legend>
            <div itemprop="description">
                <p>為了解決紙本文件閱讀困難、轉製電子文件費時費力等等使得視障者閱讀障礙的問題，我們開發了eDocumentService系統，透過群眾參與的方式，一同於雲端上編輯軟體轉換的錯誤，達到提供視障者快速、即時的轉製電子文件的服務。為了群眾參與，在執行上有兩件事必需思考:</p>
                <p>
                    一、如何管理眾多的參與者?</p>
                <p>
                    二、可提供何種功能提昇使用者體驗?</p>
                <p>
                    簡單的說就是
                    <mark>管理</mark>與
                    <mark>服務</mark>。從上述兩點出發，我們開發了一系列的功能，滿足在轉製電子文件流程中<b>志工</b>、<b>視障者</b>、<b>管理者</b>各面向的需求。</p>
                <h4 itemprop="serviceType">管理面</h4>
            </div>
            <div class="Well" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">系統自動化，減少人工管理，達到彈性與可擴充性</p>
                <small>
            <ul>
                <li>系統採自動式分配文件，服務志工可隨時登入系統領取文件進行編輯轉製，可彈性應付志工人數與服務量增大時，人工處理困難的問題，達到自動化管理。</li>
                <li>系統設置自動回收機制：系統依預計完成時限，自動回收逾期未編輯之文件，重新開放讓其他服務志工領取編輯，以避免部分志工領取過久而未於期限內完成，影響文件轉製時程。</li>
                <li>
                服務志工可由系統即時得知編輯轉製文件之已完成頁數、完成時限、服務時數等資訊。</li>
            </ul>
        </small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">嚴謹的時數記錄與統計分析</p>
                <small>
            <ul>
                <li>透過「鍵盤輸入偵測」，於編輯器內偵測實際鍵盤輸入情形，確保志工確實有編輯動作，以避免掛網卻無編輯而領取志工時數。</li>

                <li>透過「文字差異分析比對」，將已提交之轉製後文件與初始文件進行比對，計算編輯字數，推算校對比例，判定比例是否
                在常態範圍區間，做為品質控管之參考依據。</li>
                <li>透過「校對產能推估」，分析服務時數與編輯次數二者關系，以利推估文件校對產能，可預期文件轉製所需時間。</li>
            </ul>
        </small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">著作權保護</p>
                <small>
            <ul>
                <li>透過「個人化浮水印」，依據不同志工給予獨一無二的掃描影像檔，每位志工所獲得的掃描影像檔皆會動態的印上使用者名稱浮水印，防止惡意散佈、重製等等違反著作權規範之行為。</li>
            </ul>
        </small>
            </div>
            <h4 itemprop="serviceType">服務面</h4>
            <div class="Well" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">友善、易懂、易操作的志工服務編輯介面</p>
                <small><ul>
                <li>設有直向排列與橫向排列兩種版面配置選擇，以利志工切換橫書及直書介面。</li>
                <li>可縮放掃描影像，讓志工自行調整掃描影像大小至最舒適的編輯狀態。</li>
                <li>針對大量文字編輯重置作業，系統更設置記憶校對文件進度功能。當按下標記鈕便會插入標記符號，檔案儲存後，便能記憶文件校對進度位置，並儲存目前掃描影像頁數，以利服務志工再次進入服務頁面時，能夠馬上接續文字編輯轉製，可省去大量時間，避免重複尋找校對之進度。</li>
            </ul></small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">系統錯誤偵測更正機制</p>
                <small><ul>
                <li>透過系統機器自然語言學習，對文件進行自動偵測錯誤更正，以修正志工疏漏之文字，提升文件品質。</li>
                <li>設立閱讀者回饋機制，當視障者在閱讀文件時，發覺有明顯文字錯誤(日->曰)，可提交回饋更正文件，且該更正回報並立即寫入系統，系統進行機器學習，以提昇自動偵測錯誤更正精準度。</li>
            </ul></small>
                <p itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">友善、資訊即時的視障者體驗</p>
                <small><ul>
            <li>視障者可即時查詢申請之轉製文件完成進度，包括已完成轉製校對頁數、預計完成時間等資訊，使服務有時間可預期性。</li>
            <li>系統設置平均分配書籍頁面，以每五十頁為單位，分配給予服務志工，因此視障者可先行閱讀完成之分段內容，不需等待一整本書所有分段完成才能閱讀，加快取得資訊時間。</li>
            <li>系統依據不同瀏覽裝置呈現不同使用者介面，不論是電腦、平版、手機皆能舒適的使用系統，方便視障者可彈性選擇使用系統服務的裝置，而不局限於僅能使用電腦操作。</li>
        </ul></small>
            </div>
        </div>
        <div id="security" class="section" itemscope itemtype="http://schema.org/Service">
            <legend>
                <h4>隱私權及資訊安全政策</h4></legend>
            <p>當您開始使用eDocumentService網站，即表示您信賴我們對您個人資訊的處理方式。本《隱私權政策》旨在協助您瞭解本站如何蒐集、應用及保護您所提供的個人資訊，以下的隱私權政策，適用於您在本站活動時，所涉及的個人資料蒐集、運用與保護，當您註冊或是登入時，即視為您已閱讀本同意書，並同意遵守以下所有同意書之規範。</p>
            <h5 itemprop="serviceType"><b>一、個人資料之蒐集與應用</b></h5>
            <blockquote>
                <p>1. 若欲使用本站所提供之各項功能，必須先申請本站帳戶才能使用，在申請過程中，本站會請您提供個人正確且完整之必要資料，如姓名、電子郵件、聯絡電話、生日、學歷等個人資訊，儲存在您的帳戶中。</p>
                <p>
                    2. 進行網頁瀏覽時，伺服器會自行記錄相關行徑，包括日期和時間、您所擷取之網頁、您所在之網址、您的瀏覽器種類、您對本站網頁所做行動等，做為本站增進網站服務的參考依據，此記錄為內部應用，絕不對外公佈。</p>
                <p>
                    3. 為了向所有使用者提供更優質的服務，當您造訪本站時，本站會使用各種技術收集並儲存資訊，這可能包括使用 Cookie 或類似技術來識別您的瀏覽器或裝置。若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie紀錄，但可能會導致網站某些功能無法正常執行。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>二、個人資訊更新及帳戶安全</b></h5>
            <blockquote>
                <p>1. 無論您何時使用本站的服務，本站都致力讓您能夠維持並更新個人資訊。若該資訊有誤，我們會盡力提供管道讓您可以迅速更新或刪除資訊，但如果我們基於正當業務或法律目的考量必須保存該資訊時，則不在此列。凡為本站使用者，皆有義務維持並更新其所屬個人資料，並確保該資料為正確、最新以及完整。若您提供任何錯誤或不實的資料，本站有權拒絕您以該帳號使用網站之全部或部份功能。</p>
                <p>
                    2. 維護用戶資訊與密碼的資訊安全是本站與您共同的責任，本站會致力於保護用戶相關資訊，防止未經授權而遭到存取、竄改或揭露。也請您於每次關閉瀏覽器視窗時登出本站，以保護個人資料不會遭到他人讀取與濫用。</p>
                <p>
                    3. 凡為本站使用者之網路行為應遵循國內、外法律規範，並且對於個人所屬帳戶所發生之情事負全部責任。若您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請立即以電子郵件通知本站，以便資訊人員盡快處理。
                </p>
            </blockquote>
            <h5 itemprop="serviceType"><b>三、與第三人共用個人資料之政策</b></h5>
            <blockquote>
                <p>除非適用下列任一情況，否則我們不會與本站以外的其他公司、機構或個人分享使用者的個人資訊：</p>
                <p>1. 事先徵得您的同意</p>
                <p>除非得到您的同意，本站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關。</p>
                <p>2. 基於法律原因</p>
                <p>若為達到下列目的，對個人資訊的存取、使用、保存或揭露屬合理必要行為時，我們便將與本站以外的其他公司、機構或個人分享個人資訊：
                    <br />  符合任何適用法律、法規、法律函狀或強制性政府調閱要求的規定。
                    <br />  配合檢調或司法單位合法的調查。
                    <br />  配合政府機關依法進行之調查或使用。
                    <br />  依法律規應或在合法範圍內，保護本站、使用者或公眾之權利、財產或安全不致遭受危害。
                    <br />  與公務機關或學術研究機構合作，基於公共利益為統計或學術研究之必要，僅分享不含身分識別內容的資訊，且蒐集者依其揭露方式無從識別特定之當事人。
                    <br />  當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。
                    <br />
                </p>
            </blockquote>
            <h5 itemprop="serviceType"><b>四、資料安全</b></h5>
            <blockquote>
                <p>本站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以嚴格保護網站及您的個人資料。本站僅允許代表本站處理個人資訊而需要知悉該等資訊的本站團隊成員存取資訊，且相關人員均須遵守嚴格的保密義務合約，一旦未遵守義務便將受到相關的法律處分
                </p>
            </blockquote>
            <h5 itemprop="serviceType"><b>五、隱私權保護政策之修正</b></h5>
            <blockquote>
                <p>本站隱私權保護政策將因應需求隨時進行修正，並且不會在未經您明確同意的情況下，即縮減本《隱私權政策》賦予您的權利。修正後的條款將刊登於網站上，若會員不同意修改的內容，請來信告知或暫停使用本站。若會員繼續使用，將視為會員已同意並接受本規範等增訂或修改內容之約束。</p>
            </blockquote>
            <h5 itemprop="serviceType"><b>六、《隱私權政策》適用範圍及效力</b></h5>
            <blockquote>
                <p>本站的《隱私權政策》不適用於由其他網站連結或個人提供的服務，諸如由本站所連結到的其他網站皆不在此《隱私權政策》適用範圍之內。我們的《隱私權政策》不涵括其他為本站服務宣傳之公司或機構所採用的資訊做法。</p>
                <p>本同意書所定之任何會員條款之全部或一部無效時，不影響其他條款之效力。 關於本會員條款之解釋或適用，均以中華民國之法律為基準。使用者因使用本站而生之爭議，同意本誠信原則解決之，如有訴訟之必要時，同意以台灣台北地方法院為第一審管轄法院。
                </p>
            </blockquote>
        </div>
    </div>
</div>

{% endblock %}
