{% extends "base_nav.html" %} {% load staticfiles %} {% block title %}功能說明{% endblock %} {% block content %}
<div role="main">
    <legend>功能說明</legend>
    <p>為了解決紙本文件閱讀困難、轉製電子文件費時費力等等使得視障者閱讀障礙的問題，我們開發了eDocumentService系統，透過群眾參與的方式，一同於雲端上編輯軟體轉換的錯誤，達到提供服務使用者快速、即時的轉製電子文件的服務。為了群眾參與，在執行上有兩件事必需思考:</p>
    <p>
        一、如何管理眾多的參與者?</p>
    <p>
        二、可提供何種功能提昇使用者體驗?</p>
    <p>
        簡單的說就是<code>管理</code>與<code>服務</code>。從上述兩點出發，我們開發了一系列的功能，滿足在轉製電子文件流程中<b>志工</b>、<b>服務使用者</b>、<b>管理者</b>各面向的需求。</p>
    <div class="Well">
        <h4>管理</h4>
        <p>系統自動化，減少人工管理，達到彈性與可擴充性</p>
        <small>
            <ul>
                <li>系統採自動式分配文件，服務志工可隨時登入系統領取文件進行編輯轉製，可彈性應付志工人數與服務量增大時，人工處理困難的問題，達到自動化管理。</li>
                <li>系統設置自動回收機制：系統依預計完成時限，自動回收逾期未編輯之文件，重新開放讓其他服務志工領取編輯，以避免部分志工領取過久而未於期限內完成，影響文件轉製時程。</li>
                <li>
                服務志工可由系統即時得知編輯轉製文件之已完成頁數、完成時限、服務時數等資訊。</li>
            </ul>
        </small>
        <p>嚴謹的時數記錄與統計分析</p>
        <small>
            <ul>
                <li>透過「鍵盤輸入偵測」，於編輯器內偵測實際鍵盤輸入情形，確保志工確實有編輯動作，以避免掛網卻無編輯而領取志工時數。</li>

                <li>透過「文字差異分析比對」，將已提交之轉製後文件與初始文件進行比對，計算編輯字數，推算校對比例，判定比例是否
                在常態範圍區間，做為品質控管之參考依據。</li>
                <li>透過「校對產能推估」，分析服務時數與編輯次數二者關系，以利推估文件校對產能，可預期文件轉製所需時間。</li>
            </ul>
        </small>
        <p>著作權保護</p>
        <small>
            <ul>
                <li>透過「個人化浮水印」，依據不同志工給予獨一無二的掃描影像檔，每位志工所獲得的掃描影像檔皆會動態的印上使用者名稱浮水印，防止惡意散佈、重製等等違反著作權規範之行為。</li>
            </ul>
        </small>
    </div>
    <div class="Well">
        <h4>服務</h4>
        <p>友善、易懂、易操作的志工服務編輯介面</p>
            <small><ul>
                <li>設有直向排列與橫向排列兩種版面配置選擇，以利志工切換橫書及直書介面。</li>
                <li>可縮放掃描影像，讓志工自行調整掃描影像大小至最舒適的編輯狀態。</li>
                <li>針對大量文字編輯重置作業，系統更設置記憶校對文件進度功能。當按下標記鈕便會插入標記符號，檔案儲存後，便能記憶文件校對進度位置，並儲存目前掃描影像頁數，以利服務志工再次進入服務頁面時，能夠馬上接續文字編輯轉製，可省去大量時間，避免重複尋找校對之進度。</li>
            </ul></small>
        <p>系統錯誤偵測更正機制</p>
            <small><ul>
                <li>透過系統機器自然語言學習，對文件進行自動偵測錯誤更正，以修正志工疏漏之文字，提升文件品質。</li>
                <li>設立閱讀者回饋機制，當服務使用者在閱讀文件時，發覺有明顯文字錯誤(日->曰)，可提交回饋更正文件，且該更正回報並立即寫入系統，系統進行機器學習，以提昇自動偵測錯誤更正精準度。</li>
            </ul></small>


        <p>友善、資訊即時的服務使用者體驗</p>
        <small><ul>
            <li>服務使用者可即時查詢申請之轉製文件完成進度，包括已完成轉製校對頁數、預計完成時間等資訊，使服務有時間可預期性。</li>
            <li>系統設置平均分配書籍頁面，以每五十頁為單位，分配給予服務志工，因此服務使用者可先行閱讀完成之分段內容，不需等待一整本書所有分段完成才能閱讀，加快取得資訊時間。</li>
            <li>系統依據不同瀏覽裝置呈現不同使用者介面，不論是電腦、平版、手機皆能舒適的使用系統，方便服務使用者可彈性選擇使用系統服務的裝置，而不局限於僅能使用電腦操作。</li>
        </ul></small>
    </div>
</div>
{% endblock %}
