{% extends "base_nav.html" %}
{% block title %}
個人資料
{% endblock %}
{% block header %}
個人資料
{% endblock %}
{% block style %}
{% load staticfiles %}
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/getOTP.js' %}"></script>

<style type="text/css">
#otpModal .modal-content{
	background-color: #f5f5f5;
}
</style>

<script>

	function forcepost(me){
		me=$(me);
		let href=me.attr('href');
		aj_post(href, {})
		.done(function(data){
			console.log(data);
		})
		.fail(function(data){
			console.log(data);
		})
		return false; 
	}

</script>

{% endblock %}
{% block content %}
{% csrf_token %}
<div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content alert-info">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="otpModalLabel">驗證碼</h4>
			</div>
			<div class="modal-body">
					<input type="hidden" id="id_send_value" />
					<div class="form-group row">
					  <div class="col-md-6 col-md-offset-3">
							<span id="id_send_info" style="color: red;"></span>
					  </div>
					  <div class="col-md-4 col-md-offset-4">
						
						<button type="button" class="btn btn-primary" id="id_get_otp">取得驗證碼</button>
						<img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_otp_load" />
					  </div>
					</div>  
					<div class="form-group form-inline row">
						<div class="col-md-8 col-md-offset-2">
							<label for="recipient-code" class="form-control-label">驗證碼:</label>
							<input type="text" class="form-control" id="recipient-code">
							<button type="button" class="btn btn-primary" id="send_otp">送出驗證碼</button>
						</div>
					</div>
			</div>
			
		</div>
	</div>
</div>
<div class="row">
<h3 >個人資料</h3>
<div class="col-md-8 col-md-offset-2">
	<table class="table table-hover table-reflow no-page">
		{% for field in userForm %}
		<tr>
			<th class="col-md-4" scope="row">
				{{ field.label }}
			</th>
			<td class="col-md-8">
				{{ field.value }}
				{% if field.name == 'email' or field.name == 'phone' %}
				<div>
				{% if field.name == 'email' and not userForm.instance.auth_email or field.name == 'phone' and not userForm.instance.auth_phone %}
				<button class="btn-xs btn-warning" type="button" value="{{ field.name }}" data-toggle="modal" data-target="#otpModal" data-whatever="{{ field.name }}" data-sendto="{{ field.value }}">驗證</button>
				{% else %}
				<button class="btn-xs btn-success disabled"  type="button" value="{{ field.name }}" data-toggle="modal" data-target="#otpModal" data-whatever="{{ field.name }}" data-sendto="{{ field.value }}" disabled>已驗證</button>
				{% endif %}
				</div>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
					{% if request.user.has_guest %}
					<tr class="guest_mode">
						<th class="col-md-4" scope="row">
							身心障礙手冊正面：
						</th>
						<td>
							<img src="/static/{{ DCDir_url }}/{{ request.user.username }}_front.jpg" alt="身心障礙手冊正面" style="width:100%"/>
						</td>
					</tr>
					<tr class="guest_mode">
						<th class="col-md-4" scope="row">
							身心障礙手冊反面：
						</th>
						<td>
							<img src="/static/{{ DCDir_url }}/{{ request.user.username }}_back.jpg" alt="身心障礙手冊反面" style="width:100%"/>
						</td>
					</tr>
					{% endif %}
				</table>
				<div class="form-group row text-center">
						<a href="{% url 'password_change' %}" role="button" class="btn btn-default">修改密碼</a>
						<a href="{% url 'genericUser:change_contact_info' %}" role="button" class="btn btn-default">修改個人資料</a>
				</div>
		</div>
	</div>
</div>

{% if request.user.is_superuser %}
<h3>社群帳號綁定</h3>
<h4>facebook</h4>
<button><a href="{% url "social:begin" "facebook" %}">以 facebook 帳號綁定平台帳號</a></button>
<button><a href="{% url "social:disconnect" "facebook" %}">解除 facebook 帳號綁定</a></button>
<table>
	<thead>
		<tr>
			<th>連結帳號</th>
			<th>uid</th>
			<th>動作</th>
		</tr>
	</thead>
	<tbody>
		{% for association in facebook_association %}
		<tr>
			<td><a href="https://www.facebook.com/{{ association.uid }}" >facebook 頁面</a></td>
			<td>{{ association.uid }}</td>
			<td>
				<!-- <button><a href="{% url "social:disconnect_individual" "facebook" association.id %}">解除此綁定</a></button> -->
				<button><a href="{% url "social:disconnect_individual" "facebook" association.id %}" onclick="return forcepost(this)">解除此綁定</a></button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h4>google</h4>
<button><a href="{% url "social:begin" "google-oauth2" %}">以 google 帳號綁定平台帳號</a></button>
<button><a href="{% url "social:disconnect" "google-oauth2" %}">解除 google 帳號綁定</a></button>
<table>
	<tr>
		<th>連結帳號</th>
		<th>uid</th>
		<th>動作</th>
	</tr>
		{% for association in google_association %}
	<tr>
		<td><a href="https://www.facebook.com/{{ association.uid }}" >facebook 頁面</a></td>
		<td>{{ association.uid }}</td>
		<td><button><a href="{% url "social:disconnect_individual" "facebook" association.id %}" onclick="return forcepost(this)">解除此綁定</a></button></td>
	</tr>
		{% endfor %}
</table>
{% endif %}

{% endblock %}