{% extends "base_nav.html" %}
{% block title %}
平台使用條款
{% endblock %}
{% block content %}

<div id="license">
	<h2>平台使用條款</h2>
	<businesscontent pk="terms_of_service"></businesscontent>
	<businesscontent pk="privacy_and_security"></businesscontent>
	<input v-model="agree" type="checkbox" required>
		<span>我同意此條款</span>
	</input>
	<button @click="agree_set()">同意</button>
</div>
<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	new Vue({
		el: '#license',
		data: {
			agree: true,
		},
		created: function () {
			this.client = new $.RestClient('/genericUser/api/');
			this.client.add('users');
		},
		methods: {
			agree_set: function (event) {

				if(!this.agree){
					alertmessage('error', '請勾選「我同意此條款」')
				return -1
				}

				this.client.users.updatepart(user.id, {'is_license': this.agree})
				.done(function(data) {
					alertmessage('success', '完成簽署條款')
					.done(function() {
						location.reload()
					})
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', xhr.responseText)
				})
			},
		},
	})

</script>
{% endblock %}