{% extends "base_nav.html" %}
{% block title %}
登錄
{% endblock %}
{% block content %}
{% csrf_token %}
{% include 'comp/drf.vue' %}
{% include 'comp/form.vue' %}

<div id="login">
	<div class="form-group text-center">
		<h2>登錄</h2>
	</div>
	<div class="form-horizontal">
		<form-drf 
			:model_info="model_info.username"
			:field="'username'"
			:offset-class="'col-sm-offset-3'"
			v-model="username"
			@keyup.enter.native="login()"
		></form-drf>

		<form-drf 
			:model_info="model_info.password"
			:field="'password'"
			:offset-class="'col-sm-offset-3'"
			v-model="password"
			@keyup.enter.native="login()"
		></form-drf>

		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-5">
				<button class="form-control btn btn-primary" @click="login()">登錄</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-5">
				<a href="/genericUser/generics/retrieve/">忘記帳密</a>
			</div>
		</div>
	</div>
</div>

<script src="/static/ebookSystem/js/httpVueLoader.js"></script>
<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#login',
		components: {
			'form-drf': httpVueLoader('/static/ebookSystem/js/vue-component/form.vue'),
		},
		data: {
			username: '',
			password: '',
			model_info: {
				'username': {
					'label': '帳號',
					'type': 'text',
				},
				password: {
					'label': '密碼',
					'type': 'password',
				},
			},
		},
		created: function () {
			this.client = new $.RestClient('/genericUser/api/')
			this.client.add('users');
			this.client.users.addVerb('login', 'POST', {
				url: 'action/login/',
			});
		},
		methods: {
			login: function () {
				let self = this
				rest_aj_send('post', '/genericUser/api/users/action/login/', {
					username: self.username,
					password: self.password,
				})
				.done(function(data) {
					alertmessage('success', data.data.detail)
					.done(function() {
						window.location.replace('/')
					})
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', '登錄平台失敗，請確認帳號或密碼是否正確。')
				})

			},
		},
	})

</script>
{% endblock %}