{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
服務中心資訊
{% endblock %}
{% block header %}
服務中心資訊
{% endblock %}
{% block style %}

{% endblock %}

{% block content %}

<h3>服務中心資訊</h3>
<div class="row">
{% for org in org_list %}
	<div class="col-md-6">
	<h3>{{ org.name }}</h3>
	<span>{{ org.phone }}/{{ org.email }}</span><br />
	<span class="addressMap">{{ org.address }}</span>
    <div class="map" style="height:300px"></div>
    </div>
{% endfor %}
</div>

<script language="javascript" src="{% static 'ebookSystem/js/map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3UE3Q3JIlUr3w9N8TTykWtSo9rSxo9X4&callback=initMap" async defer></script>

{% endblock %}
