{% extends "base_nav.html" %}
{% block title %}
服務中心資訊
{% endblock %}
{% block header %}
服務中心資訊
{% endblock %}
{% block content %}

<h3>服務中心資訊</h3>
	<table class="table table-striped table-hover">
		<tr>
			<th>名稱</th>
			<th>地址</th>
			<th>電子郵件</th>
			<th>電話</th>
			<th>資訊</th>
		</tr>
{% for org in org_list %}
		<tr>
			<td>{{ org.name }}</td>
			<td>{{ org.address }}</td>
			<td>{{ org.email }}</td>
			<td>{{ org.phone }}</td>
			<td></td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}