{% extends "base_nav.html" %}
{% block title %}
教學內容
{% endblock %}
{% block content %}
{% include 'comp/table-div-row.vue' %}
{% csrf_token %} 

<div id="qanda_tutorial">
	<h2>教學內容</h2>
	<button
		v-if="user.is_manager"
		class="btn btn-primary"
		@click="qanda_create()"
	>新建</button>
	<table-div-row :header="qanda_tutorial_header" :datas="qanda_tutorial_datas">
		<template slot="order" slot-scope="props">
			{|{ props.item.order +1 }|}
		</template>
		<template slot="question" slot-scope="props">
			<div v-html="props.item"></div>
		</template>
		<template slot="answer" slot-scope="props">
			<div v-html="props.item"></div>
		</template>
		<template slot="action" slot-scope="props">
			<button
				v-if="user.is_manager"
				class="btn btn-primary"
				@click="qanda_update(props.item.id)"
			>編輯</button>
			<!--data-toggle="modal" :data-target="'#qm'"-->
			<button
				v-if="user.is_manager"
				class="btn btn-primary"
				@click="qanda_del(props.item.id)"
			>刪除</button>
		</template>
	</table-div-row>

	<modal id_modal="qm">
		<template slot="header">
			<h4 class="modal-title">Q&A 編修</h4>
		</template>
		<template slot="body">
			<div class="form-group">
				<label for="id_question" class="control-label"><font style="color:red">*</font>問題</label>
				<editor id="id_question" v-model="qanda_instance.question" :init="tinymce_init"></editor>
				{|{ qanda_instance.question }|}
			</div>
			
			<hr>
			<div class="form-group">
				<label for="id_answer" class="control-label"><font style="color:red">*</font>回答</label>
				<editor id="id_answer" v-model="qanda_instance.answer" :init="tinymce_init"></editor>
				{|{ qanda_instance.answer }|}
			</div>
			
		</template>
	</modal>
</div>
<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	let tinymce_init = {
		selector: "editor",
		language:"zh_TW",
		plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak', 'searchreplace wordcount visualblocks visualchars code fullscreen', 'insertdatetime media nonbreaking save table contextmenu directionality', 'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'],
		toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons | codesample'
	};

	new Vue({
		el: '#qanda_tutorial',
		data: {
			qanda_tutorial_header: {
				'order': '項次',
				'question': '問題',
				'answer': '回答',
				'action': '動作'
			},
			qanda_tutorial_datas: [],
			qanda_instance: {
				'category': '',
				'question' :'',
				'answer': '',
				'order': '',
			},
		},
		components: {
			'editor': Editor
		},
		created: function () {
			this.client = new $.RestClient('/genericUser/api/');
			this.client.add('qandas');
		},
		mounted: function () {
			this.qanda_list_refresh()
		},
		methods: {
			qanda_list_refresh: function () {
				let self = this;
				self.qanda_tutorial_datas = []

				//self.client.qandas.read({'category': 'tutorial'})
				self.client.qandas.read({'category': 'tutorial'})
				.done(function(data){
					filter_data = []
					_.each(data,function(v){
						temp_data = {
							'order': v,
							'question': v.question,
							'answer': v.answer,
							"action": v,
						}
						filter_data.push(temp_data)
					})
					self.qanda_tutorial_datas = filter_data
				})
			},
			qanda_create: function () {
				let self = this;

				//AboutQAndA
				AboutQAndA('', '', 'tutorial')
				.done(function(nq,na, nc){
					self.qanda_instance.question = nq
					self.qanda_instance.answer = na
					self.qanda_instance.category = nc
					self.qanda_instance.order = 0
					self.client.qandas.create(self.qanda_instance)
					.done(function(data) {
						alertmessage('success', '成功新建教學內容。')
						.done(function(data) {
							self.qanda_list_refresh()
						})
					})
					.fail(function(xhr, result, statusText){
						alertmessage('error', xhr.responseText)
					})

				})
			},
			qanda_update: function (pk) {
				let self = this;
				self.client.qandas.read(pk)
				.done(function(data) {
					_.each(self.qanda_instance, function(v, k){
						self.qanda_instance[k] = data[k]
					})
				})
				let qa = self.qanda_instance

				//AboutQAndA
				AboutQAndA(qa.question,qa.answer, qa.category)
				.done(function(nq,na, nc){
					self.qanda_instance.question = nq
					self.qanda_instance.answer = na
					self.qanda_instance.category = nc
					self.client.qandas.update(pk, self.qanda_instance)
					.done(function(data) {
						alertmessage('success', '成功更新教學內容。')
						.done(function(data) {
							self.qanda_list_refresh()
						})
					})
					.fail(function(xhr, result, statusText){
						alertmessage('error', xhr.responseText)
					})
				})

			},
			qanda_del: function (pk) {
				let self = this

				alertconfirm('確認刪除 Q&A id:' +pk)
				.done(function(){
					self.client.qandas.del(pk)
					.done(function(data) {
						alertmessage('success', '成功刪除 Q&A id:' +pk)
						.done(function(){
							self.qanda_list_refresh()
						})
					})
					.fail(function(xhr, result, statusText){
						alertmessage('error', xhr.responseText)
					})
				})
			},
		},
	})
</script>
{% endblock %}