{% extends "base_nav.html" %}
{% block resource %}
	{% load staticfiles %}
	<link hrerf="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
	<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/register.js' %}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script> 
{% endblock%}

{% block title %}
取回帳密
{% endblock %}

{% block content %}
{{ status }}
{{ message }}
<div role="tabpanel" style="margin-top:50px">
    <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation"><a href="#r_password_form" aria-controls="home" role="tab" data-toggle="tab">取回帳密</a></li>
		<li role="presentation"><a href="#r_username_form" aria-controls="profile" role="tab" data-toggle="tab">取回帳號</a></li>
	</ul>
	<div class="tab-content" style="width: 300px; margin-top: 20px">
		<div role="tabpanel" class="tab-pane active" id="r_password_form">
			<form action="" method="post" role="form">
			{% csrf_token %}
				<div class="form-group">
					<label for="id_username">帳號：</label>
					<input class="form-control" id="id_username" name="username" type="text" placeholder="username" required />
				</div>
				<div class="form-group">
					<label for="id_email">電子郵件：</label>
					<input class="form-control" id="id_email" name="email" type="email" placeholder="email" required />
				</div>
				<div class="form-group">
					<label for="id_birthday">生日：</label>
					<input class="form-control datepicker" id="id_birthday" name="birthday" type="text" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" placeholder="1989-02-19" required>
				</div>
				<button type="submit" class="btn btn-primary send_form" id="id_send">送出</button>
				<input type="reset" class="btn btn-danger" value="清除">
				<input type="hidden" name="type" value="password">
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="r_username_form">		
			<form action="" method="post" role="form">
			{% csrf_token %}
				<div class="form-group">
					<label for="id_email">電子郵件：</label>
					<input class="form-control" id="id_email" name="email" type="email" placeholder="email" required />
				</div>
				<div class="form-group">
					<label for="id_birthday">生日：</label>
					<input class="form-control datepicker" id="id_birthday" name="birthday" type="text" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" placeholder="1989-02-19" required>
				</div>
				<button type="submit" class="btn btn-primary send_form" id="id_send">送出</button>
				<input type="reset" class="btn btn-danger" value="清除">
				<input type="hidden" name="type" value="username">
			</form>
		</div>
	</div>
</div>
{% if status == 'error'%}
<div class="alert alert-danger" role="alert"> {{ message }} </div>
{% endif %}
{% if status == 'success'%}
<div class="alert alert-success" role="alert"> {{ message }} </div>
{% endif %}
{% endblock %}

