{% extends "base_nav.html" %}
{% block resource %}
	{% load staticfiles %}
	<link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
	<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script> 
{% endblock%}

{% block title %}
取回密碼
{% endblock %}

{% block content %}
{{ status }}
{{ message }}
<h3>取回密碼</h3>
<form action="" method="post" role="form">
{% csrf_token %}
<table>
	<tr>
		<th><label for="id_username">帳號：</label></th>
		<td><input id="id_username" name="username" type="text" placeholder="username" required /></td>
	</tr>
	<tr>
		<th><label for="id_name">姓名：</label></th>
		<td><input id="id_name" name="name" type="text" placeholder="name" required /></td>
	</tr>
	<tr>
		<th><label for="id_birthday">生日：</label></th>
		<td><input id="id_birthday" name="birthday" type="text" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" class="datepicker" placeholder="1989-02-19" required></td>
	</tr>
</table>
<input type="submit" class="btn btn-primary" value="送出" id="id_send">
<input type="reset" class="btn btn-danger" value="清除">
</form>
{% endblock %}