{% extends "ebookSystem/review.html" %}
{% load staticfiles %}
{% block title %}
{{ user.username }}審核
{% endblock %}
{% block header %}
{{ user.username }}審核
{% endblock %}

{% block review_title %}{{ user.username }}審核{% endblock %}

{% block review_step1_title %}Step1:基本資料{% endblock %}
{% block review_step2_title %}Step2:權限控制{% endblock %}
{% block review_step3_title %}Step3:審查結果{% endblock %}


{% block review_step1 %}
<div class="col-md-10 ">
    <table class="table table-hover table-reflow table-striped">
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_username">username:</label>
            </th>
            <td class="col-md-8">
                <p>{{ user.username }}</p>
            </td>
        </tr>
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_first_name">First name:</label>
            </th>
            <td>
                <p>{{ user.first_name }}</p>
            </td>
        </tr>
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_last_name">Last name:</label>
            </th>
            <td>
                <p>{{ user.last_name }}</p>
            </td>
        </tr>
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_email">Email address:</label>
            </th>
            <td>
                <p>{{ user.email }}</p>
            </td>
        </tr>
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_phone">Phone:</label>
            </th>
            <td>
                <p>{{ user.phone }}</p>
            </td>
        </tr>
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_birthday">Birthday:</label>
            </th>
            <td>
                <p>{{ user.birthday }}</p>
            </td>
        </tr>
        <tr>
            <th class="col-md-4" scope="row">
                <label for="id_last_name">Education:</label>
            </th>
            <td>
                <p>{{ user.education }}</p>
            </td>
        </tr>
    </table>
</div>
<div class="col-md-2">
</div>
{% endblock %}


{% block review_step2 %}
<div class="col-md-10">
    <table class="table table-hover table-reflow table-striped">
        {% if user.has_editor %}
        <tr>
            <td colspan=2><div class="text-center">志工</div></td>
        </tr>
        <tr class="editor_mode">
            <th class="col-md-4" scope="row">
                <label for="id_professional_field">professional field:</label>
            </th>
            <td class="col-md-8">
                <p>{{ user.editor.professional_field }}</p>
            </td>
        </tr>
        {% endif %} {% if user.has_guest %}
        <tr>
            <td colspan=2><div class="text-center">視障者</div></td>
        </tr>
        <tr class="guest_mode">
            <th class="col-md-4" scope="row">
                <label for="id_disability_card_front">disability_card_front field:</label>
            </th>
           <td class="col-md-8">
				<img width="100%" src="/static/{{ DCDir_url }}/{{ user.username }}_front.jpg" alt="身心障礙手冊正面" />
            </td>
        </tr>
        <tr class="guest_mode">
            <th class="col-md-4" scope="row">
                <label for="id_disability_card_back">disability_card_back field:</label>
            </th>
            <td class="col-md-8">
				<img width="100%" src="/static/{{ DCDir_url }}/{{ user.username }}_back.jpg" alt="身心障礙手冊反面" />
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>登錄權限</th>
            <td><div class="switch" data-on="info" data-off="success">
                    <input type="checkbox" name="active" {%if user.is_active %}checked{%endif%} />
                </div>
            </td>
        </tr>
        {% if user.has_editor %}
        <tr>
            <th>校對權限</th>
            <td><div class="switch" data-on="info" data-off="success">
                    <input type="checkbox" name="editor" {%if user.is_editor %}checked{%endif%} />
                </div>
            </td>
        </tr>
        {% endif %} 
        {% if user.has_guest %}
        <tr>
            <th>來賓權限</th>
            <td>
                <div class="switch" data-on="info" data-off="success">
                    <input type="checkbox" name="guest" {%if user.is_guest %}checked{%endif%} />
                </div>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
<div class="col-md-2">
</div>
{% endblock %}
