{% extends "base_nav.html" %} 
{% block title %} {{ user.username }}角色 {% endblock %} 
{% block header %}
{{ user.username }}角色 
{% endblock %}
{% block style %} {% load staticfiles %}
<script language="javascript" src="{% static 'ebookSystem/js/register.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/upload_file.js' %}"></script>
<style>

</style>
{% endblock %} {% block content %}
<form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>角色設定</h3>
    <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body alert-info">
                    <legend>Uploading...</legend>
                    <div class="progress">
                        <div id="uploadProgressBar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span id="uploadProgressText"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover table-reflow">
                <tr>
                    <th class="col-md-4" scope="row">
                        帳號角色資訊
                    </th>
                    <td>
                        {% if request.user.has_editor %}志工角色啟用{% endif %}
                        {% if request.user.has_guest %}服務使用者角色啟用{% endif %}
                    </td>
                </tr>
                <tr class="editor_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_professional_field">專業領域：</label>
                    </th>
                    <td>
                        <input id="id_professional_field" maxlength="30" name="professional_field" value="{{ user.editor.professional_field }}" type="text">
                    </td>
                </tr>
                <tr class="guest_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_front">身心障礙手冊正面</label>
                    </th>
                    <td>
                        <input id="id_disability_card_front" maxlength="30" name="disability_card_front" type="file" accept="image/jpeg">
                    </td>
                </tr>
                <tr class="guest_mode">
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_back">身心障礙手冊反面:</label>
                    </th>
                    <td>
                        <input id="id_disability_card_back" maxlength="30" name="disability_card_back" type="file" accept="image/jpeg">
                    </td>
                </tr>
            </table>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-6">
                    <input type="submit" class="btn btn-primary" value="send" id="id_send">
                    <input type="reset" class="btn btn-danger" value="reset">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
