{% extends "base_nav.html" %} 
{% block title %} {{ user.username }}角色 {% endblock %} 
{% block header %}
{{ user.username }}角色 
{% endblock %}
{% block style %} {% load staticfiles %}
<style>

</style>
{% endblock %} {% block content %}
<form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>角色設定</h3>
    {% include 'utils/dialog.html' %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover table-reflow no-page">
                <tr>
                    <th class="col-md-4" scope="row">
                        帳號角色資訊
                    </th>
                    <td>
                        {% if request.user.has_editor %}<span class="label label-success">志工角色</span>{% endif %}
                        {% if request.user.has_guest %}<span class="label label-success">服務使用者角色<span>{% endif %}
                    </td>
                </tr>
                {% if request.user.has_editor %}
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_professional_field">專業領域：</label>
                    </th>
                    <td>
                        <input id="id_professional_field" maxlength="30" name="professional_field" value="{{ user.editor.professional_field }}" type="text">
                    </td>
                </tr>
                {% endif %}
                {% if request.user.has_guest %}
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_front">身心障礙手冊正面</label>
                    </th>
                    <td>
                        <input id="id_disability_card_front" maxlength="30" name="disability_card_front" type="file" accept="image/jpeg">
                    </td>
                </tr>
                <tr>
                    <th class="col-md-4" scope="row">
                        <label for="id_disability_card_back">身心障礙手冊反面:</label>
                    </th>
                    <td>
                        <input id="id_disability_card_back" maxlength="30" name="disability_card_back" type="file" accept="image/jpeg">
                    </td>
                </tr>
                {% endif %}
            </table>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-6">
                    <input type="submit" class="btn btn-primary" value="send" id="id_send">
                    <input type="reset" class="btn btn-danger" value="reset">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
