{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
訊息傳送
{% endblock %}
{% block content %}
{% include 'comp/form.vue' %}
{% csrf_token %}

<div id="user_email">
	<h2>訊息傳送</h2>
	<div class="form-horizontal">
		<form-drf
			:keys="'category'"
			:model_info="model_info.category"
			:label-class="'col-sm-1'"
			:input-class="'col-sm-11'"
			mode="write"
			v-model="category"
		></form-drf>
		<form-drf
			:keys="'subject'"
			:model_info="model_info.subject"
			:label-class="'col-sm-1'"
			:input-class="'col-sm-11'"
			mode="write"
			v-model="subject"
		></form-drf>
		<form-drf
			:keys="'body'"
			:model_info="model_info.body"
			:label-class="'col-sm-1'"
			:input-class="'col-sm-11'"
			mode="write"
			v-model="body"
		></form-drf>
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-11">
				<button class="btn btn-primary" @click="send_email()">傳送</button>
			</div>	
		</div>
	</div>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#user_email',
		data: {
			category: 'editor',
			subject: '',
			body: '',
			model_info: {
				'category': {
					'label': '類型',
					'type': 'radio',
					'choices' : [
						{
							'value': 'editor',
							'display_name': '志工',
						},
						{
							'value': 'guest',
							'display_name': '視障者',
						},
					],
				},
				'subject': {
					'label': '主指',
					'type': 'text',
				},
				'body': {
					'label': '內容',
					'type': 'textarea',
				},
			},
		},
		created: function () {
			this.client = new $.RestClient('/genericUser/api/');
			this.client.add('users');
		},
		methods: {
			send_email: function () {
				let self = this

				post_data = {
					'category': self.category,
					'subject': self.subject,
					'body': self.body,
				}
				rest_aj_send('post', '/genericUser/api/users/action/email/', post_data)
				.done(function(data) {
					alertmessage('success', '成功傳送訊息')
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', xhr)
					console.log(xhr)
				})
			},
		},
	})
</script>

{% endblock %}