{% extends "base_nav.html" %}
{% block title %}
使用者管理
{% endblock %}
{% block content %}
{% csrf_token %}
{% include 'comp/table-div.vue' %}
{% include 'comp/modal.vue' %}
{% include 'comp/disabilitycard.vue' %}
{% include 'comp/serviceinfo_record.vue' %}

<div id="user_manager">
	<h2>使用者管理</h2>
	<div id="usermanager_tab_查詢" class="tab-pane active">
		<div class="form-inline" style="margin-bottom:20px;">
			<span>關鍵字查詢：</span>
			<select v-model="search_role" class="form-control">
				<option value="all">全部</option>
				<option value="editor">志工</option>
				<option value="guest">視障者</option>
			</select>
			<input v-model="search_value" class="form-control" type="text" placeholder="輸入欲查詢資訊">
			<button class="btn btn-primary" @click="user_search();">搜尋</button>
		</div>
	<table-div
		:header="user_header"
		:datas="datas"
	>
		<template slot="action" slot-scope="props">
			<button class="btn btn-default" style="margin:0px 3px 3px 0px;" @click="usermodel(props.item.id)">基本資料修改</button>
			<button class="btn btn-default" style="margin:0px 3px 3px 0px;" @click="UserPermission(props.item.id)">權限設定</button>
			<a class="btn btn-default" style="padding:6px 12px; margin:0px 3px 3px 0px;" :href="'/genericUser/review_user/' +props.item.username +'/'" role="button">審核</a>
			<!--data-toggle="modal" :data-target="'#'"-->
			<button class="btn btn-primary"
				v-if="props.item.is_guest"
				@click="dm_bus.$emit('instance-set', props.item.disabilitycard_set[0]); openDialog('dm', this);"
			>
				<div v-if="props.item.disabilitycard_set[0]">手冊查閱編修</div>
				<div v-else>手冊新建登錄</div>
			</button>
			<!--<a
				v-bind:href="'/genericUser/generics/disabilitycard_register/' +props.item.disabilitycard_set[0] +'/'"
				class="btn btn-primary"
				role="button"
							target="blank" title="(另開新視窗)"
			>
				手冊登錄
			</a>-->
			<button class="btn btn-primary"
				v-if="props.item.is_editor"
				@click="sr_bus.$emit('instance-set', props.item.id); openDialog('sr', this);"
			>
				服務紀錄(modal)
			</button>
			<a
				v-if="props.item.is_editor"
				v-bind:href="'/genericUser/generics/serviceinfo_record/' +props.item.id +'/'"
				class="btn btn-primary"
				role="button"
							target="blank" title="(另開新視窗)"
			>
				服務紀錄
			</a>
		</template>
	</table-div>
	<modal :id_modal="'dm'">
		<template slot="header">
			<h4 class="modal-title">身心障礙手冊登錄</h4>
		</template>
		<template slot="body">
	<disabilitycard
		:bus="dm_bus"
	>
	</disabilitycard>
		</template>

		<template slot="footer">
			<button class="btn btn-default" data-dismiss="modal">關閉</button>
			<button class="btn btn-primary">儲存</button>
		</template>

	</modal>
	<modal :id_modal="'sr'">
		<template slot="header">
			<h4 class="modal-title">服務紀錄</h4>
		</template>
		<template slot="body">
			<serviceinfo_record
				v-bind:bus="sr_bus"
			>
			</serviceinfo_record>
		</template>

		<!--<template slot="footer">
			<button class="btn btn-default" data-dismiss="modal">關閉</button>
			<button class="btn btn-primary">儲存</button>
		</template>-->

	</modal>

</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#user_manager',
		data: {
			dm_bus: new Vue(),
			sr_bus: new Vue(),
			user_header: {
				"username": "使用者名稱",
				"name": "姓名",
				"email": "電子信箱",
				"phone": "聯絡電話",
				"action": "動作",
			},
			datas: [],
			search_role: 'all', //all/editor/guest
			search_value: '',
			temp_dcpk: '',
		},
		created: function () {
			this.client = new $.RestClient('/genericUser/api/');
			this.client.add('users');
		},
		methods: {
			user_search: function () {
				let self = this;

				query = {}
				self.client.users.read({'search': self.search_value, 'role': self.search_role})
				.done(function(data){

					filter_data = []
					_.each(data,function(v){
						temp_data = {
							"username": v.username,
							"name": v.first_name +v.last_name,
							"email": v.email,
							"phone": v.phone,
							"action": v,
						}

						filter_data.push(temp_data)
					})
					self.datas = filter_data
					alertmessage('success', '查詢完成，共取得 ' +self.datas.length +' 筆資料');
				})
			},
		},
	})
</script>

{% endblock %}