{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
首頁
{% endblock %}

{% block style %}
    <link href="{% static "ebookSystem/css/bootstrap/assets/docs.min.css" %}" rel="stylesheet" > 
    <link href="{% static "ebookSystem/css/bootstrap/assets/src/docs.css" %}" rel="stylesheet" > 
{% endblock %}
{% block content %}

<section id="explanation">
    <div class="page-header">
        <h3>edocumentservice雲端平台系統-使用流程</h3></div>
    <div class="bs-callout bs-callout-info">
        <div class="panel-group" id="explanation-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#register">註冊與登入</a>
        </h4>
                </div>
                <div id="register" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p class="lead">首頁->點選<b>註冊</b>(填寫個人基本資料及個人專業領域，並將角色一欄勾選為☑志工)->註冊完畢->登入成功!</p>
                        <p>★填寫個人專業領域之目的為，希望未來能夠透過專業書籍與相關專業領域志工的媒合，減少專業書籍重製之錯誤率。</p>
                        <p>★角色一欄中，☑志工與☑視障者之差別為，視障者受到著作權使用免責的保障，而能於此平台取用電子書，因此則需要提供身心障礙手冊電子檔影本(正反面)，作為身分驗證，而志工則否。</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#volunteer">志工使用程序</a>
        </h4>
                    </div>
                    <div id="volunteer" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="thumbnail">
                                <p class="lead">登入成功後->畫面挑轉進入志工使用頁面</p>
                                <img src="{% static " ebookSystem/img/volunteer_img.png " %}" alt="登入頁面">
                                <div class="caption">
                                    <p>
                                        <b>首頁</b>：系統平台介紹與各項操作說明。
                                        <br /><b>服務</b>：★★以下詳細介紹。
                                        <br /><b>查詢</b>：提供使用者或志工查詢，輸入書籍之ISBN碼，則可查詢是否已存在該重製後書籍。
                                        <br /><b>帳號->消息</b>：紀錄志工已完成之書籍重製文件及服務時數。
                                        <br /><b>帳號->設定</b>：顯示登錄者基本資料，並可修改宓碼、基本資料與角色設定。
                                        <br /><b>聯絡我們</b>：提供志工或視障者之意見回饋。
                                    </p>
                                </div>
                            </div>
                            <p class="lead">★點選服務鍵：</p>
                            <h4>Step 1:選擇勾選☑領部分文件或☑領完整文件</h4>
                            <ol>
                                <li>志工若勾選☑領部分文件，則只會得到書籍其中一小部分的文件資料(每五十頁為一個part)作重製，適合所能提供重製時數較少之志工教快速完成重製﹔</li>
                                <li>志工若勾選☑領完整文件，則會得到整本書籍完整的文件資料作重製，適合對該書及有興趣想要在重製書籍同時能閱讀全文之志工，所花費之重製時數會較長，然而，偶爾因系統上所需重製之書籍數不足，因此可能未能有機會領完整文件。</li>
                            </ol>
                            <p><b>頁數</b>：代表志工實際完成重製之頁數。
                                <br /><b>時數</b>：代表志工實際登錄進行重製之時間。(以分鐘為單位)。
                                <br /><b>還文件</b>：取消領取文件。</p>
                            <h4>Step 2進入編輯頁面之使用程序(左側為書籍掃描圖檔，右側為編輯校對文字介面)</h4>
                            <p>點選☑領部分文件或☑領完整文件後進入【編輯頁面】</p>
                            <div class="thumbnail">
                                <p class="lead">右側編輯頁上方各項工具介紹</p>
                                <img src="{% static " ebookSystem/img/edit_img.png " %}" alt="編輯頁面">
                                <div class="caption">
                                    <ul>
                                        <li>「mark」鍵：進行書籍重製中，完成一部分之編輯後，可點選mark鍵，會插入此︱----------︱符號，之後再點選「存檔」鍵，下次再開啟書籍重製頁面時，則上次插入mark點以上之資料(已完成重製資料的部分資料)已系統存檔並消失，則可繼續進行未完成重製資料之校對。</li>
                                        <li>「存檔」鍵：僅完成部分書籍重製時，可插入mark鍵︱----------︱符號，並逕行存檔。</li>
                                        <li>「完成」鍵：完成自己所領取的整份資料重製時，可按「完成」鍵送出完整校對內容，若誤按可至「服務」頁面重新點選「再編輯」再繼續編輯。</li>
                                        <li>「切換版型」鍵：依書籍為直式或橫式，校對志工可切換編輯版型調整為直式或橫式，便於編輯與校對。</li>
                                    </ul>
                                </div>
                            </div>
                            <h4>Step 3書籍完成重製</h4>
                            <p>整份重製資料完成->存檔->於志工服務頁面顯示志工服務時數。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}