{% extends "base_nav.html" %}
{% block title %}
法鼓山
{% endblock %}
{% block content %}

{% csrf_token %}

<div class="tab-content" style="padding:20px 0px;">
	<h2>法鼓山</h2>
	<div id="ddm">
		<table-div
			:header="file_manager_header"
			:datas="resource_file_datas"
		>
			<template slot="action" slot-scope="props">
				<button
					v-if="1==1"
					class="btn btn-default"
					@click="window.location.replace(url +props.item.name +'/')"
				>下載</button>
			</template>
		</table-div>
	</div>
</div>

<script>

	new Vue({
		el: '#ddm',
		components: {
		},
		data: {
			url: '/api/ddm/resource/107/',
			file_manager_header: {
				'order': '序號',
				'name': '檔案名稱',
				'size': '檔案大小',
				'mtime': '修改日期',
				'action': '動作',
			},
			resource_file_data: [],
		},
		mounted: function () {
		},
		methods: {
			get_resource_file_datas: function(resource_name){
				let self = this

				self.resource_file_datas = []
				rest_aj_send('get', self.url, {})
				.done(function(data) {
					index = 0
					_.each(data['data'], function(v){
						self.resource_file_datas.push({
							'order': index,
							'name': v.name,
							'size': v.size,
							'mtime': v.mtime.slice(0,10),
							'action': v,
						})
						index = index +1
					})
				})
				.fail(function(xhr, result, statusText){
					console.log(xhr)
				})
			},
		},
	})

</script>
{% endblock %}