<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>閱讀 | 雲端千眼</title>

    <script type="text/javascript" src="/static/ebookSystem/js/jquery/jquery-1.12.4.min.js"></script>
    
    <script type="text/javascript">
        $(function(){

            $('html, body, iframe').css({
                margin: 0,
                padding: 0,
                border: 0,
                width: '100%',
                height: '100%',
                overflowY: 'hidden',
            });

            $('iframe').attr('src','/static/ebookSystem/framework/readium/cloud-reader-lite/index_custom.html?timetag='+Date.now()+'&view={{ base64_path }}')

        })
    </script>

</head>
<body>
    <iframe></iframe>
</body>
</html>
