{% extends "base.html" %}
{% block title %}
統計資料
{% endblock %}
{% block content %}
<link href="/static/ebookSystem/css/signin.css" rel="stylesheet">
<script src="https://www.google.com/recaptcha/api.js" async defer></script> 
{% csrf_token %} 

<div class="container">
	<div id="app">
		<eds_nav></eds_nav>
<h3>統計資料</h3>
<form action="" method="post" role="form">
<table class='table table-striped'>
	<tr>
		<th>時間</th>
		<th>校對志工人數</th>
		<th>視障者人數</th>
		<th>活躍校對志工人數(30日內有上線)</th>
		<th>總書數</th>
		<th>已掃描書數</th>
		<th>已校對書數</th>
		<th>轉入txt書數</th>
		<th>轉入epub書數</th>
	</tr>
	{% for i in result %}
	<tr>
		<td>{{ i.0 }}</td>
		<td>{{ i.1 }}</td>
		<td>{{ i.2 }}</td>
		<td>{{ i.3 }}</td>
		<td>{{ i.4 }}</td>
		<td>{{ i.5 }}</td>
		<td>{{ i.6 }}</td>
		<td>{{ i.7 }}</td>
		<td>{{ i.8 }}</td>
	</tr>
	{% endfor %}
</table>
</form>
		<eds_footer></eds_footer>
	</div>
</div>

<script>
	Vue.use(VueMeta)
	//Vue.options.delimiters = ['{|{', '}|}'];

	let mapState = Vuex.mapState;

//$(()=>{
	new Vue({
		store,
		el: '#app',
		components: {
			eds_nav: components['eds_nav'],
			routerview: pages['{{ app }}/{{ page }}'],
			eds_footer: components['eds_footer'],
		},
		data: {
			mode: 'all',
		},
		computed: {
			...mapState({
				user: 'user',
			}),
		},
		/*metaInfo: {
			titleTemplate: '%s | 雲端千眼平台',
		},*/
		created(){
			{% if user.is_authenticated %}
			this.$store.dispatch('getUser',
			{
				id: {{ request.user.id }},
			});
			{% endif %}

			mode = localStorage.getItem('nav_mode');
			if(!mode) {
				this.mode = 'all'
			}
			else {
				this.mode = mode
			}

		},
	});
//})
</script>

{% endblock %}