/*
.table-hover > tbody > tr:hover {
  background-color: rgba(86,61,124,.15);
}
*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scrollbarDiv{
    overflow: auto;
    /*height:800px;*/
    height:100%;
}
textarea
{
    width:100%;
    resize:both;

   /* height:100vh;*/
}
#buttonGroup{
    text-align:center;
}
.centered{
    display: inline-block;
    float:none;
}
.pager{
    margin:0px;
}
#sizeControl{
    margin-top:10px;
    margin-bottom:10px;
}