/*
.table-hover > tbody > tr:hover {
  background-color: rgba(86,61,124,.15);
}
*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .container, .row{
  height: 100%;
}
#buttonGroup{
    text-align:center;
    height:10%;
}
#dataContent,.towColumn{
    height: 90%;
    margin:0px;
}

textarea.form-control {
   height: 100%;
   width:100%;
}

#imagePage > nav{
    height:10%;
}
#imagePage > .row{
    height:10%;
}
.scrollbarDiv{
   overflow: scroll;
   height:80%;
}

.centered{
    display: inline-block;
    float:none;
}
.pager{
    margin:0px;
}
#sizeControl{
    margin-top:10px;
    margin-bottom:10px;
}