/*
.table-hover > tbody > tr:hover {
  background-color: rgba(86,61,124,.15);
}
*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scrollbarDiv{
    overflow: auto;
    height:800px;
}
textarea
{
    width:100%;
}
#buttonGroup{
    text-align:center;
}