*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  margin-bottom: auto;
}
html, body, .container, .row{
  height: 100%;
}

#dataContent,.towColumn{
    height: 98%;
    margin:0px;
}
.inline {
    display: inline
}
.oneColumn-text
{
    height: 30%;
    margin:0px;
}
.oneColumn-image
{
    height: 70%;
    margin:0px;
}
textarea.form-control{
   height: 75%;
   width:100%;
}

#imagePage > nav{
    height:10%;
}
#imagePage > .row{
    height:10%;
}
.scrollbarDiv{
   overflow: scroll;
   height:80%;
}

.centered{
    display: inline-block;
    float:none;
}
#sizeControl{
    margin-top:10px;
    margin-bottom:10px;
}
.