body{
	margin-bottom: auto;
	padding-bottom: 40px;
}
html, body, .container, .row{
	height: 100%;
}

.towColumn{
/* height: 100%; */
	margin:0px;
}
.inline {
	display: inline;
}
.oneColumn-text
{
	height: 30%;
}
.oneColumn-image
{
	height: 70%;  
	margin-bottom: 50px; 
}

textarea.form-control{
	height: 80%;
	width:100%;
}

#imagePage > nav{
	height:30px;
}
#imagePage > #sizeControl{
	margin-bottom: 10px;
	margin-top:10px;
	height:30px;
}
#imagePage{
	/*padding-top:30px;*/
	padding-bottom: 110px;
}


@media screen and (min-width: 400px) {
	#imagePage {
		margin-bottom: 0px; 
	}
}

.scrollbarDiv{
	overflow: scroll;
	height:100%;
	width: 100%;
}

.centered{
	display: inline-block;
	float:none;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.hide-me{
	display: none;    
}
