*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  height:100%;
  padding-top: 50px;    /*nav height*/
  padding-bottom:70px;  /*footer height and nav margin-bottom*/
}
body > .container {
 min-height: 100%;
}
code {
  font-size: 80%;
}

.table tr a{
  padding-left:0px;
}
.page-header {
  margin:20px 0 20px;
}
.footer {
    text-align: center;
    padding-top: 15px;
    min-height:50px;
    /*margin-top: 20px;*/
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.muted {
    color: #999999;
}

.center-pills {
    display: flex;
    justify-content: center;
}
.img-responsive {
    margin: 0 auto;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.centered{
    display: inline-block;
    float:none;
    text-align: center;
}
