body {
  
  padding-top: 50px;
}
body > .container {
  min-height: 500px;
}
code {
  font-size: 80%;
}

.table tr a{
  padding-left:0px;
}
.page-header {
  margin:20px 0 20px;
}
.footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
    padding:0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.muted {
    color: #999999;
}
