body {
  
  padding-top: 50px;
}
body > .container {
  min-height: 600px;
}
code {
  font-size: 80%;
}

.table tr a{
  padding-left:0px;
}
.page-header {
  margin:20px 0 20px;
}
.footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.muted {
    color: #999999;
}
