/*
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
 margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #eee;
  background-color: #ffffff;
}

.footer p{
  margin:0;
}
.footer nav{
  height: 60px;
}
nav .pager{
    margin:0px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  /*padding: 60px 15px 0;*/
  padding: 30px 15px 0;
}
.container .text-muted {
  margin: 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.table tr a{
  padding-left:0px;
}
.page-header {
  margin:20px 0 20px;
}


