html, body {
    font-family: "微軟正黑體","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loader {
	display: inline-block;
	border: 5px solid #f3f3f3;
	animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@media (max-width: 736px) {

	.table-rwd{
		min-width: 100%;
	}

	/*針對tr去做隱藏*/
	.tr-only-hide {
		display: none !important;
	}

	/*讓tr變成區塊主要讓他有個區塊*/
	.table-rwd tr{
		display: block;
		margin-bottom: 10px;
	}

	.table-rwd td {
		display: block;
		width: 100%;
		text-align: left;
		overflow: hidden;
		border-bottom:'1px solid #ddd';
	}

	.table-rwd td:before {
		content: attr(data-th) ": ";
		display: inline-block;
		margin-right: 5px;
		font-weight: bold;
	}

}


.textfornvda {
	overflow-y: scroll;
	margin:0;
	padding:0;
	width:1px;
	height:1px;
	opacity:0.01;
}


.likebtn {
	height:34px; 
	vertical-align:middle; 
	padding:6px 12px; 
	box-sizing: border-box; 
	border: 1px solid #ccc; 
	border-radius: 4px;
}


.canhov {
	border:1px solid #fff;
	transition: all 0.15s linear;
}
.canhov-lightgray:hover {
    border-color: rgb(200,200,200);
    background-color: rgb(252,252,252);
}
.nowactive {
	border:1px solid #ffccbe;
	background-color: #fffcfe;
}
.nowactive {
	border:1px solid #ffccbe;
	background-color: #fffcfe;
}


.iconbtn {
	margin:0px 3px 3px 0px;
	padding:0;
	border:0;
	background-color:rgba(0,0,0,0);
	opacity:0.3;
	transition: all 0.25s linear;
}
.iconbtn-hover:hover {
	opacity:1;
}
.iconbtn-disabled {
	opacity:0;
}


/* bs-callout hack */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}