
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container > form, .container>form>.row {
    height:100%;
}
.row > .col-md-2  .row > .col-md-10{
    height:100%;
}
.tab-content > div {
    height:100%;
    /*padding-bottom:30px;*/
}
#step2 > nav {
    height:10%;
    
}
#step2 > .scrollbarDiv{
    height:75%;
    overflow: scroll;
}
#step2 > pre{
    height:85%;
    overflow: scroll;    
}
#step2 > .row{
    height:15%;
    min-height:35px;
}
.scrollbarDiv > img {
    width:90%;
    
}
