.container,.container > form, .container>form>.row {
    height:100%;
}
.row > .col-md-2  .row > .col-md-10{
    height:100%;
}
.tab-content > div {
    height:100%;
}
#step2 > nav {
    height:5%;
}
#step2 > .scrollbarDiv{
    height:75%;
}
#step2 > .row{
    height:20%;
}
.scrollbarDiv > img {
    width:90%;
    height:100%;
}
body > .container{
    padding:30px 15px 0;
    padding-bottom:40px;
}