{% extends "base_nav.html" %}
{% block resource %}
    {% load staticfiles %}
    <link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
    <script language="javascript">
        $(document).ready(function() {
            setTimeout(function(){
                window.location.href = "{% url 'login' %}";
            },10000);
        });
    </script>
{% endblock%}

{% block title %}
權限異常
{% endblock %}

{% block content %}
<div id="infoForm" class="alert alert-warning" role="alert">
    <h1>語音驗證碼錯誤</h1>
    
</div>

{% endblock %}
{% block footer %}{% endblock %}