{% extends "base.html" %}
{% block nav %}
{% load staticfiles %}
<link href="{% static "ebookSystem/css/footer-navbar.css" %}" rel="stylesheet" >
<script language="javascript" src="{% static 'ebookSystem/js/jquery.quickpaginate.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/nav.js' %}"></script>

<div id="edsnav">
	<eds_nav
		v-if="1==1"
		ref="eds_nav_instance"></eds_nav
	><eds_nav_org
		v-else
		ref="eds_nav_org_instance"
	></eds_nav_org>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	vo_eds_nav = new Vue({
		el: '#edsnav',
		components: {
			'eds_nav': components['eds_nav'],
			'eds_nav_org': components['eds_nav_org'],
		},
		data: {
		},
		created: function () {
		},
		mounted: function () {
		},
		methods: {
			test: function(){
				c = this.$refs.eds_nav_instance.nav_item
				console.log(c)
			},
		},
	})

</script>
{% endblock %}