<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--load bootstrap -->
	<link href="{% static "ebookSystem/css/bootstrap/bootstrap.min.css" %}" rel="stylesheet" >
	<script src="{% static "ebookSystem/js/bootstrap/ie-emulation-modes-warning.js" %}" type="text/javascript"></script>
	<title>{% block title %}{% endblock %}</title>
	{% block resource%} {% endblock%}
	<style>{% block style %}{% endblock %}</style>
</head>

<body>
	<header>
	{% block header %}{% endblock %}
	</header>
	{% block nav %}{% endblock %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<footer class="footer">
	{% block footer %}
      <div class="container">
        <p class="text-muted">© Company 2016</p>
      </div>
	{% endblock %}
	</footer>
	<script src="{% static "ebookSystem/js/jquery/jquery.min.js" %}" ></script> <!--1.11.1-->
	<script src="{% static "ebookSystem/js/bootstrap/bootstrap.min.js" %}" type="text/javascript"></script>
	<script src="{% static "ebookSystem/js/bootstrap/ie10-viewport-bug-workaround.js" %}" type="text/javascript"></script>
</body>
</html>