<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--load bootstrap -->
	<link href="{% static "ebookSystem/css/bootstrap/bootstrap.min.css" %}" rel="stylesheet" >
	<script src="{% static "ebookSystem/js/bootstrap/ie-emulation-modes-warning.js" %}" type="text/javascript"></script>
	<script src="{% static "ebookSystem/js/jquery/jquery.min.js" %}" ></script> 
	<title>{% block title %}{% endblock %}</title>
	{% block resource%} {% endblock%}
	{% block style %}{% endblock %}
</head>

<body>
	<header>
	{% block header %}{% endblock %}
	</header>
	{% block nav %}{% endblock %}
	<div class="container">
	<div class="modal fade" id="dangerDialog" role="dialog">
	<div class="modal-dialog modal-sm">
	    <div class="modal-content alert-danger">
	        <div class="modal-header alert-danger" role="alert">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <strong>Error!!</strong>
	            <div class="alertMessage"></div>
	        </div>
	    </div>
	</div>
	</div>

	<div class="modal fade" id="successDialog" role="dialog">
	<div class="modal-dialog modal-sm">
	    <div class="modal-content alert-success">
	        <div class="modal-header alert-success" role="alert">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <strong>Success!!</strong>
	            <div class="alertMessage"></div>
	        </div>
	    </div>
	</div>
	</div>
		{% block content %}{% endblock %}
	</div>
	
	{% block footer %}
	<footer class="footer">
      <div class="container">
        <p class="text-muted">© Company 2016</p>
      </div>
    </footer>
	{% endblock %}
	<script src="{% static "ebookSystem/js/bootstrap/bootstrap.min.js" %}" type="text/javascript"></script>
	<script src="{% static "ebookSystem/js/bootstrap/ie10-viewport-bug-workaround.js" %}" type="text/javascript"></script>
</body>
</html>