<!DOCTYPE html>
<html lang="zh">

<head>
	{% load staticfiles %}
	<meta name="google-site-verification" content="_ordDfYz4VZVMvNlOP0C8oDMR-5vrkPbyYs5xE6mxHk" />
	<meta charset="UTF-8">
	<meta name="copyright" content="eDocumentService,雲端千眼平台" />
	<meta name="description" content="eDocumentService雲端千眼運用網路志工群眾參與，致力於提供視障者快速的電子化文件服務，透過客製化軟體開發打造友善、資訊無障礙的使用體驗。" />
	<meta name="keywords" content="eDocumentService,視障者閱讀,雲端千眼,志工服務,我看不見書，但我想閱讀" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<script language="javascript" src="{% static 'ebookSystem/js/jquery/jquery-1.12.4.min.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/jquery/jquery-ui-1.12.1.min.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/jquery/jquery-tmpl-1.4.2.min.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/jquery/jquery-binarytransport.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/jquery/jquery-pp.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/jquery/jquery-rest-1.0.2.min.js' %}"></script>

	<script language="javascript" src="{% static 'ebookSystem/js/lodash-4.17.4.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/bluebird-3.5.0.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/Math.uuid.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/base64js.min.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/md5-2.10.0.min.js' %}"></script>

	<!-- vue -->
	<script language="javascript" src="{% static 'ebookSystem/js/vue-2.5.9.min.js' %}"></script>

	<!--imageviewer-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imageviewer/0.6.0/viewer.min.css" />
	<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/imageviewer/0.6.0/viewer.min.js"></script>

	<!-- moment -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/zh-tw.js"></script> -->
	<script language="javascript" src="{% static 'ebookSystem/js/moment-2.19.1.js' %}"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/moment-with-locales-2.19.1.js' %}"></script>

	<!-- element-ui -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.1/theme-chalk/index.css" />
	<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.1/index.js"></script>
	<script slanguage="javascript" rc="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.1/locale/zh-TW.min.js"></script>

	<!-- bootstrap, 3.3.7時NVDA會讀不到modal-->
	<link rel="stylesheet" href="{% static 'ebookSystem/framework/bootstrap-3.3.4/css/bootstrap.min.css' %}">
	<script language="javascript" src="{% static 'ebookSystem/framework/bootstrap-3.3.4/js/bootstrap.min.js' %}"></script>

	<!-- bootstrap-docs -->
	<link rel="stylesheet" href="{% static 'ebookSystem/framework/bootstrap-additional/docs.min.css' %}">

	<!-- bootstrap-datepicker -->
	<link rel="stylesheet" href="{% static 'ebookSystem/framework/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css' %}">
	<script type="text/javascript" src="{% static 'ebookSystem/framework/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ebookSystem/framework/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.zh-TW.min.js' %}"></script>

	<!-- bootstrap-ie10bugfix -->
	<link rel="stylesheet" href="{% static 'ebookSystem/framework/bootstrap-additional/ie10-viewport.css' %}">
	<link rel="stylesheet" href="{% static 'ebookSystem/framework/bootstrap-additional/ie10-viewport-upd3.css' %}">
	<script type="text/javascript" src="{% static 'ebookSystem/framework/bootstrap-additional/ie10-viewport.js' %}"></script>

	<!-- tinymce -->
	<script type="text/javascript" src="{% static 'ebookSystem/framework/tinymce-4.7.4/js/tinymce/tinymce.min.js' %}"></script>

	<!-- wiriseditor -->
	<script type="text/javascript" src="http://www.wiris.net/demo/editor/editor"></script>

	<!-- MathJax, 可選 TeX-AMS-MML_SVG TeX-MML-AM_CHTML -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_SVG">
		MathJax.Hub.Config({
			skipStartupTypeset: true, //不初始化啟動
		});
	</script>

	<title>{% block title %}{% endblock %} | 雲端千眼平台</title>
	{% block resource%} 
	{% endblock%} 
	{% block style %}
	{% endblock %}

	<script type="text/javascript">

		//hash(採時間戳)，全域變數，載入模板也需要
		let chash = '?' + Date.now();

		//使用document.write做靜態加載
		function commoncssjsadd() {

			//ltcss
			let ltcss = [];
			ltcss.push('/static/ebookSystem/css/frontendsystem.css');

			//ltjs
			let ltjs = [];
			ltjs.push('/static/ebookSystem/js/frontendsystem.js');

			function comadd_css(href) {
				return '<link rel="stylesheet" href="' + href + '"\>';
			}
			function comadd_js(src) {
				return '<script src="' + src + '"\><\/script>';
			}

			let c = '';
			for (let i = 0; i < ltcss.length; i++) {
				c += comadd_css(ltcss[i] + chash);
			}
			for (let i = 0; i < ltjs.length; i++) {
				c += comadd_js(ltjs[i] + chash);
			}

			return c;
		}
		document.write(commoncssjsadd());

	</script>

</head>

<body>
	<div user_id="{{ request.user.id }}"></div>
	{% block tawk %}
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/595dd26650fd5105d0c842ed/default';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
	{% endblock %}

	{% include 'comp/mx_book_list_temp.html' %}
	{% include 'comp/mx_receive_book.html' %}
	{% include 'comp/mx_find_book.html' %}
	{% include 'comp/mx_alert_message.html' %}
	{% include 'comp/mx_alert_confirm.html' %}
	{% include 'comp/mx_user_permission.html' %}
	{% include 'comp/mx_book_set_priority.html' %}
	{% include 'comp/mx_book_delete_repository.html' %}
	{% include 'comp/mx_user_disability_card.html' %}
	{% include 'comp/mx_qanda.html' %}
	{% include 'comp/mx_doc_editor.html' %}
	
	{% block nav %}
	{% endblock %}

	<div class="container">
		<div class="modal fade" id="dangerDialog" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content alert-danger">
					<div class="modal-header alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<strong>Error!!</strong>
						<div class="alertMessage"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="successDialog" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content alert-success">
					<div class="modal-header alert-success" role="alert">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<strong>Success!!</strong>
						<div class="alertMessage"></div>
					</div>
				</div>
			</div>
		</div>

		{% block message %} {% endblock %}
		<div role="main">{% block content %}{% endblock %}</div>
	</div>
	{% block footer %}
	<footer class="footer" role="footer">
		<div class="container">
			<div class="pull-left">
				<ul class="list-inline">
					<li>
						<a href="{% url 'genericUser:func_desc' %}">關於雲端千眼</a>
					</li>
					<li>
						<a href="{% url 'genericUser:org_info' %}">服務中心資訊</a>
					</li>
					<li>
						<p title="建議使用Firefox或Chrome等支援HTML5瀏覽器" aria-label="建議使用Firefox或Chrome等支援HTML5瀏覽器">建議瀏覽器</p>
					</li>
					<li>
						<p title="建議解析度使用1366x768以上" aria-label="建議解析度使用1366x768以上">建議解析度</p>
					</li>
					<li>
						<p>© eDocumentService 2016</p>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	{% endblock %}
</body>

</html>