{% extends "base.html" %}
{% block nav %}
<div id="edsnav">
	<eds_nav></eds_nav>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		store,
		el: '#edsnav',
		components: {
			'eds_nav': components['eds_nav'],
		},
		created(){
			{% if user.is_authenticated %}
			this.$store.dispatch('getUser',
			{
				id: {{ request.user.id }},
			});
			{% endif %}
		},
	})

</script>
{% endblock %}
{% block footer %}
<div id="edsfooter">
		<eds_footer></eds_footer>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#edsfooter',
		components: {
			eds_footer: components['eds_footer'],
		},
	})
</script>
{% endblock %}