{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
首頁
{% endblock %}

{% block style %}
	<link href="{% static "ebookSystem/css/bootstrap/assets/docs.min.css" %}" rel="stylesheet" > 
	<link href="{% static "ebookSystem/css/bootstrap/assets/src/docs.css" %}" rel="stylesheet" > 
	  <style>
	  .carousel-inner > .item > img,
	  .carousel-inner > .item > a > img {
		  margin: auto;
	  }
	  </style>
{% endblock %}
{% block content %}

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	let vo_bannercontent;
	Vue.component('vc-bannercontent', {
		template: `
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="{% static "ebookSystem/img/target1.jpg" %}" alt="我看不見書，但我想閱讀" title="雲端千眼" style="height: 480px;width:940px" >
		</div>
		<div class="item">
			<a href="/genericUser/recruit" ><img src="{% static "ebookSystem/img/iwantyou.png" %}" alt="招募志工-我們可能無法做偉大的事，但可以用偉大的愛做小事" title="加入我們" style="height: 480px;width:940px" ></a>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" aria-label="上一頁">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" aria-label="下一頁">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
		`,
		props: ['bannercontentlist'],
		methods: {},
	})

	$(function(){

		//client
		let client = new $.RestClient('/genericUser/api/');
		client.add('bannercontents');

		client.bannercontents.read()
		.done(function(d){
			//opt
			let opt={
				el: '#' + 'id_bannercontent_list',
				data: {
					bannercontentlist: d,
				},
				computed: {
				},
				methods: {
					markdown2html: function (text) {
						var converter = new showdown.Converter()
						html      = converter.makeHtml(text)
						return html
					},
				},
			};

			//vo
			if(iser(vo_bannercontent)){
				vo_bannercontent = new Vue(opt);
			}
			else{
				vo_bannercontent.bannercontentlist = d;
			}

		})
	})
</script>

<div id="id_bannercontent_list">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<template 		v-for="(item, index) in bannercontentlist">
		<li data-target="#myCarousel"
			v-if="index==0"
			v-bind:data-slide-to="index"
			class="active"
		></li>
		<li data-target="#myCarousel"
			v-if="index!=0"
			v-bind:data-slide-to="index"
		></li>
		</template>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">

		<template 			v-for="(item, index) in bannercontentlist">
		<div
			v-if="index==0"
			class="item active">
			<img
				:src="`/genericUser/api/bannercontents/` +item.id +`/resource/cover/image`"
				:alt="item.title"
				:title="item.title"
				style="height: 480px;width:940px" >
		</div>
		<div
			v-if="index!=0"
			class="item">
			<img
				:src="`/genericUser/api/bannercontents/` +item.id +`/resource/cover/image`"
				:alt="item.title"
				:title="item.title"
				style="height: 480px;width:940px" >
		</div>
		</template>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" aria-label="上一頁">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" aria-label="下一頁">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="textfornvda">
	<h4>首頁圖片說明</h4>
	<ul>
			<li
				v-for="(item, index) in bannercontentlist"
			>
			<div v-html="markdown2html(item.content)"></div>
			</li>
	</ul>
</div>
</div>

<div class="row" style="padding-top: 20px;">
	<div class="col-lg-4">
		<div class="panel panel-success">
			<div class="panel-heading">最新消息</div>
			<div class="panel-body">
				{% for announcement in announcement_list|slice:":5" %}
				<p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
					<a class="btn btn-link" role="button" href="/routing/genericUser/announcement/{{ announcement.id }}/">{{ announcement.datetime.year }}年{{ announcement.datetime.month }}月{{ announcement.datetime.day }}日 {{ announcement.title }}</a>
				</p>
				{% endfor %}
				<div class="pull-right">
					<p><a class="btn btn-default center" href="/routing/genericUser/announcement_list/" role="button">公告列表 »</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-success" itemscope="" itemtype="http://schema.org/Product">
			<div class="panel-heading" itemprop="name">雲端千眼-使用流程</div>
			<div class="panel-body" itemprop="description">
				<p>一、以段落為基準，每段即為一行，辨識軟體基本以這種方式輸出，如有遺漏再請將分多行的文字但為一段之內容合併成一行。二、每行前不需空格。三、英文文句標點使用半形符號。四、中文文句標點使用全形符號，但遇到英文、數字使用半形符號。</p>
				<div class="pull-right">
					<p><a class="btn btn-default center" role="button" href="/genericUser/generics/user_guide/" itemprop="url" >閱讀更多 »</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-success" itemscope="" itemtype="http://schema.org/Product">
			<div class="panel-heading" itemprop="name">招募志工</div>
			<div class="panel-body" itemprop="description">
				<p>「eDocumentService雲端千眼平台」招募大量志工於線上進行重製書籍服務，不如一般志工型態需固定排班或前往特定地點，只要您有時間、有網路，無論何時何地皆能進行志工服務，讓您的愛不再受到限制！</p>
				<div class="pull-right">
					<p><a class="btn btn-default center" href="/genericUser/generics/recruit/" role="button" itemprop="url">閱讀更多 »</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
{% endblock %}