<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
	<title>
		聽說桐島退社了
	</title>
	<style>
	.inline{ display:inline}
	</style>
</head>

<body>
	<div class="section">
		<div class="container">
			<div class="row">
				<nav>

					<ul>
						<li class="inline"><a href="http://220.135.204.66:8070/accounts/profile/">個人首頁</a></li>
						<li class="inline"><a href="http://220.135.204.66:8070/accounts/info/">個人資料</a></li>

						<li class="inline"><a href="http://220.135.204.66:8070/logout/">登出</a></li>

					</ul>

				</nav>
				<script language="javascript" src="./編輯聽說桐島退社了__files/edit.js"></script>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form action="" method="post">
						<input type="hidden" name="csrfmiddlewaretoken" value="39KtuBoyqPOJwz4sU1Of3KQEIfQwKBkP">
						<input type="submit" id="save_id" name="save" value="save">
						<input type="submit" id="replace_id" name="replace" value="replace">
						<input type="submit" id="close_id" name="close" value="close">
						<ul class="errorlist"><li>This field is required.</li></ul>
						<label for="id_content">內容:</label>
						<textarea cols="40" id="id_content" name="content" rows="10"></textarea>

						<label for="id_page">頁數:</label>
						<input id="id_page" name="page" type="number" value="0">
					</form>
				</div>
				<div class="col-md-6">
					<select name="scanPageList" id="scanPageList" onchange="changePageSelect()">


						<option value="A00001.jpg" selected="">A00001.jpg-上次校對頁數</option>



						<option value="A00002.jpg">A00002.jpg</option>



						<option value="A00003.jpg">A00003.jpg</option>



						<option value="A00004.jpg">A00004.jpg</option>



						<option value="A00005.jpg">A00005.jpg</option>



						<option value="A00006.jpg">A00006.jpg</option>



						<option value="A00007.jpg">A00007.jpg</option>



						<option value="A00008.jpg">A00008.jpg</option>



						<option value="A00009.jpg">A00009.jpg</option>



						<option value="A00010.jpg">A00010.jpg</option>



						<option value="A00011.jpg">A00011.jpg</option>



						<option value="A00012.jpg">A00012.jpg</option>



						<option value="A00013.jpg">A00013.jpg</option>



						<option value="A00014.jpg">A00014.jpg</option>



						<option value="A00015.jpg">A00015.jpg</option>



						<option value="A00016.jpg">A00016.jpg</option>



						<option value="A00017.jpg">A00017.jpg</option>



						<option value="A00018.jpg">A00018.jpg</option>



						<option value="A00019.jpg">A00019.jpg</option>



						<option value="A00020.jpg">A00020.jpg</option>



						<option value="A00021.jpg">A00021.jpg</option>



						<option value="A00022.jpg">A00022.jpg</option>



						<option value="A00023.jpg">A00023.jpg</option>



						<option value="A00024.jpg">A00024.jpg</option>



						<option value="A00025.jpg">A00025.jpg</option>



						<option value="A00026.jpg">A00026.jpg</option>



						<option value="A00027.jpg">A00027.jpg</option>



						<option value="A00028.jpg">A00028.jpg</option>



						<option value="A00029.jpg">A00029.jpg</option>



						<option value="A00030.jpg">A00030.jpg</option>



						<option value="A00031.jpg">A00031.jpg</option>



						<option value="A00032.jpg">A00032.jpg</option>



						<option value="A00033.jpg">A00033.jpg</option>



						<option value="A00034.jpg">A00034.jpg</option>



						<option value="A00035.jpg">A00035.jpg</option>



						<option value="A00036.jpg">A00036.jpg</option>



						<option value="A00037.jpg">A00037.jpg</option>



						<option value="A00038.jpg">A00038.jpg</option>



						<option value="A00039.jpg">A00039.jpg</option>



						<option value="A00040.jpg">A00040.jpg</option>



						<option value="A00041.jpg">A00041.jpg</option>



						<option value="A00042.jpg">A00042.jpg</option>



						<option value="A00043.jpg">A00043.jpg</option>



						<option value="A00044.jpg">A00044.jpg</option>



						<option value="A00045.jpg">A00045.jpg</option>



						<option value="A00046.jpg">A00046.jpg</option>



						<option value="A00047.jpg">A00047.jpg</option>



						<option value="A00048.jpg">A00048.jpg</option>



						<option value="A00049.jpg">A00049.jpg</option>



						<option value="A00050.jpg">A00050.jpg</option>


					</select>
					<input type="button" id="prePage" name="prePage" value="上一頁" onclick="changePage(-1)">
					<input type="button" id="nextPage" name="nextPage" value="下一頁" onclick="changePage(1)">
					<iframe src="./編輯聽說桐島退社了__files/A00001.html" name="scanPage" height="600" width="500">文件掃描原檔</iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container"></div>
	</div>
	<div class="col-md-12"></div>
	<footer>
		phone
	</footer>
</body>

</html>
