{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% csrf_token %} 

<div class="container">
	<div id="app">
		<eds_nav></eds_nav>
		<div role="main" id="id_main">
			<routerview></routerview>
		</div>
		<eds_footer></eds_footer>
	</div>
</div>

<script>
	Vue.use(VueMeta)
	Vue.options.delimiters = ['{|{', '}|}'];

	let mapState = Vuex.mapState;

//$(()=>{
	new Vue({
		store,
		el: '#app',
		components: {
			eds_nav: components['eds_nav'],
			routerview: pages['{{ app }}/{{ page }}'],
			eds_footer: components['eds_footer'],
		},
		data: {
			mode: 'all',
		},
		computed: {
			...mapState({
				user: 'user',
			}),
		},
		/*metaInfo: {
			titleTemplate: '%s | 雲端千眼平台',
		},*/
		created(){
			{% if user.is_authenticated %}
			this.$store.dispatch('getUser',
			{
				id: {{ request.user.id }},
			});
			{% endif %}

			mode = localStorage.getItem('nav_mode');
			if(!mode) {
				this.mode = 'all'
			}
			else {
				this.mode = mode
			}

		},
	});
//})
</script>

{% endblock %}