{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
網站導覽
{% endblock %}
{% block header %}
網站導覽
{% endblock %}
{% block content %}

<script>

	function connclick(me){
		//a元素觸發連結href得針對原生dom
		me=$(me);
		let sid=me.attr('sid');
		$('a[connsid="'+sid+'"]')[0].click(); 
	}

	function addchild(me){

		//o
		let o=me.children('a');

		//sid
		let sid=_.uniqueId();

		//add connsid
		o.attr('connsid',sid);

		//s
		let s={
			'text':o.text(),
			'sid':sid,
			'data':[],
		};

		return s
	}

	function addparent(me){
	
		//o
		let o=me.children('a');

		//sid
		let sid=_.uniqueId();

		//add connsid
		o.attr('connsid',sid);

		//lis
		let ss=[];
		let lis=me.find('ul li').each(function(){
			let oo=$(this);
			ss.push(addchild(oo));
		})

		//push
		let s={
			'text':o.text(),
			'sid':sid,
			'data':ss,
		};

		return s;
	}

	function genmap(s){

		//c
		let c='';
		_.each(s,function(v,k){
			c+='<li style="margin-top:10px;">';
			c+='<a sid="'+v['sid']+'" style="cursor:pointer;" onclick="connclick(this);">'+(k+1)+'. '+v['text']+'</a>';

			if(v['data'].length>0){
				c+='<ul>';
				_.each(v['data'],function(vv,kk){

					c+='<li><a sid="'+vv['sid']+'" style="cursor:pointer;" onclick="connclick(this);">'+(k+1)+'.'+(kk+1)+'. '+vv['text']+'</a></li>';

				})
				c+='</ul>';
			}

			c+='</li>';
		})

		return c;
	}

	$(document).ready(function(){

		//s
		let s=[];

		//logo
		let logo=$('div.navbar-header');
		s.push(addchild(logo));
		
		//navbar-nav
		$('ul[class="nav navbar-nav"]').children('li').each(function(){
			let me=$(this);
			s.push(addparent(me));
		})

		//navbar-right
		$('ul[class="nav navbar-nav navbar-right"]').children('li:eq(0),li:eq(2)').each(function(){
			let me=$(this);
			s.push(addparent(me));
		})

		//html
		$('#ul_sitemap').html(genmap(s));

	});

</script>

<h3>網站導覽</h3>

<ul id="ul_sitemap"></ul>

{% endblock %}
