{% extends "base_nav.html" %}
{% block resource %}
    {% load staticfiles %}
    <link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
    <script language="javascript">
        $(document).ready(function() {
            setTimeout(function(){
                window.location.href = "{% url 'login' %}";
            },10000);
        });
    </script>
{% endblock%}

{% block title %}
權限異常
{% endblock %}

{% block content %}
<div id="infoForm" class="alert alert-warning" role="alert">
    <h1>權限異常，您無此頁面之訪問權限，將於10秒後自動跳轉頁面</h1>
    <p class="text-danger"><strong>原因：{{ message }}</strong></p>
    
</div>
<a href="{% url 'login' %}">跳轉頁面地址</a>
{% endblock %}
{% block footer %}{% endblock %}