{% extends "base_nav.html" %}
{% block resource %}
    {% load staticfiles %}
    <link href="{% static "ebookSystem/css/signin.css" %}" rel="stylesheet" >
    <script language="javascript" src="{% static 'ebookSystem/js/ajax.js' %}"></script>
    <!--<script language="javascript" src="{% static 'ebookSystem/js/login.js' %}"></script>-->
{% endblock%}

{% block title %}
權限異常
{% endblock %}

{% block content %}

<h1>權限異常，您無此頁面之訪問權限，將於10秒後自動跳轉頁面</h1>
<p>原因：{{ message }}</p>
<a href="{% url 'login' %}">跳轉頁面地址</a>

{% endblock %}