 {% load staticfiles %}
 <script language="javascript" src="{% static 'ebookSystem/js/dialog.js' %}"></script>
{% ifequal status 'success' %}
    <div class="modal fade in" id="Dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content alert-success">
                <div class="modal-header alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <strong>{{ status }}</strong>
                    <div class="alertMessage">{{ message }}</div>
                </div>
            </div>
        </div>
    </div>
{% endifequal %}
{% ifequal status 'error' %}
    <div class="modal fade in" id="Dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content alert-danger">
                <div class="modal-header alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <strong>{{ status }}</strong>
                    <div class="alertMessage">{{ message }}</div>
                </div>
            </div>
        </div>
    </div>
{% endifequal %}