{% load staticfiles %}
{% block style %}
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/jquery.binarytransport.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/ajaxDownloadFile.js' %}"></script>
<script language="javascript">


function downloadbook(me){

    //me
    me=$(me)

    //dw
    function dw(){

        //ISBN
        var ISBN=me.attr('ISBN');

        //password
        var password=$('#modal_downloadbook_inp_password').val();

        //transferData
        var transferData={
            download:ISBN,
            password:password,
        };

        //generalajax
        generalajax(transferData);

        //clear
        $('#modal_downloadbook_inp_password').val('');

        //show
        $('#modal_downloadbook').modal('hide');

    }

    //click
    $('#modal_downloadbook_btn_submit').off().on('click', dw);

    //enter
    $("#modal_downloadbook_inp_password").off().on('keypress',function(e){
        code = (e.keyCode ? e.keyCode : e.which);
        if (code === 13){
            e.preventDefault();
            dw();
        }
    });

    //show
    $('#modal_downloadbook').modal('show');

}


function generalalerterror(msg){
    var json={};
    json.status='error';
    json.message=msg;
    alertDialog(json);
}


function getdisposition(xhr){
    var filename='';
    var disposition = xhr.getResponseHeader('Content-Disposition');
    if (disposition && disposition.indexOf('attachment') !== -1) {
        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
        var matches = filenameRegex.exec(disposition);
        if (matches != null && matches[1]) {
            filename = matches[1].replace(/['"]/g, '');
        }
    }
    return filename;
}


function generalajax(transferData){
    $.ajax({
        url:".",
        type: "POST",
        data: transferData,
        dataType: "binary",
        beforeSend:function(jqXHR, settings){
            jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
        },
        success: function(bdata,status,xhr){
            //console.log(bdata);

            if(bdata.type==='application/octet-stream'){
                var filename=getdisposition(xhr);
                downloadfile(filename, bdata);
            }
            else{
                generalalerterror('密碼錯誤或準備文件失敗');
            }

        },
        error:function(xhr,errmsg,err){
            generalalerterror(xhr.responseText);
        }
    });
}


$( document ).ready(function() {
    var type;
    $('#getBookModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          $('#sendPassword').val(button.data('isbn'));
          type=button.data('whatever') // Extract info from data-* attributes 
    });

    $("#inputPasword").keypress(function(e){
      code = (e.keyCode ? e.keyCode : e.which);
      if (code == 13)
      {
        e.preventDefault();
        $("#sendPassword").click();
      }
    });

   
    $('#sendPassword').on("click",function(event){
        console.log("sendPassword enter");
        if(type=="email")
        {
            console.log("type: email");
            var transferData={};
            var sendValue=$(this).val();
            transferData['password']=$('#inputPasword').val();
            transferData[type]=sendValue;
            $.ajax({
                url: ".",
                type: "POST",
                data: transferData,
                beforeSend:function(jqXHR, settings){
                    jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                    $('#id_get_otp_load').show();
                },
                success: function(json) {
                    alertDialogNoReload(json);
                    $('#getBookModal').modal('toggle');
                    $('#id_get_otp_load').hide();
                    $('#inputPasword').val('')
                },
                error: function(xhr, errmsg, err) {
                    alert(xhr.status + ": " + xhr.responseText);
                    console.log(xhr.status + ": " + xhr.responseText);
                    $('#id_get_otp_load').hide();
                    $('#inputPasword').val('')
                }
            });
        }
        else
        {
            console.log("type: form post");
            $('form').append($("<input>").attr("type", "hidden").attr("name", "password").attr("class","temp").val($('#inputPasword').val()));
            $('form').append($("<input>").attr("type", "hidden").attr("name", "download").attr("class","temp").val($(this).val()));
            $('form').submit();
            $('input:hidden.temp').remove();
            $('#getBookModal').modal('toggle');
            $('#inputPasword').val('');
        }
    });
 });
 </script>
 <style type="text/css">
.modal-content{
    background-color: #f5f5f5;
}
</style>
{% endblock %}


<div class="modal fade" id="getBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content alert-info">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="getBookModalLabel">取得書籍</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-inline text-center ">
                    <label for="inputPasword">
                        請輸入密碼
                    </label>
                    <input type="password" class="form-control" id="inputPasword">
                </div>
            </div>
            <div class="modal-footer">
                <img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_otp_load" />
                <button type="button" class="btn btn-primary" id="sendPassword">取得</button>
                
            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="modal_downloadbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content alert-info">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="getBookModal2Label">取得書籍</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-inline text-center ">
                    <label for="modal_downloadbook_inp_password">
                        請輸入密碼
                    </label>
                    <input type="password" class="form-control" id="modal_downloadbook_inp_password">
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-primary" id="modal_downloadbook_btn_submit">取得</div>
            </div>
            
        </div>
    </div>
</div>