{% extends "base_nav.html" %}
{% block title %}
公告列表
{% endblock %}
{% block header %}
公告列表
{% endblock %}

{% block content %}
<script>

	$(document).ready(function(){
		$('ul[class="nav nav-tabs"]').find('li:eq(0) a').click();
		announcement_ini("平台消息");
		announcement_ini("新書推薦");
		announcement_ini("志工快訊");
	});

	function announcement_ini(category) {
		// 平台消息

		//client
		let client = new $.RestClient('/genericUser/api/');
		client.add('announcements');

		//read
		client.announcements.read({ category: category })
			.done(function (data) {
				//console.log('serviceinfo_ini_list',data)

				//orderBy
				data = _.orderBy(data, 'get_date', 'desc');
				// console.log(data);

				//sr
				let sr = [];
				_.each(data, function (v, k) {
					let o = {
						'標題': v.title,
						'發佈日期': v.datetime,  
						'動作': '<a class="btn btn-link" role="button" href="/genericUser/announcement/'+v.id+'/">閱讀全文</a>',
					};
					sr.push(o);
					//console.log(o);
				})

				//check
				if (iser(sr)) {
					// $('#div_serviceinfo_list_panel').html('目前無服務紀錄');
					// $('#sel_exchangecenter').prop('disabled', true);
					// $('#btn_serviceinfo_exchange').attr('onclick', '').prop('disabled', true);
					return;
				}

				//gentable
				let announcement_list = 'announcement_list_' + category ;
				let announcement_list_table = 'announcement_list_' + category + '_table' ;

				gentable(announcement_list, announcement_list_table, sr);

				//table
				$('#' + announcement_list_table).find('tr').each(function () {
					let tr = $(this);
					tr.css('text-align', 'center');
				})

			});

	}


</script>

{% csrf_token %}

<h3>公告列表</h3>

<ul class="nav nav-tabs">
	
	<li><a href="#announcement_list_平台消息" name="repository_books_tab_grp" data-toggle="tab">平台消息</a></li>
	<li><a href="#announcement_list_新書推薦" name="repository_books_tab_grp" data-toggle="tab">新書推薦</a></li>
	<li><a href="#announcement_list_志工快訊" name="repository_books_tab_grp" data-toggle="tab">志工快訊</a></li>
	
</ul>

<div class="tab-content" style="padding:20px 0px;">
	
	<div id="announcement_list_平台消息" class="tab-pane"></div>

	<div id="announcement_list_新書推薦" class="tab-pane"></div>

	<div id="announcement_list_志工快訊" class="tab-pane"></div>
	
</div>
{% endblock %}