{% extends "base_nav.html" %}
{% block title %}
書籍詳細
{% endblock %}
{% block content %}

{% csrf_token %}
{% include 'comp/list_vue_component.html' %}
{% include 'comp/table_vue_component.html' %}

<div id="book_detail" class="container">
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;分段列表
						</h4>
					</div>

					<div class="panel-collapse">
						<ul class="list-group">
							<li class="list-group-item" v-for="(item, index) in book.ebook_set"><a 
								v-on:click="read(index)"
								href='#'
							>{|{ item.bookname +item.part }|}</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-md-9">
			<h4>分段基本資訊</h3>
			<ul-component :data="info"></ul-component>

			<h4>分段校對紀錄</h4>
			<table-component :data="editrecords"></table-component>
			<div>

			</div>

		</div>
	</div>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	vo_book_detail = new Vue({
		el: '#book_detail',
		data: {
			pk: '',
			book: {},
			ebook_index: 0,
		},
		computed: {
			url: function () {
				return '/ebookSystem/api/bookadds/' +this.pk +'/'
			},
			ebook: function () {
				return this.book.ebook_set[this.ebook_index]
			},
			editrecords: function () {
				temp = []
				_.each(this.ebook.editrecord_set, function(v) {
					temp.push({
						'次數': v.number_of_times,
						'領取日期': v.get_date,
						'線上時數': v.stay_hours,
						'服務時數': v.service_hours,
						'校對者': v.editor,
						'類型': v.category,
					})
				})
				return temp
			},
			info: function () {
				return {
					'狀態': this.ebook.status,
					'頁數/總頁數': this.ebook.edited_page+1 +'/50',
					'預計完成日期': this.ebook.deadline,
				}
			},
		},
		created: function () {
			let self = this
			this.pk = window.location.pathname.split('/')
			this.pk = this.pk[this.pk.length-2]
			rest_aj_send('get', this.url, {})
			.done(function(data) {
				self.book = data['data']
			})

		},
		methods: {
			read: function (index) {
				this.ebook_index = index
			},
		},

	})

</script>
{% endblock %}