{% extends "base_nav.html" %}
{% block title %}
書籍下載
{% endblock %}
{% block content %}
{% csrf_token %}
{% include 'comp/book_download.vue' %}

<div id="book_download_page">
	<h2>書籍下載</h2>
	<book_download pk="210"></book_download>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	new Vue({
		el: '#book_download_page',
		data: {
			username: '',
			password: '',
			model_info: {
				'username': {
					'label': '使用者名稱',
					'type': 'string',
				},
				password: {
					'label': '密碼',
					'type': 'password',
				},
			},
		},
		methods: {
		},
	})

</script>
{% endblock %}