{% extends "base_nav.html" %}
{% block title %}
身心障礙手冊登錄
{% endblock %}
{% block content %}

{% csrf_token %}

<div id="disabilitycard_register" class="container">
	<h3>身心障礙手冊登錄</h3>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<img
				:src="url +'resource/source/front'"
				alt="身心障礙手冊正面"
			>
			<input
				v-if="mode==='create' || mode==='update'"
				type="file"
			>
			<img
				:src="url +'resource/source/back'"
				alt="身心障礙手冊反面"
			>
			<input
				v-if="mode==='create' || mode==='update'"
				type="file"
			>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="id_status" class="control-label col-sm-3">狀態</label>
				<div class="col-sm-9">{|{ disabilitycard.is_active }|}</div>
			</div>
			<div class="form-group">
				<label for="id_owner" class="control-label col-sm-3">擁有者</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ disabilitycard.owner }|}</div>
				<select
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.owner"
					id="id_owner"
					class="col-sm-9"
				>
					<option></option>
				</select>
			</div>
			<div class="form-group">
				<label for="id_identity_card_number" class="control-label col-sm-3">身份證字號</label>
				<div
					v-if="mode==='read' || mode==='update'"
					class="col-sm-9"
				>{|{ disabilitycard.identity_card_number }|}</div>
				<input
					v-if="mode==='create'"
					v-model="disabilitycard_temp.identity_card_number"
					id="id_identity_card_number"
				>
			</div>
			<div class="form-group">
				<label for="id_name" class="control-label col-sm-3">姓名</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ disabilitycard.name }|}</div>
				<input
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.name"
					id="id_name"
				>
			</div>
			<div class="form-group">
				<label for="id_address" class="control-label col-sm-3">地址</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ disabilitycard.address }|}</div>
				<input
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.address"
					id="id_address"
				>
			</div>
			<div class="form-group">
				<label for="id_category" class="control-label col-sm-3">障別</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ value2display_name(disabilitycard.category, model_info.category.choices) }|}</div>
				<select
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.category"
					id="id_category"
					class="col-sm-9"
				>
					<option
						v-for="item in model_info.category.choices"
						:value="item.value"
					>
						{|{ item.display_name }|}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="id_level" class="control-label col-sm-3">程度</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ value2display_name(disabilitycard.level, model_info.level.choices) }|}</div>
				<select
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.level"
					id="id_level"
					class="col-sm-9"
				>
					<option
						v-for="item in model_info.level.choices"
						:value="item.value"
					>
						{|{ item.display_name }|}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="id_identification_date" class="control-label col-sm-3">鑑定日期</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ disabilitycard.identification_date }|}</div>
				<el-date-picker
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.identification_date"
					id="id_identification_date"
					value-format="yyyy-MM-dd"   
					placeholder="yyyy-MM-dd"
					size=small
					style="width: 100%;"
				></el-date-picker>
			</div>
			<div class="form-group">
				<label for="id_renew_date" class="control-label col-sm-3">有效日期</label>
				<div
					v-if="mode==='read'"
					class="col-sm-9"
				>{|{ disabilitycard.renew_date }|}</div>
				<el-date-picker
					v-if="mode==='create' || mode==='update'"
					v-model="disabilitycard_temp.renew_date"
					id="id_renew_date"
					value-format="yyyy-MM-dd"   
					placeholder="yyyy-MM-dd"
					size=small
					style="width: 100%;"
				></el-date-picker>
			</div>
		</div>
	</div>

		<button
			@click="mode_change('create')"
		>新建模式</button>

	<div
		v-if="mode==='create'"
	>
		<button
			@click="create()"
		>新建</button>
	</div>

	<div
		v-if="mode==='update'"
	>
		<button
			@click="cancel()"
		>取消</button>
		<button
			@click="update()"
		>更新</button>
	</div>

	<div
		v-if="mode==='read'"
	>
		<button
			@click="mode_change('update')"
		>編輯</button>
		<button
			v-if="!disabilitycard.is_active"
			@click="active(true)"
		>啟用</button>
		</button>
		<button
			v-if="disabilitycard.is_active"
			@click="active(false)"
		>停用</button>
	</div>


</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	vo_disabilitycard_register = new Vue({
		el: '#disabilitycard_register',
		data: {
			disabilitycard: {
				"identity_card_number": "",
				"name": "",
				"address": "",
				"identification_date": "",
				"renew_date": "",
				"level": "",
				"category": "",
				"owner": "",
				is_active: '',
			},
			url: '',
			mode: '',
			model_info: {},
			disabilitycard_temp: {},
			temp: '',
		},
		computed: {

		},
		created: function () {
			let self = this
			rest_aj_send('options', '/genericUser/api/disabilitycards/', {})
			.done(function(data) {
				self.model_info = data['data'].actions.POST
			})

			if(!iser(user.disabilitycard_set[0])){
				self.url = '/genericUser/api/disabilitycards/' +user.disabilitycard_set[0] +'/'
				rest_aj_send('get', self.url, {})
				.done(function(data) {
					_.each(self.disabilitycard, function(v,k){
						self.disabilitycard[k] = data['data'][k]
						self.disabilitycard_temp[k] = data['data'][k]
					})
				})
				self.mode = 'read'
			} else {
				self.url = '/genericUser/api/disabilitycards/'
				self.mode = 'create'
			}
		},
		methods: {
			active: function (status) {
				let self = this
				self.disabilitycard.is_active = self.disabilitycard_temp.is_active = status
				rest_aj_send('put', self.url, self.disabilitycard)
				.done(function(data) {
					if(status){ alertmessage('success', '成功啟用手冊') }
					else if(!status){ alertmessage('success', '成功停用手冊') }
				})
				.fail(function(data){
				    alertmessage('error', data['message']);
				})

			},
			create: function () {
				let self = this

				rest_aj_send('post', '/genericUser/api/disabilitycards/', self.disabilitycard)
				.done(function(data) {
					alertmessage('success', '成功新建手冊')
					.done(function(){
						self.mode_change('read')
					})
				})
				.fail(function(data){
				    alertmessage('error', data['message']);
				})

			},
			cancel: function () {
				let self = this

				_.each(self.disabilitycard_temp, function(v,k){
					self.disabilitycard_temp[k] = self.disabilitycard[k]
				})

				self.mode_change('read')
			},
			update: function () {
				let self = this

				_.each(self.disabilitycard_temp, function(v,k){
					self.disabilitycard[k] = self.disabilitycard_temp[k]
				})

				rest_aj_send('put', self.url, self.disabilitycard)
				.done(function(data) {
					alertmessage('success', '成功修改手冊')
					.done(function(){
						self.mode_change('read')
					})
				})
				.fail(function(data){
				    alertmessage('error', data['message']);
				})

			},
			mode_change: function (mode) {
				this.mode = mode
			},
			value2display_name: function (value, choices) {
				display_name = value
				_.each(choices, function(v){
					if(v['value'] === value){
						display_name = v['display_name']
					}
				})
				return display_name
			},
		},
	})

</script>
{% endblock %}