{% extends "base_nav.html" %}
{% block title %}
身心障礙手冊登錄
{% endblock %}
{% block content %}
<template id="drf-model">
	<div class="form-horizontal">
		<div class="form-group">
			<label
				:for="'id_' +keys"
				class="col-sm-3"
			>{|{ convertTitle[keys] }|}</label>
			<template v-if="mode==='read'">
				<div
					v-if="model_info.type==='choice'"
					class="col-sm-9"
				>{|{ value2display_name(value, model_info.choices) }|}</div>
				<div
					v-else
					class="col-sm-9"
				>{|{ value }|}</div>
			</template>
			<template v-if="mode==='write'">
				<input
					v-if="model_info.type==='string'"
					v-bind:value="value"
					v-on:input="$emit('input', $event.target.value)"
					v-bind:id="'id_' +keys"
					class="col-sm-9 form-control"
				>
				<select
					v-if="model_info.type==='choice'"
					v-bind:value="value"
					v-on:input="$emit('input', $event.target.value)"
					v-bind:id="'id_' +keys"
					class="col-sm-9 form-control"
				>
					<option
						v-for="item in model_info.choices"
						:value="item.value"
					>
						{|{ item.display_name }|}
					</option>
				</select>
				<el-date-picker
					v-if="model_info.type==='date'"
					v-bind:value="value"
					v-on:input="$emit('input', $event)"
					v-bind:id="'id_' +keys"
					value-format="yyyy-MM-dd"   
					placeholder="yyyy-MM-dd"
					size=small
					style="width: 100%;"
				></el-date-picker>
				<input
					v-if="model_info.type==='field'"
					v-bind:value="value"
					v-on:input="$emit('input', $event.target.value)"
					v-bind:id="'id_' +keys"
					class="col-sm-9 form-control"
				>
			</template>
		</div>
	</div>
</template>
<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	Vue.component('drf-model', {
		template: '#drf-model',
		props: ['model_info', 'keys', 'value', 'mode',],
		methods: {
			value2display_name: function (value, choices) {
				display_name = value
				_.each(choices, function(v){
					if(v['value'] === value){
						display_name = v['display_name']
					}
				})
				return display_name
			},
		},
		created() {

		},
		mounted () {

		},
	})
</script>
{% csrf_token %}

<div id="disabilitycard_register" class="container">
	<h3>身心障礙手冊登錄</h3>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<img v-if="img_base64_front"
				:src="'data:image/jpeg;base64,' + img_base64_front"
				:base64="img_base64_front"
				alt="身心障礙手冊正面"
				class=img-thumbnail
			>
			<img v-else
				:src="url +'resource/source/front'"
				alt="身心障礙手冊正面"
				class=img-thumbnail
			>
			<input
				v-if="mode==='create' || mode==='update'"
				@change="ch_img($event.target,'front')"
				id="id_front"
				type="file"
			>
			<img v-if="img_base64_back"
				:src="'data:image/jpeg;base64,' + img_base64_back"
				:base64="img_base64_back"
				alt="身心障礙手冊反面"
				class=img-thumbnail
			>
			<img v-else
				:src="url +'resource/source/back'"
				alt="身心障礙手冊反面"
				class=img-thumbnail
			>
			<input
				v-if="mode==='create' || mode==='update'"
				@change="ch_img($event.target,'back')"
				type="file"
				id="id_back"
			>
		</div>

		<div class="col-sm-6 col-md-6">
			<div class="form-horizontal" v-if="mode==='read' || mode==='update'">
				<div class="form-group">
					<label for="id_status" class="col-sm-3">狀態</label>
					<div class="col-sm-9">{|{ disabilitycard.is_active }|}</div>
				</div>
			</div>

			<drf-model
					v-if="mode==='read' || mode==='update'"
					:keys="'owner'"
					:model_info="model_info.owner"
				mode="read"
				v-model="disabilitycard_temp.owner"
			></drf-model>
			<drf-model
					v-if="mode==='create'"
					:keys="'owner'"
					:model_info="model_info.owner"
				mode="write"
				v-model="disabilitycard_temp.owner"
			></drf-model>

			<drf-model
					v-if="mode==='read' || mode==='update'"
					:keys="'identity_card_number'"
					:model_info="model_info.identity_card_number"
				mode="read"
				v-model="disabilitycard_temp.identity_card_number"
			></drf-model>
			<drf-model
					v-if="mode==='create'"
					:keys="'identity_card_number'"
					:model_info="model_info.identity_card_number"
				mode="write"
				v-model="disabilitycard_temp.identity_card_number"
			></drf-model>

			<drf-model
				v-for="item in ['name', 'address', 'category', 'level', 'identification_date', 'renew_date',]"
				v-if="mode==='read'"
				:keys="item"
				:model_info="model_info[item]"
				mode="read"
				v-model="disabilitycard_temp[item]"
			></drf-model>
			<drf-model
				v-for="item in ['name', 'address', 'category', 'level', 'identification_date', 'renew_date',]"
				v-if="mode==='create' || mode==='update'"
				:keys="item"
				:model_info="model_info[item]"
				mode="write"
				v-model="disabilitycard_temp[item]"
			></drf-model>

			<div
				v-if="mode==='create'"
			>
				<button
					@click="create()"
					class="btn btn-default" 
				>新建</button>
			</div>

			<div
				v-if="mode==='update'"
			>
				<button
					@click="cancel()"
					class="btn btn-default" 
				>取消</button>
				<button
					@click="update()"
					class="btn btn-default" 
				>更新</button>
			</div>

			<div
				v-if="mode==='read'"
			>
				<button
					@click="mode_change('update')"
					class="btn btn-default" 
				>編輯</button>
				<button
					v-if="!disabilitycard.is_active"
					@click="active(true)"
					class="btn btn-default" 
				>啟用</button>
				<button
					v-if="disabilitycard.is_active"
					@click="active(false)"
					class="btn btn-default" 
				>停用</button>
			</div>

		</div>
	</div>
</div>

<script>
	let convertTitle = {
		"owner": "擁有者",
		"identity_card_number": "身分證字號",
		"name": "姓名",
		"address": "地址",
		"identification_date": "鑑定日期",
		"renew_date": "有效日期",
		"level": "程度",
		"category": "類別",
	};

	Vue.options.delimiters = ['{|{', '}|}'];
	vo_disabilitycard_register = new Vue({
		el: '#disabilitycard_register',
		data: {
			pk: -1,
			disabilitycard: {
				"identity_card_number": "",
				"name": "",
				"address": "",
				"identification_date": "",
				"renew_date": "",
				"level": "",
				"category": "",
				"owner": "",
				is_active: '',
			},
			url: '',
			mode: '',
			model_info: {},
			disabilitycard_temp: {},
			img_base64_front: '',
			img_base64_back: '',
		},
		computed: {

		},
		created: function () {
			let self = this
			rest_aj_send('options', '/genericUser/api/disabilitycards/', {})
			.done(function(data) {
				self.model_info = data['data'].actions.POST
			})

			if(!iser(user.disabilitycard_set[0])){
				self.pk = user.disabilitycard_set[0]
				self.url = '/genericUser/api/disabilitycards/' +self.pk +'/'
				rest_aj_send('get', self.url, {})
				.done(function(data) {
					_.each(self.disabilitycard, function(v,k){
						self.disabilitycard[k] = data['data'][k]
						self.disabilitycard_temp[k] = data['data'][k]
					})
				})
				self.mode = 'read'
			} else {
				self.url = '/genericUser/api/disabilitycards/'
				self.mode = 'create'
			}
		},
		methods: {
			active: function (status) {
				let self = this
				self.disabilitycard.is_active = self.disabilitycard_temp.is_active = status
				rest_aj_send('put', self.url, self.disabilitycard)
				.done(function(data) {
					if(status){ alertmessage('success', '成功啟用手冊') }
					else if(!status){ alertmessage('success', '成功停用手冊') }
				})
				.fail(function(data){
				    alertmessage('error', data['message']);
				})

			},
			create: function () {
				let self = this


				rest_aj_send('post', '/genericUser/api/disabilitycards/', self.disabilitycard_temp)
				.done(function(data) {
					alertmessage('success', '成功新建手冊')
					.done(function(){
						self.mode_change('read')
					})
				})
				.fail(function(data){
				    alertmessage('error', data['message']);
				})

			},
			cancel: function () {
				let self = this

				_.each(self.disabilitycard_temp, function(v,k){
					self.disabilitycard_temp[k] = self.disabilitycard[k]
				})

				self.mode_change('read');
				self.img_base64_front = '';
				self.img_base64_back = '';
			},
			update: function () {
				let self = this

				_.each(self.disabilitycard_temp, function(v,k){
					self.disabilitycard[k] = self.disabilitycard_temp[k]
				})

				rest_aj_send('put', self.url, self.disabilitycard)
				.done(function(data) {
					alertmessage('success', '成功修改手冊')
					self.mode_change('read')
					//self.pk = data['data'].identity_card_number
					self.upload(self.pk)
				})
				.fail(function(data){
				    alertmessage('error', data['message']);
				})

			},
			mode_change: function (mode) {
				this.mode = mode
			},
			ch_img: function(me, kind){
				let self = this;

				readfile(me)
				.done(function (bs) {
					let v = bin2base64(bs2barr(bs));
					if(kind==='front') self.img_base64_front = v;
					else self.img_base64_back = v;
					// cv_img_set(kind, v)
				})
			},
			upload: function(pk){
				let self = this

				let fileFront = document.getElementById('id_front');
					fileObject = fileFront.files[0]
					if(iser(fileObject)){
						alertmessage('error', '身心障礙手冊正面檔案尚未選擇')
						return -1
					}

				let fileBack = document.getElementById('id_back');
					fileObject = fileBack.files[0]
					if(iser(fileObject)){
						alertmessage('error', '身心障礙手冊反面檔案尚未選擇')
						return -1
					}

				let resource_url = '/genericUser/api/disabilitycards/' +pk +'/resource/source/'

				rest_aj_upload(resource_url +'front/', {'object': fileFront.files[0]})
				.done(function(data) {
					rest_aj_upload(resource_url +'back/', {'object': fileBack.files[0]})
					.done(function(data) {
						alertmessage('success', '成功上傳手冊')
					})
					.fail(function(data){
						alertmessage('error', '失敗上傳手冊反面')
					})
				})
				.fail(function(data){
					alertmessage('error', '失敗上傳手冊正面')
				})

			},
		},
	})

</script>
{% endblock %}