{% extends "base_nav.html" %}
{% block title %}
字體大小設定
{% endblock %}
{% block content %}
<button type="button" class="btn btn-primary" onclick="setFontSize()">字體大小設定</button>

<script>
	function setFontSize() {
		//顯示與編輯使用者權限

		//div
		let div = $('#divmodal_setFontSize');

		var percentage = ["htmlFontSize70",
						  "htmlFontSize75",
						  "htmlFontSize80",
						  "htmlFontSize85",
						  "htmlFontSize90",
						  "htmlFontSize95",
						  "htmlFontSize100",
						  "htmlFontSize105",
						  "htmlFontSize110"];

		var _fontSize = $.cookie('font-size');
		// default font-size 80%
		showSize = _fontSize.substr(12) - 80;

		$('#fontSizeBlock').html(showSize + '%');

		if (_fontSize && percentage.indexOf(_fontSize)!=-1) {
			var n = percentage.indexOf(_fontSize);
		} 
		else {
			var n = 2;
		}

		$("#fSZ_plus").click(function(e) {
			// plus fontSize
			if ( n<8 ) {
				n++;
				showSize += 5;
				$("html").removeClass().addClass(percentage[n]);
				$('#fontSizeBlock').html(showSize + '%');
			};
		});

		$("#fSZ_cut").click(function(e) {
			// cut fontSize
			if ( n>=1 ) {
				n--;
				showSize -= 5;
				$("html").removeClass().addClass(percentage[n]);
				$('#fontSizeBlock').html(showSize + '%');
			};
		});

		$("#fontSizeDefault").click(function(e) {
			// reset default fontSize
			n = 2;
			showSize = 0;
			$("html").removeClass().addClass("htmlFontSize80");
			$('#fontSizeBlock').html(showSize + '%');
		});

		//ok
		$('#divmodal_setFontSize_ok').off().on('click', function () {
			// get html fontsize class & set cookie
			var fontSizeClass = $("html").attr('class');
			$.cookie("font-size", fontSizeClass, {path:'/'});

			div.modal('hide');
		});

		//hidden
		div.off().on('hidden.bs.modal', function (e) {
			lm_minu();
		})

		//show
		lm_add(div);
		div.modal('show');

		//autofocus
		_.delay(function () {
			div.find('input').eq(0).focus();
		}, 500)

	}

</script>


<div id="divmodal_setFontSize" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="divmodal_setFontSize_title"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content alert-info" style="background-color: #f5f5f5;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="divmodal_setFontSize_title" class="modal-title">字體大小設定</h4>
			</div>
			<div style="padding:20px 20px; background-color:#fafafa;">
					<span style="font-size: 1.2em;">設定文字大小:</span>
					<button id=fontSizeDefault>預設</button>
					<button id=fSZ_plus class="fa fa-plus"></button>
					<button id=fSZ_cut class="fa fa-minus "></button>
					<span id=fontSizeBlock></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
				<button id="divmodal_setFontSize_ok" type="button" class="btn btn-primary">確定</button>
			</div>
		</div>
	</div>
</div>
<h3></h3>



{% endblock %}