{% extends "base_nav.html" %}
{% block title %}
服務紀錄
{% endblock %}

{% block content %}
{% csrf_token %}
{% include 'dev/table_component_div.html' %}

<div id="serviceinfo_record" class="container">
	<h3>服務紀錄</h3>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#serviceinfo_record_notyetredeem" name="serviceinfo_record_tab_grp" data-toggle="tab" aria-expanded="true">未兌換</a></li>
		<li><a href="#serviceinfo_record_redeeming" name="serviceinfo_record_tab_grp" data-toggle="tab" aria-expanded="false">兌換中</a></li>
		<li><a href="#serviceinfo_record_redeemed" name="serviceinfo_record_tab_grp" data-toggle="tab" aria-expanded="false">已兌換</a></li>
	</ul>
	<div class="tab-content" style="padding:20px 0px;">
		<div id="serviceinfo_record_notyetredeem" class="tab-pane active">
			<h4>未兌換</h4>
			<table-component :data="editrecords" :columns="editrecords_columns">
				<template slot="id" slot-scope="props">
			      	<input type="checkbox" v-model="editrecord_checks" :value="props.item.id">
			    </template>
			</table-component>
		</div>

		<div id="serviceinfo_record_redeeming" class="tab-pane">
			<h4>兌換中</h4>
			<table-component :data="exchange_false_serviceinfos" :columns="exchange_serviceinfos_columns">
				<template slot="editrecord_set" slot-scope="props">
			      	<button type="button" class="btn btn-default" @click="serviceinfoEditrecord(props.item.editrecord_set)">詳細服務紀錄</button>
			    </template>
			</table-component>

		</div>

		<div id="serviceinfo_record_redeemed" class="tab-pane">
			<h4>已兌換</h4>
			<table-component :data="exchange_true_serviceinfos" :columns="exchange_serviceinfos_columns">
				<template slot="editrecord_set" slot-scope="props">
			      	<button type="button" class="btn btn-default" @click="serviceinfoEditrecord(props.item.editrecord_set)">詳細服務紀錄</button>
			    </template>
			</table-component>
		</div>
	</div>
</div>
<script>
	function serviceinfos_data(v){
		temp_data = {
			date: v['date'],
			service_hours: v['service_hours'],
			org: cstr(getorg(v.org).name),
			editrecord_set: v.editrecord_set,
		};

		filter_data.push(temp_data);
	}

	Vue.options.delimiters = ['{|{', '}|}'];
	vo_serviceinfo_record = new Vue({
		el: '#serviceinfo_record',
		data: {
			editrecords: [],
			editrecords_columns: {
				id: '核取',
				get_date: '服務時間',
				service_hours: '服務時數',
				stay_hours: '線上時數',
				category: '類型',
			},
			exchange_false_serviceinfos: [],
			exchange_true_serviceinfos: [],
			exchange_serviceinfos_columns: {
				date: '兌換日期',
				service_hours: '服務時數',
				org: '兌換單位',
				editrecord_set: '服務紀錄',
			},
			erurl: '',
			siurl: '',
			editrecord_checks: [],
		},
		created: function () {
			let self = this

			self.erurl = '/ebookSystem/api/editrecords/'
			rest_aj_send('get', self.erurl, {'editor_id': user.id, 'exchange': 'false',})
			.done(function(data) {
				_.each(data['data'], function(v){
					temp_data = {
						id: v['id'],
						get_date: v['get_date'],
						service_hours: v['service_hours'],
						stay_hours: v['stay_hours'],
						category: v['category'],
					};
					self.editrecords.push(temp_data);
				})
			})

			self.siurl = '/genericUser/api/serviceinfos/'
			rest_aj_send('get', self.siurl, {'user_id': user.id, 'is_exchange': 'false',})
			.done(function(data) {
				filter_data = [];
				_.each(data['data'], serviceinfos_data)
				self.exchange_false_serviceinfos = filter_data;
			})
			rest_aj_send('get', self.siurl, {'user_id': user.id, 'is_exchange': 'true',})
			.done(function(data) {
				filter_data = [];
				_.each(data['data'], serviceinfos_data)
				self.exchange_true_serviceinfos = filter_data;
			})

		},
		methods: {
			serviceinfoEditrecord: function(editrecord_set){
				ServiceinfoEditrecord(editrecord_set);
			}
		}
	})
</script>
{% endblock %}