{% extends "base_nav.html" %}
{% block title %}
服務時數確認
{% endblock %}
{% block content %}
{% csrf_token %}

<div id="genericUser_serviceinfo_list_check">
	<h3>服務時數確認</h3>
	<h4>Step1: 勾選志工所提送的兌換項目</h4>
	<hr style="margin-top:5px;">
	<div style="margin-bottom:60px;">
		<button class="btn btn-default" type="Button" onclick="serviceinfocheck_select_all()">全選</button>
		<button class="btn btn-default" type="Button" onclick="serviceinfocheck_select_no()">全不選</button>
		<button class="btn btn-default" type="Button" onclick="serviceinfocheck_select_inv()">反向選</button>
		<div></div>
	</div>
	<h4>Step2: 確認後同意兌換</h4>
	<hr style="margin-top:5px;">
	<div style="margin-bottom:60px;">
		<button id="btn_serviceinfocheck_agree" type="button" class="btn btn-primary" onclick="serviceinfocheck_agree()">同意兌換</button>
	</div>
</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];

	vo_genericUser_serviceinfo_list_check = new Vue({
		el: '#genericUser_serviceinfo_list_check',
		data: {
			serviceinfos: [],
		},
		created: function () {
			let self = this

			rest_aj_send('get', '/genericUser/api/serviceinfos/', {'': '',})
				.done(function(data) {

					_.each(data['data'], function(v){
						serviceinfos.push({
							'核取': `<label class="checkbox-inline"><input type="checkbox" value="` + v.id +`" service_hours="` +v.service_hours +`">兌換</label>`,
							'兌換日期': v.date,
							'服務時數': v.service_hours,
							'服務者': v.userinfo.username,
							'兌換單位': cstr(getorg(v.org).name),
							'服務紀錄': '<button type="button" class="btn btn-default" onclick="ServiceinfoEditrecord([' + v.editrecord_set + '])">詳細服務紀錄</button>',
						})
					})
				})
		},
		methods: {
		},
	});

</script>

{% endblock %}