{% extends "base_nav.html" %}
{% block title %}
調出視窗測試
{% endblock %}
{% block content %}

{% csrf_token %}

<template id="bs-form-group">
	<div class="form-horizontal">
		<template v-for="(detail, field) in model_infos">
			<div class="form-group">
				<label class="control-label col-sm-2" :for="field"><font style="color:red">*</font><span>{|{ detail.label }|}</span></label>
				<div class="col-sm-4">
					<input v-if="detail.type === 'text'" 
						maxlength="30"
						class="form-control" 
						:type="detail.type" 
						:id="field" 
						v-model="infos[field]"
					>

					<input v-if="detail.type === 'checkbox'" 
						:type="detail.type" 
						:id="field" 
						:checked="infos[field]"
						v-model="infos[field]"
					>

					<el-date-picker v-if="detail.type === 'date'" 
						v-model="infos[field]"
						:id="field"
						value-format="yyyy-MM-dd"   
						placeholder="yyyy-MM-dd"
						size=small
						style="width: 100%;"
					></el-date-picker>

					<select v-if="detail.type === 'select'"
						class="form-control"
						:id="field"
						v-model="infos[field]"
					>
						<template v-for="(name, val) in detail.choices">
							<option :value="val">{|{ name }|}</option>
						</template>
					</select>

					<template
						v-if="detail.type === 'radio'" 
						v-for="(name, val) in detail.choices"
					>
						<label class="radio-inline">
						<input 
							type="radio" 
							:id="field"
							:value="val"
							v-model="infos[field]" 
						> 
						{|{ name }|}
						</label>
					</template>
				</div>
				<label class="control-label col-sm-4" :for="field" style="text-align:left;"><font style="color:red">{|{ detail.remark }|}</font></label>
			</div>
		</template>
	</div>
</template>

<div id="app">
	<button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#'+name"  @click="refresh_info">Modal</button>
	<modal-component :modal-name="name">

		<template slot="header">
			<h4 class="modal-title" id="myModalLabel">{|{ title }|}</h4>
		</template>

		<template slot="body">
			<form-component
			:model_infos="model_infos"
			:url="url"
			:bus="bus"
			></form-component>
		</template>

		<template slot="footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
			<button type="button" class="btn btn-primary" @click="update_info">儲存</button>
		</template>

	</modal-component>	 

</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	let vo_book;

	$(function(){
		let user_id = $('div[user_id]').attr('user_id');
		let opt = {
			el: '#app',
			data: {
				name: "usermodel",
				title: "更改使用者資訊",
				user_id: user_id,
				bus: new Vue(),
				model_infos : {
							'email': {
									'label': '信箱',
									'type': 'text',
									'remark': '請填寫電子信箱',
							},
							'first_name': {
									'label': '性氏',
									'type': 'text',
									'remark': '請填寫中文姓氏',
							},
							'last_name': {
									'label': '名字',
									'type': 'text',
									'remark': '請填寫中文名字',
							},
							'phone': {
									'label': '聯絡電話',
									'type': 'text',
									'remark': '請填寫手機',
							},
							'birthday': {
									'label': '生日',
									'type': 'date',
									'remark': '請填寫生日，範例日期格式：1989-02-19',
							},
							'education': {
									'label': '教育程度',
									'type': 'select',
									'remark': '請選擇教育程度',
									'choices' : {
											'' :'---------',
											'國小': '國小',
											'國中': '國中',
											'高中': '高中',
											'學士': '學士',
											'碩士': '碩士',
									},
							},
							'is_book': {
									'label': '訂閱訊息',
									'type': 'checkbox',
									'remark': '訂閱訊息',
							},
							'org': {
									'label': '隸屬單位',
									'type': 'select',
									'remark': '請選擇所屬單位',
									'choices' : {
										'' :'其它',
									},
							},
				},
			},
			computed: {
				url: function(){
					return '/genericUser/api/users/' + this.user_id + '/';
				},
			},
			methods: {
				refresh_info: function(){
					this.bus.$emit('refresh');
				},
				update_info: function(){
					this.bus.$emit('update');
				},
			} 
		};		

		vo_book = new Vue(opt);
	});

	Vue.component('form-component', {
		template: '#bs-form-group',
		props: ['model_infos', 'url', 'bus'],
		data: function(){
			return {
				infos: {},
				orig_infos: {},
			}
		},
		methods: {
			refresh_info: function() {
				this.infos = _.cloneDeep(this.orig_infos);
			},
			update_info: function() {
				let vo = this;
				rest_aj_send('patch', this.url, this.infos)
				.done(function(data, textStatus, xhr) {
					alertmessage('success', data['message'] +'更新已完成')
						.done(function () {
							location.reload(); //重新載入網頁以更新資訊
						});
				})
				.fail(function(data){
					alertmessage('error', data['message'])
					.done(function() {
						vo.refresh_info();
					})
				})
			},
		},
		created() {
			let vo = this;
			rest_aj_send('get', this.url, {})
			.done(function(data) {
				_.each(data.data, function(v, k){
					if(iser(v)) {
						// deal with undefined value
						data.data[k] = '';
					}
				});
				vo.infos = data.data;
				vo.orig_infos = _.cloneDeep(data.data); // back up
			})

			let org_url = '/genericUser/api/organizations/';
			rest_aj_send('get', org_url, {})
			.done(function(data) {
					_.each(data.data, function(v, k){
						vo.model_infos.org.choices[v.id] = v.name;
					});
			})
		},
		mounted () {
			this.bus.$on('refresh', this.refresh_info);
			this.bus.$on('update', this.update_info);
		},
	});

</script>
{% endblock %}