{% extends "base_nav.html" %}
{% block title %}
公告列表
{% endblock %}
{% block content %}
{% csrf_token %}

<script>
	let vo_acmlist;

	$(function(){

		//ebooks
		let client = new $.RestClient('/genericUser/api/');
		client.add('announcements');

		//read
		client.announcements.read()
			.done(function (data) {
                //console.log(data)

                //opt
                let opt = {
                    el: '#' + 'id_announcement_list',
                    data: {
                        s: {
                            rows: data,
                        }
                    },
                };

                vo_acmlist = new Vue(opt);
                
			});

	})

</script>


<script>

	//vu-acmlist
	Vue.component('vu-acmlist', {
		template: `
<div>

	<el-table :data="s.rows" style="width: 100%">

		<el-table-column 
			prop="category" 
			label="category"
			width="100"
			v-bind:filters="[{ text: '志工快訊', value: '志工快訊' }, { text: '新書推薦', value: '新書推薦' }, { text: '平台消息', value: '平台消息' }]"  
			v-bind:filter-method="filterTag"
		></el-table-column>
		
		<el-table-column 
			prop="title" 
			label="title"
		></el-table-column>
		
		<el-table-column 
			prop="datetime" 
			label="datetime"
			width="150"
		></el-table-column>
		
		
		<el-table-column 
			prop="action" 
			label="action" 
			width="150"
		></el-table-column>
		
	</el-table>

</div>
	`,
		props: ['s'],

		methods: {

			filterTag(value, row) {
				//console.log('methods filterTag',value, row)

				return row.category === value;
			},
	  
			ckcreate: function () {
				//console.log('methods ckcreate')

				let vo = this;

			},

		},
	})

</script>

<h3>公告列表lyu</h3>

<vu-acmlist id="id_announcement_list" v-bind:s="s"></vu-acmlist>

{% endblock %}