{% extends "base_nav.html" %}
{% block title %}
調出視窗測試
{% endblock %}
{% block content %}

{% csrf_token %}

<template id="bs-form-group">
	<el-form label-width="80px" style="margin-left: 50px;">
		<template v-for="(detail, field) in model_infos">
			<el-form-item :label="detail.label">
				<el-col :span="8" style="margin-right: 10px;">
					<el-input v-if="detail.type === 'text'"
						v-model="infos[field]" 
					></el-input>
				
					<el-switch v-if="detail.type === 'switch'"
						v-model="infos[field]"
					></el-switch>

					<el-date-picker v-if="detail.type === 'date'" 
						v-model="infos[field]"
						type="date"
						value-format="yyyy-MM-dd"   
						placeholder="yyyy-MM-dd"
						style="width: 100%;"
					></el-date-picker>

					<el-select v-if="detail.type === 'select'"
						v-model="infos[field]"
						:id="field"
						style="width: 100%;"
					>
						<el-option
							v-for="item in detail.choices"
							:key="item.id"
							:label="item.label"
							:value="item.id">
						</el-option>
					</el-select>

					<el-radio-group v-if="detail.type === 'radio'" 
						v-model="infos[field]"
						v-for="item in detail.choices">
						<el-radio :label="item.id" border>{|{ item.label }|}</el-radio>
					</el-radio-group>
				</el-col>

				<el-col :span="10">
					<font style="color:red">{|{ detail.remark }|}</font>
				</el-col>

			</el-form-item>	
		</template>
	</el-form>
</template>

<div id="app">
	<button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#'+name" @click="refresh_info">Modal</button>
	<modal-component :modal-name="name">

		<template slot="header">
			<h4 class="modal-title" id="myModalLabel">{|{ title }|}</h4>
		</template>

		<template slot="body">
			<form-component
			:model_infos="model_infos"
			:url="url"
			:bus="bus"
			></form-component>
		</template>

		<template slot="footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
			<button type="button" class="btn btn-primary" @click="update_info">儲存</button>
		</template>

	</modal-component>	 

</div>

<script>
	Vue.options.delimiters = ['{|{', '}|}'];
	let vo_book;

	$(function(){
		let user_id = $('div[user_id]').attr('user_id');
		let opt = {
			el: '#app',
			data: {
				name: "usermodel",
				title: "更改使用者資訊",
				user_id: user_id,
				bus: new Vue(),
				model_infos : {
							'email': {
									'label': '信箱',
									'type': 'text',
									'remark': '請填寫電子信箱',
							},
							'first_name': {
									'label': '性氏',
									'type': 'text',
									'remark': '請填寫中文姓氏',
							},
							'last_name': {
									'label': '名字',
									'type': 'text',
									'remark': '請填寫中文名字',
							},
							'phone': {
									'label': '聯絡電話',
									'type': 'text',
									'remark': '請填寫手機',
							},
							'birthday': {
									'label': '生日',
									'type': 'date',
									'remark': '請填寫生日，範例日期格式：1989-02-19',
							},
							'education': {
									'label': '教育程度',
									'type': 'select',
									'remark': '請選擇教育程度',
									'choices' : [
											{
									          id: '',
									          label: '---------'
									        },
									        {
									          id: '國小',
									          label: '國小'
									        },
									        {
									          id: '國中',
									          label: '國中'
									        },
									        {
									          id: '高中',
									          label: '高中'
									        },
									        {
									          id: '學士',
									          label: '學士'
									        },
									        {
									          id: '碩士',
									          label: '碩士'
									        },
									],
							},
							'is_book': {
									'label': '訂閱訊息',
									'type': 'switch',
									'remark': '訂閱訊息',
							},
							'org': {
									'label': '隸屬單位',
									'type': 'select',
									'remark': '請選擇所屬單位',
									'choices' : [
										{
											id: '',
											label: '其它'
									    },
									]
							},
				},
			},
			computed: {
				url: function(){
					return '/genericUser/api/users/' + this.user_id + '/';
				},
			},
			methods: {
				refresh_info: function(){
					this.bus.$emit('refresh');
				},
				update_info: function(){
					this.bus.$emit('update');
				},
			} 
		};		

		vo_book = new Vue(opt);
	});

	Vue.component('form-component', {
		template: '#bs-form-group',
		props: ['model_infos', 'url', 'bus'],
		data: function(){
			return {
				infos: {},
				orig_infos: {},
			}
		},
		methods: {
			refresh_info: function() {
				this.infos = _.cloneDeep(this.orig_infos);
			},
			update_info: function() {
				let vo = this;
				rest_aj_send('patch', this.url, this.infos)
				.done(function(data, textStatus, xhr) {
					alertmessage('success', data['message'] +'更新已完成')
						.done(function () {
							location.reload(); //重新載入網頁以更新資訊
						});
				})
				.fail(function(data){
					alertmessage('error', data['message'])
					.done(function() {
						vo.refresh_info();
					})
				})
			},
		},
		created() {
			let vo = this;
			rest_aj_send('get', this.url, {})
			.done(function(data) {
				_.each(data.data, function(v, k){
					if(iser(v)) {
						// deal with undefined value
						data.data[k] = '';
					}
				});
				vo.infos = data.data;
				vo.orig_infos = _.cloneDeep(data.data); // back up
			})

			let org_url = '/genericUser/api/organizations/';
			rest_aj_send('get', org_url, {})
			.done(function(data) {
				_.each(data.data, function(v, k){
					vo.model_infos.org.choices.push({id: v.id, label: v.name})
				});
			})
		},
		mounted () {
			this.bus.$on('refresh', this.refresh_info);
			this.bus.$on('update', this.update_info);
		},
	});

</script>
{% endblock %}