{% extends "base_nav.html" %}
{% block title %}
使用者測試
{% endblock %}
{% block content %}
{% include 'comp/mx_user_password.html' %}
{% include 'comp/mx_user_getOTP.html' %}
{% csrf_token %}
<h3>使用者測試</h3>

<button type="button" class="btn btn-default" onclick="user_getOTP(1, 'phone')">驗證</button>

<button type="button" class="btn btn-default" onclick="usermodel(1)">更新</button>
<button type="button" class="btn btn-default" onclick="user_password(1)">密碼</button>
<button type="button" class="btn btn-default" onclick="UserPermission(1)">權限</button>
<button type="button" class="btn btn-default" onclick="UserDisabilityCard(1)">手冊</button>
{% endblock %}