{% extends "base_nav.html" %}
{% block title %}
JWT 測試
{% endblock %}
{% block content %}

{% csrf_token %} 

<div id="app">
	<h2>JWT 測試</h2>
	<div>{|{ now }|}</div>
	<div>取得時間：{|{ token.get_orig_iat_date() }|}</div>
	<div>到期時間：{|{ token.get_exp_date() }|}</div>
	<div style="display: none;">{|{ count }|}</div>

	<div>
		<button
			@click="renew()"
		>刷新 jwt 內容</button>
	</div>

	<div>
		<div>username:</div>
		<div><input v-model="username"/></div>
		<div>password:</div>
		<div><input v-model="password"/></div>
		<button
			@click="obtain()"
		>測試jwt obtain</button>
	</div>

	<div>
		<button
			@click="refresh()"
		>測試jwt refresh</button>
	</div>

	<button
		@click="send_with_jwt()"
	>測試jwt</button>
	<button
		@click="send()"
	>測試</button>
	{|{ users }|}
</div>

<script>
function Foo() { 
    // ...
}

Foo.prototype.test = 1

var a = new Foo();
var b = new Foo();
//console.log(Object.getPrototypeOf(a) === Object.getPrototypeOf(b))
//console.log(a.test)
//console.log(Object.getPrototypeOf( a ) === Foo.prototype)

	Vue.options.delimiters = ['{|{', '}|}'];

	/*new Vue({
		el: '#app',
		components: {
		},
		data: {
			username: '',
			password: '',
			users: ['123'],
			token: '',
			now: '',
			count: 0,
		},
		mounted: function(){
			let self = this

			self.token = Object.create(Token);
			self.token.set('token');
			self.token.load();
			self.now = new Date();

			{
				let period_second = 20;
				let period_time = period_second * 1000;

				if(self.token.check_exp_come_soon(period_second +30)){
					self.token.refresh();
						self.token.save();
				}
				setInterval(function () {
					if(self.token.check_exp_come_soon(period_second +30)){
						self.token.refresh();
						self.token.save();
					}
					console.log('YAA')
					self.count = self.count +1;
				}, period_time);
			}

		},
		methods: {
			renew: function () {
				let self = this;
				alertmessage('success', '成功 renew token')
				self.token.save();
				self.now = new Date()
			},
			obtain: function () {
				let self = this;

				self.token.obtain(self.username, self.password)
				.done(function(data) {
					alertmessage('success', '成功 obtain token')
					self.token.save();
					self.now = new Date()
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})

			},
			refresh: function () {
				let self = this;

				self.token.refresh()
				.done(function(data) {
					alertmessage('success', '成功 refresh token')
					self.token.save();
					self.now = new Date()
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})

			},
			send: function () {
				let self = this

				rest_aj_send('get', '/genericUser/api/users/', {})
				.done(function(data) {
					self.users = data['data']
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})


			},
			send_with_jwt: function () {
				let self = this

				rest_aj_send_with_jwt('get', '/genericUser/api/users/1/', {}, self.token.token)
				.done(function(data) {
					self.users = data['data']
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})

			},
		},
	});*/

	id = new Number('1.2');
	if(id){
		console.log('true1');
	}
	else {
		console.log('false1');
	}

</script>

{% endblock %}