{% extends "base_nav.html" %}
{% block title %}
測試
{% endblock %}
{% block content %}

{% csrf_token %} 

<div id="app">
	<h1>123</h1>
	<div>{|{ now }|}</div>
	<button
		@click="decode()"
	>測試jwt decode</button>
	<div>{|{ jwt_decoded }|}</div>
	<div>{|{ human_exp }|}</div>

	<button
		@click="refresh()"
	>測試jwt refresh</button>

	<button
		@click="check()"
	>測試jwt過期</button>

	<button
		@click="send_with_jwt()"
	>測試jwt</button>
	<button
		@click="send()"
	>測試</button>
	{|{ users }|}
	{|{ token }|}
</div>

<script>
function Foo() { 
    // ...
}

Foo.prototype.test = 1

var a = new Foo();
var b = new Foo();
console.log(Object.getPrototypeOf(a) === Object.getPrototypeOf(b))
console.log(a.test)
//console.log(Object.getPrototypeOf( a ) === Foo.prototype)

	console.log($.RestClient.prototype.ajax)

	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#app',
		components: {
		},
		data: {
			users: ['123'],
			token: '',
			jwt_decoded: '',
		human_exp: '',
		now: '',
		},
		mounted: function(){
			let self = this

			get_token('root', '1234QWER')
			.done(function(data) {
				self.token = data['token']
				self.now = new Date()
				Cookies.set('jwt-token', data['token']);
			})
			.fail(function(xhr, result, statusText){
				alertmessage('error', o2j(xhr))
			})
		},
		methods: {
			check: function () {
				console.log(check_token_exp(this.token))
			},
			refresh: function () {
				let self = this;

				rest_aj_send('post', '/api-token-refresh/', {'token': this.token,})
				.done(function(data) {
					self.token = data['data']['token']
					self.now = new Date()
					Cookies.set('jwt-token', data['data']['token']);
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})

			},
			decode: function () {
				this.jwt_decoded = jwt_decode(this.token);
			this.human_exp = new Date(this.jwt_decoded.exp*1000)
			console.log(this.human_exp -this.now)
			},
			send: function () {
				let self = this

				rest_aj_send('get', '/genericUser/api/users/', {})
				.done(function(data) {
					self.users = data['data']
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})


			},
			send_with_jwt: function () {
				let self = this

				rest_aj_send_with_jwt('get', '/genericUser/api/users/', {}, self.token)
				.done(function(data) {
					self.users = data['data']
				})
				.fail(function(xhr, result, statusText){
					alertmessage('error', o2j(xhr))
				})


			},
		},
	});

</script>

{% endblock %}