{% load staticfiles %}
<script>

	$(function(){
		let data = {
			'ISBN': {
				'key': 'ISBN',
				'value': '',
				'show': 'ISBN',
			},
			'bookname': {
				'key': 'bookname',
				'value': '',
				'show': '書名',
			},
			'author': {
				'key': 'author',
										'value': '',
				'show': '作者',
			},
			'house': {
				'key': 'house',
				'value': '',
				'show': '出版社',
			},
			'date': {
				'key': 'date',
				'value': '',
				'show': '出版日期',
			},
			'bookbinding': {
				'key': 'bookbinding',
				'value': '',
				'show': '裝訂冊數',
			},
			'chinese_book_category': {
				'key': 'chinese_book_category',
				'value': '',
				'show': '中文圖書分類',
			},
			'order': {
				'key': 'order',
				'value': '',
				'show': '版次',
			},
			'source': {
				'key': 'source',
				'value': '',
				'show': '來源',
			},
		}

		gen_form('bookinfos_field_div', data);

	})

	function BookfromISBN_default(){

		//default
		$('#id_bookname').val('');
		$('#id_author').val('');
		$('#id_date').val('');
		$('#id_house').val('');
		$('#id_bookbinding').val('');
		$('#id_chinese_book_category').val('');
		$('#id_order').val('');

	}

	function BookfromISBN_loading(){

		//loading
		$('#id_get_isbn_load_icon').show();
		$('#get_isbn').prop('disabled',true);

	}

	function BookfromISBN_unloading(){

		//unloading
		$('#id_get_isbn_load_icon').hide();
		$('#get_isbn').prop('disabled',false);

	}

	function BookfromISBN_get(){
		//由ISBN取得書籍資訊

		//default
		BookfromISBN_default();

		//obj, ele
		let objISBN=$('#id_search_ISBN');
		let eleISBN=objISBN[0];

		//ISBN
		let ISBN=objISBN.val();
		//國內書籍測試(9789861343068)
		//國外書籍測試(9780399226908,978-0399226908)

		//check
		if(!eleISBN.checkValidity()){
			let msg=eleISBN.validationMessage; //英文錯誤訊息故不使用
			console.log(msg)
			alertmessage('error', 'ISBN格式錯誤')
			return;
		}
		if(binstr(ISBN,'-')){
			alertmessage('error', 'ISBN格式不能含有「-」')
			return;
		}
		
		if(ISBN.length!==10 && ISBN.length!==13){
			alertmessage('error', 'ISBN長度錯誤')
			return;
		}

		//loading
		BookfromISBN_loading();

		//aj_isbnnetanddouban_ISBN
		aj_isbnnetanddouban_ISBN(ISBN)
		.done(function(data){

			//alertmessage
			alertmessage('success', '查詢成功');

			//show
			$('#id_search_ISBN').val(data['ISBN']); //若查詢ISBN10會自動轉ISBN13，故要重新更新
			$('#id_ISBN').val(data['ISBN']); //若查詢ISBN10會自動轉ISBN13，故要重新更新
			$('#id_bookname').val(data['書名']);
			$('#id_author').val(data['作者']);
			$('#id_date').val(data['出版日期']);
			$('#id_house').val(data['出版社']);
			$('#id_bookbinding').val(data['裝訂方式']);
			$('#id_chinese_book_category').val(data['圖書類號']);
			$('#id_order').val(data['版次']);
			$('#id_source').val(data['來源']);

		})
		.fail(function(data){

			//alertmessage
			alertmessage('error', data);

			//解開readonly屬性由使用者自行輸入
			$('#show_prop')
				.off()
				.on('click',function(){
					$('input[type="text"][grp="changemode"]').prop('readonly',false);
				})
				.show();

		})
		.always(function(){

			//unloading
			BookfromISBN_unloading();

		})

	}

	function BookfromISBNnet_get(){
		//由全國新書資訊網ISBNnet取得書籍資訊

		//default
		BookfromISBN_default();

		//FindBook
		FindBook()
		.done(function(data){

			//show
			$('#id_search_ISBN').val(data['ISBN']); //若查詢ISBN10會自動轉ISBN13，故要重新更新
			$('#id_ISBN').val(data['ISBN']);
			$('#id_bookname').val(data['書名']);
			$('#id_author').val(data['作者']);
			$('#id_date').val(data['出版日期']);
			$('#id_house').val(data['出版社']);
			$('#id_bookbinding').val(data['裝訂方式']);
			$('#id_chinese_book_category').val(data['圖書類號']);
			$('#id_order').val(data['版次']);
			$('#id_source').val(data['來源']);
			
		})
		
	}

	function gen_form(div_id, obj) {
		let c = '';
		_.each(obj, function (v, k) {
			c += '<div class="form-group">'
				+'<label class="control-label col-sm-2" for="id_' +v.key +'"><font style="color:red">*</font>' +v.show +'：</label>'
				+'<div class="col-sm-3">'
					+'<input type="text" grp="changemode" class="form-control" id="id_' +v.key +'" name="' +v.key +'" readonly="true">'
				+'</div>'
			+'</div>'
		})
		$('#' + div_id).html(c);
	}

</script>