{% extends "base_nav.html" %}
{% block title %}
校對進度
{% endblock %}

{% block content %}
{% csrf_token %}
{% include 'comp/table-div.vue' %}
{% include 'comp/tab.vue' %}

<div id="book_person">
	<h2>校對進度</h2>
	<tab :data="data">
		<template slot="table" slot-scope="props">
			<table-div :datas="props.item.datas" :header="props.item.header">
				<template slot="inactive_book_action" slot-scope="props">
					<a v-if="user.is_manager" class="btn btn-default" role="button" :href="'/ebookSystem/review_document/' +props.item.ISBN +'/'" target="_blank" title="審核(另開新視窗)">審核</a>
					<button class="btn btn-default" @click="book_del(props.item.ISBN)">刪除</button>
				</template>
				<template slot="active_book_action" slot-scope="props">
					<button class="btn btn-default send_button" @click="BookSetPriority(props.item.ISBN)">設定權重</button>
					<a class="btn btn-default" :href="'/ebookSystem/generics/book_detail/' +props.item.ISBN +'/'" target="_blank" title="分段資訊(另開新視窗)">分段資訊</a>
				</template>
				<template slot="bookinfo_action" slot-scope="props">
					<button class="btn btn-default" :ISBN="props.item" onclick="aj_borrowbook(this, 'check_out' )">借閱</button>
					<a class="btn btn-default" role="button"
						:href="'/ebookSystem/library_origin_view?ISBN=' +props.item"
						target="_blank" title="閱讀(另開新視窗)"
					>閱讀</a>
				</template>
			</table-div>
		</template>
	</tab>
</div>

<script>

	inactive_book_header = {
		"ISBN": "ISBN",
		"bookname": "書名",
		"owner": "上傳者",
		"upload_date": "上傳日期",
		"inactive_book_action": "動作",
	}

	function inactive_book_datas(v){
		temp_data = {
			"ISBN": v.book_info.ISBN,
			"bookname": v.book_info.bookname,
			"owner": v.owner,
			"upload_date": v.upload_date,
			"inactive_book_action": v,
		}

		filter_data.push(temp_data)

	}

	active_book_header = {
		"ISBN": "ISBN",
		"bookname": "書名",
		"page": "頁數/總頁數",
		"finish_part_count": "已完成段數",
		"service_hours": "時數",
		"priority": "權重",
		"active_book_action": "動作",
	}

	function active_book_datas(v){
		temp_data = {
			"ISBN": v.book_info.ISBN,
			"bookname": v.book_info.bookname,
			"page": v.finish_page_count.toString() +'/' +v.page_count.toString(),
			"finish_part_count": v.finish_part_count,
			"service_hours": v.service_hours,
			"priority": v.priority,
			"active_book_action": v,
		}

		filter_data.push(temp_data)

	}

	bookinfo_header = {
		"ISBN": "ISBN",
		"bookname": "書名",
		"bookbinding": "裝訂冊數",
		"order": "版次",
		"author": "作者",
		"house": "出版社",
		"date": "出版日期",
		"bookinfo_action": "動作",
	}

	function bookinfo_datas(v){
		temp_data = {
			"ISBN": v['ISBN'],
			"bookname": v['bookname'],
			"bookbinding": v['bookbinding'],
			"order": v['order'],
			"author": v['author'],
			"house": v['house'],
			"date": v['date'],
			"bookinfo_action": v['ISBN'],
		}

		filter_data.push(temp_data)

	}

	Vue.options.delimiters = ['{|{', '}|}'];

	new Vue({
		el: '#book_person',
		data: {
			bookinfo_header: bookinfo_header,
			data: [
				{
					'order': 0,
					'display_name': '已校對',
					'value': 'finish',
					'type': 'table',
					'data': '',
				},
				{
					'order': 1,
					'display_name': '校對中',
					'value': 'active',
					'type': 'table',
					'data': '',
				},
				{
					'order': 2,
					'display_name': '未審核',
					'value': 'inactive',
					'type': 'table',
					'data': '',
				},
			],
		},
		created: function () {
			this.client = new $.RestClient('/ebookSystem/api/');
			this.client.add('books');
			this.client.add('bookinfos');
		},
		mounted: function () {
			this.get_table_data();
		},
		methods: {
			get_table_data: function () {
				let self = this;

				//finish book
				query = {'owner_id': user.id}
				self.client.bookinfos.read(query)
				.done(function(data) {
					filter_data = []
					_.each(data, bookinfo_datas)
					self.data[0].data = {}
					self.data[0].data['header'] = bookinfo_header
										self.data[0].data['datas'] = filter_data
				})

				//active book
				c1 = self.client.books.read({'status': 1, 'owner_id': user.id})
				c2 = self.client.books.read({'status': 2, 'owner_id': user.id})
				$.when(c1, c2)
				.done(function(data1, data2) {
					book_data = []
					book_data = book_data.concat(data1[0])
					book_data = book_data.concat(data2[0])
					filter_data = []
					_.each(book_data, active_book_datas)
					self.data[1].data = {}
					self.data[1].data['header'] = active_book_header
					self.data[1].data['datas'] = filter_data
				})

				//inactive book
				query = {'status': 0, 'owner_id': user.id}
				self.client.books.read(query)
				.done(function(data) {
					filter_data = []
					_.each(data, inactive_book_datas)
					self.data[2].data = {}
					self.data[2].data['header'] = inactive_book_header
					self.data[2].data['datas'] = filter_data
				})

			},
			book_del: function (pk) {
				let self = this

				alertconfirm('確認刪除書籍 id:' +pk)
				.done(function(){
					self.client.books.del(pk)
					.done(function(data) {
						alertmessage('success', '成功刪除 Q&A id:' +pk)
						.done(function(){
							self.get_table_data()
						})
					})
					.fail(function(xhr, result, statusText){
						alertmessage('error', xhr.responseText)
					})
				})
			},
		},
	})

</script>
{% endblock %}