{% extends "base_nav.html" %}
{% block title %}
電子檔上傳
{% endblock %}
{% block style %}
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block content %}

{% include 'comp/book_vue.html' %}
{% include 'comp/mx_find_book.html' %}
{% include 'comp/upload_dialog.html' %}

{% csrf_token %}

<div category="epub"></div>

{% endblock %}