{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
索引
{% endblock %}
{% block header %}
索引
{% endblock %}
{% block content %}
<h3>索引</h3>


<ul class="nav nav-tabs">

{% for category, bookinfos in books_list %}

	<li><a href="#booklist_tab_{{ category }}_div" name="booklist_tab_a_name" ics="{{ category }}" data-toggle="tab">圖書分類號：{{ category }}</a></li>

{% endfor %}

</ul>


<div class="tab-content">

	{% for category, bookinfos in books_list %}

	<div class="tab-pane" style="margin-top:30px;" id="booklist_tab_{{ category }}_div">

		{% if bookinfos|length > 0 %}

			<table class="table table-striped table-hover">
				<tr>
					<th>ISBN</th>
					<th>書名</th>
					<th>裝訂冊數</th>
					<th>版次</th>
					<th>作者</th>
					<th>出版社</th>
					<th>出版日期</th>
				</tr>
				{% for bookinfo in bookinfos %}
				<tr>
					<td>{{ bookinfo.ISBN }}</td>
					<td>{{ bookinfo.bookname }}</td>
					<td>{{ bookinfo.bookbinding }}</td>
					<td>{{ bookinfo.order }}</td>
					<td>{{ bookinfo.author }}</td>
					<td>{{ bookinfo.house }}</td>
					<td>{{ bookinfo.date }}</td>
				</tr>
				{% endfor %}
			</table>

		{% else %}

			<div>目前尚無書籍資料</div>

		{% endif %}

	</div>

	{% endfor %}

</div>


<script>

 	$(document).ready(function () {

		var ocs={
			0:'總類',	
			1:'哲學',	
			2:'宗教',
			3:'科學',
			4:'應用科學',
			5:'社會科學',
			6:'史地類',
			7:'世界史地',
			8:'語言文學',
			9:'藝術'
		}

		$('a[name="booklist_tab_a_name"]').each(function(){
			var a=$(this);
			var ics=parseInt(a.attr('ics'));
			var cs=ocs[ics];
			var html=cs+'('+ics+')';
			a.html(html);
		})

		$('a[name="booklist_tab_a_name"]').eq(0).click();

    });
	
</script>


{% endblock %}