{% load staticfiles %}

<script>

	function BookfromISBN_default(){

		//default
		$('#id_bookname').val('');
		$('#id_author').val('');
		$('#id_date').val('');
		$('#id_house').val('');
		$('#id_bookbinding').val('');
		$('#id_chinese_book_category').val('');
		$('#id_order').val('');

	}

	function BookfromISBN_loading(){

		//loading
		$('#id_get_isbn_load_icon').show();
		$('#get_isbn').prop('disabled',true);

	}

	function BookfromISBN_unloading(){

		//unloading
		$('#id_get_isbn_load_icon').hide();
		$('#get_isbn').prop('disabled',false);

	}

	function BookfromISBN_get(){
		//由ISBN取得書籍資訊

		//default
		BookfromISBN_default();

		//obj, ele
		let objISBN=$('#id_ISBN');
		let eleISBN=objISBN[0];

		//ISBN
		let ISBN=objISBN.val();
		//國內書籍測試(9789861343068)
		//國外書籍測試(9780399226908,978-0399226908)

		//check
		if(!eleISBN.checkValidity()){
			let msg=eleISBN.validationMessage; //英文錯誤訊息故不使用
			console.log(msg)
			alertmessage('error', 'ISBN格式錯誤')
			return;
		}
		if(binstr(ISBN,'-')){
			alertmessage('error', 'ISBN格式不能含有「-」')
			return;
		}
		
		if(ISBN.length!==10 && ISBN.length!==13){
			alertmessage('error', 'ISBN長度錯誤')
			return;
		}

		//loading
		BookfromISBN_loading();

		//aj_isbnnetanddouban_ISBN
		aj_isbnnetanddouban_ISBN(ISBN)
		.done(function(data){

			//alertmessage
			alertmessage('success', '查詢成功');

			//show
			$('#id_ISBN').val(data['ISBN']); //若查詢ISBN10會自動轉ISBN13，故要重新更新
			$('#id_bookname').val(data['書名']);
			$('#id_author').val(data['作者']);
			$('#id_date').val(data['出版日期']);
			$('#id_house').val(data['出版社']);
			$('#id_bookbinding').val(data['裝訂方式']);
			$('#id_chinese_book_category').val(data['圖書類號']);
			$('#id_order').val(data['版次']);
			$('#id_source').val(data['來源']);

		})
		.fail(function(data){

			//alertmessage
			alertmessage('error', data);

			//解開readonly屬性由使用者自行輸入
			$('#show_prop')
				.off()
				.on('click',function(){
					$('input[type="text"][grp="changemode"]').prop('readonly',false);
				})
				.show();

		})
		.always(function(){

			//unloading
			BookfromISBN_unloading();

		})

	}

	function BookfromISBNnet_get(){
		//由全國新書資訊網ISBNnet取得書籍資訊

		//default
		BookfromISBN_default();

		//findbook
		findbook()
		.done(function(data){

			//show
			$('#id_ISBN').val(data['ISBN']);
			$('#id_bookname').val(data['書名']);
			$('#id_author').val(data['作者']);
			$('#id_date').val(data['出版日期']);
			$('#id_house').val(data['出版社']);
			$('#id_bookbinding').val(data['裝訂方式']);
			$('#id_chinese_book_category').val(data['圖書類號']);
			$('#id_order').val(data['版次']);
			$('#id_source').val(data['來源']);
			
		})
		
	}

</script>

<div class="form-group">
	<label class="control-label col-sm-2" for="id_ISBN"><font style="color:red">*</font>ISBN:</label>
	<div class="col-sm-3">
		<input type="text" class="form-control" id="id_ISBN" name="ISBN"  placeholder="請輸入正確的ISBN(10碼或13碼）" pattern="(ISBN[-]*(1[03])*[ ]*(: ){0,1})*(([0-9Xx][- ]*){13}|([0-9Xx][- ]*){10})" autofocus required>
	</div>
		<input id="get_isbn" type="button" class="btn btn-default" value="取得書籍資訊" onclick="BookfromISBN_get()">
		<img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_isbn_load_icon" />
		<input id="get_book_isbnnet" type="button" class="btn btn-default" value="更多查詢方式" onclick="BookfromISBNnet_get()">
		<a type="button" class="btn btn-default" href="http://isbn.ncl.edu.tw/NCL_ISBNNet/H30_SearchBooks.php?PHPSESSID=3ovphpac0m41ducm3iiak2sfe5&Pact=DisplayAll" target="_blank" id="to_ISBNNet">國家圖書館書目資料查詢</a>
	<!-- <input type="button" class="btn btn-default" style="display: none;" value="是否人工輸入？" id="show_prop">-->
</div> 
<div class="form-group">
	<label class="control-label col-sm-2" for="id_bookname"><font style="color:red">*</font>書名：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" autofocus id="id_bookname" name="bookname" readonly="true" required>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2" for="id_author"><font style="color:red">*</font>作者：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" id="id_author" name="author" readonly="true" required>
	</div>
</div>  
<div class="form-group">
	<label class="control-label col-sm-2" for="id_house"><font style="color:red">*</font>出版社：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" id="id_house" name="house" readonly="true" required>
	</div>
</div>  
<div class="form-group">
	<label class="control-label col-sm-2" for="id_date"><font style="color:red">*</font>出版日：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control datepicker" id="id_date" name="date" placeholder="YYYY-mm-dd" required readonly="true">
	</div>
</div> 
<div class="form-group">
	<label class="control-label col-sm-2" for="id_bookbinding"><font style="color:red">*</font>裝訂冊數：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" id="id_bookbinding" name="bookbinding" readonly="true">
	</div>
</div>  
<div class="form-group">
	<label class="control-label col-sm-2" for="id_chinese_book_category"><font style="color:red">*</font>中文圖書分類：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" id="id_chinese_book_category" name="chinese_book_category" readonly="true">
	</div>
</div>  
<div class="form-group">
	<label class="control-label col-sm-2" for="id_order"><font style="color:red">*</font>版次：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" id="id_order" name="order" readonly="true">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2" for="id_source"><font style="color:red">*</font>來源：</label>
	<div class="col-sm-3">
		<input type="text" grp="changemode" class="form-control" id="id_source" name="order" readonly="true">
	</div>
</div>

