{% extends "base_nav.html" %}
{% block title %}
書籍詳細
{% endblock %}
{% block content %}
{% csrf_token %}

<div id="book_detail" class="container">
	<h3>書籍詳細</h3>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#book_detail_overall" name="book_detail_tab_grp" data-toggle="tab" aria-expanded="true">總覽</a></li>
		<li><a href="#book_detail_editrecord" name="book_detail_tab_grp" data-toggle="tab" aria-expanded="false">校對紀錄</a></li>
	</ul>
	<div class="tab-content" style="padding:20px 0px;">
		<div id="book_detail_overall" class="tab-pane active">
			<h4>總覽</h4>
			<div class="row">
				<button
					class="btn btn-default"
					@click="$refs.db.instance_set(pk); 	openDialog('db', this);"
				>下載</button>
				<table-div :header="overall_header" :datas="overall_datas">
					<template slot="action" slot-scope="props">
						<button
							v-if="props.item.status===1"
							class="btn btn-default"
							@click="$refs.bs.instance_set(props.item.ISBN_part); openDialog('bs', this);"
						>指派</button>
						<button
							v-if="props.item.status===4"
							class="btn btn-default"
							@click="onactive(props.item.ISBN_part)">
						再校對</button>
					</template>
				<table-div/>
			</div>
		</div>
		<div id="book_detail_editrecord" class="tab-pane">
			<h4>校對紀錄</h4>
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<div class="panel-group y-scroll-box">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;分段列表
								</h4>
							</div>
							<div class="panel-collapse">
								<ul class="list-group">
									<li class="list-group-item" v-for="(item, index) in book.ebook_set"><a 
										v-on:click="read(index)"
										href='#'
									>{|{ item.bookname +item.part }|}</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9 col-md-9">
					<h4>分段基本資訊</h4>
					<ul-component :data="info"></ul-component>
					<h4>分段校對紀錄</h4>
					<table-div :header="editrecord_header" :datas="editrecord_datas"></table-div>
				</div>
			</div>
		</div>
	</div>
	<modal :id_modal="'db'">
		<template slot="header">
			<h4 class="modal-title">取得書籍</h4>
		</template>
		<template slot="body">
			<book_origin_download
				pk="0"
				ref="db"
			>
			</book_origin_download>
		</template>

		<template slot="footer">
			<button class="btn btn-primary" @click=" $refs.db.object_get()">確定</button>
		</template>

	</modal>
	<modal :id_modal="'bs'">
		<template slot="header">
			<h4 class="modal-title">指派</h4>
		</template>   
		<template slot="body">
			<assign-component 
				isbn_part="0"
				ref="bs">
			</assign-component>
		</template>
		<template slot="footer">
			<button
				@click="$refs.bs.save_assign()"
			>指派</button>
		</template>
	</modal>
</div>

<script src="/static/ebookSystem/js/httpVueLoader.js"></script>
<script>

	Vue.options.delimiters = ['{|{', '}|}'];
	new Vue({
		el: '#book_detail',
		components: {
			'table-div': components['table-div'],
			'book_origin_download': components['book_origin_download'],
			'ul-component': components['list_vue_component'],
			'assign-component': components['ebook_assign_component'],
		},
		data: {
			pk: '',
			book: {},
			overall_header: {
				part: '段數',
				status: '狀態',
				edited_page: '頁數',
				get_date: '領取日期',
				deadline: '期限',
				action: '動作',
			},
			overall_datas: [],
			editrecord_header: {
				number_of_times: '次數',
				get_date: '領取日期',
				stay_hours: '線上時數',
				service_hours: '服務時數',
				editor: '校對者',
				category: '類型',
			},
			ebook_index: 0,
			isbn_part: '',
		},
		computed: {
			url: function () {
				return '/ebookSystem/api/bookadds/' +this.pk +'/'
			},
			ebook: function () {
				if (!iser(this.book.ebook_set)) {
					return this.book.ebook_set[this.ebook_index];
				}	
			},
			editrecord_datas: function () {
				let temp = [];
				if (!iser(this.ebook)) {
					_.each(this.ebook.editrecord_set, function(v) {
						temp.push({
							'number_of_times': v.number_of_times,
							'get_date': v.get_date,
							'stay_hours': v.stay_hours,
							'service_hours': v.service_hours,
							'editor': v.editor,
							'category': v.category,
						})
					})
					return temp
				}
			},
			info: function () {
				if (!iser(this.ebook)) {
					return {
						'段數': this.ebook.part,
						'狀態': this.ebook.status,
						'時數': this.ebook.service_hours,
						'頁數/總頁數': this.ebook.edited_page+1 +'/50',
						'預計完成日期': this.ebook.deadline,
					}
				}
			},
		},
		created: function () {
			this.pk = window.location.pathname.split('/')
			this.pk = this.pk[this.pk.length-2]
			this.client = new $.RestClient('/ebookSystem/api/');
			this.client.add('books');
			this.client.add('bookadds');
		},
		mounted: function () {
			this.get_overall_datas();
		},
		methods: {
			get_overall_datas: function () {
				let self = this;
				self.client.bookadds.read(self.pk)
				.done(function(data) {
					self.book = data
					_.each(data.ebook_set, function(v){
						self.overall_datas.push({
							'part': v.part,
							'status': v.status,
							'edited_page': v.edited_page+1,
							'get_date': v.get_date,
							'deadline': v.deadline,
							'action': v,
						})
					})
				})
			},
			read: function (index) {
				this.ebook_index = index
			},
			onactive: function (ISBN_part) {
				let self = this

				url = '/ebookSystem/api/ebooks/' +ISBN_part +'/action/onactive/';
				alertconfirm('是否確定再校對?')
				.done(function(){
					rest_aj_send('post', url, {})
					.done(function(data) {
						alertmessage('success', data['message'])
						rest_aj_send('get', self.url, {})
						.done(function(data) {
							self.book = data['data']
						})
					})
					.fail(function(xhr, result, statusText){
						alertmessage('error', xhr.responseText)
					})
				})
			},
		},
	})

</script>
{% endblock %}