{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
平台書庫
{% endblock %}
{% block header %}
平台書庫
{% endblock %}
{% block content %}
{% csrf_token %}


<script id="tmp_booklist_tabframe" type="text/x-custom-template">
	<table>
		<thead>
			<tr>
				<th>ISBN</th>
				<th>書名</th>
				<th>裝訂冊數</th>
				<th>版次</th>
				<th>作者</th>
				<th>出版社</th>
				<th>出版日期</th>
				{% if request.user.is_guest %}
				<th>動作</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>


<script id="tmp_booklist_row" type="text/x-jquery-tmpl">
	<tr>
		<td>${ISBN}</td>
		<td>${bookname}</td>
		<td>${bookbinding}</td>
		<td>${order}</td>
		<td>${author}</td>
		<td>${house}</td>
		<td>${date}</td>
		{% if request.user.is_guest %}
		<td>
			<a class="btn btn-default" role="button" href="{%url 'ebookSystem:library_view' %}?ISBN=${ISBN}" target="_blank" title="閱讀(另開新視窗)">閱讀</a>
			<button type="button" class="btn btn-default" ISBN="${ISBN}" onclick="receivebook(this, false, 'download')">下載</button>
			<button type="button" class="btn btn-default" ISBN="${ISBN}" onclick="aj_borrowbook(this, 'check_out')">借閱</button>
		</td>
		{% endif %}
	</tr>
</script>


<script>


	$(function(){
		//初始化頁面

		//主分頁
		//$('[name="repository_books_tab_grp"]').eq(0).click(); //預先顯示第1分頁

		//listrecommend
		listrecommend();

		//listnewst
		listnewst();

		//listhottest
		listhottest();

		//listcategory
		listcategory();

	})


	function search(){
		//查詢ISBN或書名

		//search_type
		let search_type=$('[name="search_type"]:checked').val();

		//search_value
		let search_value=$('#search_value').val();

		//div
		let div=$('#repository_books_div_查詢');

		//aj_booklist
		aj_booklist(search_type,search_value)
		.done(function(data){

			//datatable
			bk_datatable(div,data,'tab_result');

			//alertmessage
			alertmessage('success', '查詢成功，共取得 '+data.length+' 筆資料')

		})
		.fail(function(msg){

			//msg
			div.html(msg);

			//alertmessage
			alertmessage('error', msg)


		})
		
	}


	function listrecommend(){
		//顯示書籍推薦分頁

		//ocs
		let ocs={
			0:'新書上架',	
			1:'平台推薦',	
			2:'借閱排行',
		}

		//s
		function gs(c){
			return {
				'id':'bookrecommend_'+c,
				'title':c,
				'name':'repository_bookrecommend_tab_grp',
				'prop':'',
			}
		}
		let s=[];
		_.each(ocs,function(v,k){
			s.push(gs(v,k));
		})

		//page
		let hpage=pagetab(s);
		$('#repository_books_div_書籍推薦').html(hpage);

	}


	function listnewst(){
		//顯示新書上架

		//div
		let div=$('#bookrecommend_新書上架');

		//aj_booklist
		aj_booklist('newest',5) //先5本
		.done(function(data){

			//datatable
			bk_datatable(div,data,'tab_bookrecommend_新書上架');

		})
		.fail(function(msg){
			div.html(msg);
		})
		

	}


	function listhottest(){
		//顯示借閱排行

		//div
		let div=$('#bookrecommend_借閱排行');

		//aj_booklists
		aj_booklist('hottest',5) //先5本
		.done(function(data){

			//datatable
			bk_datatable(div,data,'tab_bookrecommend_借閱排行');

		})
		.fail(function(msg){
			div.html(msg);
		})
		

	}


	function listcategory(){
		//顯示索引
		
		//ocs
		let ocs={
			0:'總類',	
			1:'哲學',	
			2:'宗教',
			3:'科學',
			4:'應用科學',
			5:'社會科學',
			6:'史地類',
			7:'世界史地',
			8:'語言文學',
			9:'藝術'
		}

		//s
		function gs(c,i){
			return {
				'id':'bookcategory_'+i,
				'title':c,
				'name':'repository_bookcategory_tab_grp',
				'prop':'',
			}
		}
		let s=[];
		_.each(ocs,function(v,k){
			s.push(gs(v,k));
		})

		//page
		let hpage=pagetab(s);
		$('#repository_books_div_索引').html(hpage);

		//each 0~9
		_.each(_.range(0,10),function(i){

			//div
			let div=$('#bookcategory_'+i);

			//aj_booklist
			aj_booklist('chinese_book_category',i)
			.done(function(data){

				//datatable
				bk_datatable(div,data,'tab_category_'+i);

			})
			.fail(function(msg){
				div.html(msg);
			})
			
		})

	}
	

	function bk_datatable(div,data,tabid){
		//以表格顯示資訊

		//tabframe
		div.html($('#tmp_booklist_tabframe').html());

		//tmpl
		$('#tmp_booklist_row').tmpl(data).appendTo(div.find('tbody'));

		//set tabid
		div.find('table').attr('id',tabid);

		//table style
		grid2bstable(tabid);

		//pagin
		pagin(tabid);

	}


</script>	


<h3>平台書庫</h3>


<ul class="nav nav-tabs">
	<li class="active"><a href="#repository_books_tab_書籍推薦" name="repository_books_tab_grp" data-toggle="tab" aria-expanded="true" onclick="pagetab_subtabfix(this);">書籍推薦</a></li>
	<li><a href="#repository_books_tab_索引" name="repository_books_tab_grp" data-toggle="tab" aria-expanded="false" onclick="pagetab_subtabfix(this);">索引</a></li>
	<li><a href="#repository_books_tab_查詢" name="repository_books_tab_grp" data-toggle="tab" aria-expanded="false" onclick="pagetab_subtabfix(this);">查詢</a></li>
</ul>


<div class="tab-content" style="padding:20px 0px;">

	<div id="repository_books_tab_書籍推薦" class="tab-pane active">
		<div class="textfornvda">書籍推薦</div>

		<div id="repository_books_div_書籍推薦"></div>

	</div>

	<div id="repository_books_tab_索引" class="tab-pane">
		<div class="textfornvda">索引</div>

		<div id="repository_books_div_索引"></div>

	</div>

	<div id="repository_books_tab_查詢" class="tab-pane">
		<div class="textfornvda">查詢</div>

		<div class="form-inline" style="margin-bottom:20px;">
			<div class="form-group">
				<label for="inp_ISBN" style="margin-right:15px;">
					<input id="inp_ISBN" type="radio" name="search_type" value="ISBN" checked="true">
					ISBN
				</label>
			</div>
			<div class="form-group">
				<label for="inp_bookname" style="margin-right:15px;">
					<input id="inp_bookname" type="radio" name="search_type" value="bookname">
					書名
				</label>
			</div>
			<div class="form-group">
				<input id="search_value" class="form-control" type="text" placeholder="輸入欲查詢資訊" maxlength="15">
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" onclick="search();">搜尋</button>
			</div>
		</div>

		<div id="repository_books_div_查詢"></div>

	</div>

</div>


{% endblock %}


