{% load staticfiles %}
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_ISBN"><font style="color:red">*</font>ISBN:</label>
		<div class="col-sm-3">
		  <input type="text" class="form-control" id="id_ISBN" name="ISBN"  placeholder="請輸入正確的ISBN(10碼或13碼）" pattern="(ISBN[-]*(1[03])*[ ]*(: ){0,1})*(([0-9Xx][- ]*){13}|([0-9Xx][- ]*){10})" autofocus required>
		</div>
	   <input type="button" class="btn btn-default" value="取得書籍資訊" id="get_isbn">
		 <img src="{% static 'ebookSystem/img/load.gif' %}" style="display: none;" width="30px" height="30px" id="id_get_isbn_load_icon" />
		<!-- <input type="button" class="btn btn-default" style="display: none;" value="是否人工輸入？" id="show_prop">-->
	</div> 
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_bookname"><font style="color:red">*</font>書名：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control" autofocus id="id_bookname" name="bookname" readonly="true" required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_author"><font style="color:red">*</font>作者：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control" id="id_author" name="author" readonly="true" required>
		</div>
	</div>  
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_house"><font style="color:red">*</font>出版社：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control" id="id_house" name="house" readonly="true" required>
		</div>
	</div>  
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_date"><font style="color:red">*</font>出版日：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control datepicker" id="id_date" name="date" placeholder="YYYY-mm-dd" required readonly="true">
		</div>
	</div> 
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_bookbinding"><font style="color:red">*</font>裝訂冊數：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control" id="id_bookbinding" name="bookbinding" readonly="true" required>
		</div>
	</div>  
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_chinese_book_category"><font style="color:red">*</font>中文圖書分類：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control" id="id_chinese_book_category" name="chinese_book_category" readonly="true" required>
		</div>
	</div>  
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_order"><font style="color:red">*</font>版次：</label>
		<div class="col-sm-3">
		  <input type="text" grp="changemode" class="form-control" id="id_order" name="order" readonly="true" required>
		</div>
	</div>  