{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
借閱書櫃
{% endblock %}
{% block header %}
借閱書櫃
{% endblock %}
{% block content %}
{% csrf_token %}


<script>

	$(function(){

		//tabid
		let tabid;

		//table style, pagin
		tabid='saelf_books_table_正借閱書籍';
		grid2bstable(tabid);
		pagin(tabid);

		//table style, pagin
		tabid='saelf_books_table_借閱歷史紀錄';
		grid2bstable(tabid);
		pagin(tabid);

	})


</script>


<h3>借閱書櫃</h3>


<ul class="nav nav-tabs">
	<li class="active"><a href="#saelf_books_tab_正借閱書籍" name="saelf_books_tab_grp" data-toggle="tab" aria-expanded="true" onclick="pagetab_subtabfix(this);">正借閱書籍</a></li>
	<li><a href="#saelf_books_tab_借閱歷史紀錄" name="saelf_books_tab_grp" data-toggle="tab" aria-expanded="false" onclick="pagetab_subtabfix(this);">借閱歷史紀錄</a></li>
</ul>


<div class="tab-content" style="padding:20px 0px;">

	<div id="saelf_books_tab_正借閱書籍" class="tab-pane active">

		<table class="no-page" id="saelf_books_table_正借閱書籍">
			<thead>
				<tr>
					<th>書名</th>
					<th>借出日期</th>
					<th>到期日期</th>
					<th>動作</th>
				</tr>
			</thead>
			<tbody>
				{% for lr in lr_out_list %}
				<tr>
					<td>{{ lr.book }}</td>
					<td>{{ lr.check_out_time }}</td>
					<td>{{ lr.check_in_time }}</td>
					<td>
						<a class="btn btn-default" role="button" href="{%url 'ebookSystem:library_view' %}?ISBN={{ lr.id }}" target="_blank" title="閱讀(另開新視窗)">閱讀</a>
						<button type="button" class="btn btn-default" ISBN={{ lr.book.ISBN }} onclick="receivebook(this, false, 'download')">下載</button>
						<button type="button" class="btn btn-default" id="{{ lr.id }}" onclick="aj_borrowbook(this, 'check_in')">歸還</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<div id="saelf_books_tab_借閱歷史紀錄" class="tab-pane">

		<table class="no-page" id="saelf_books_table_借閱歷史紀錄">
			<thead>
				<tr>
					<th>書名</th>
					<th>借出日期</th>
					<th>歸還日期</th>
				</tr>
			</thead>
			</body>
				{% for lr in lr_in_list %}
				<tr>
					<td>{{ lr.book }}</td>
					<td>{{ lr.check_out_time }}</td>
					<td>{{ lr.check_in_time }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

</div>


{% endblock %}