{% extends "base_nav.html" %}
{% block title %}
{{ book.bookname }}資訊
{% endblock %}
{% block header %}
<!--<h1>{{ book.bookname }}資訊 -->
{% endblock %}
{% block content %}

<legend><h3>{{ book.bookname }}資訊</h3></legend>
<ul>
	<li>書名：{{ book.bookname }}</li>
	<li>作者：{{ book.author }}</li>
	<li>出版社：{{ book.house }}</li>
	<li>ISBN：{{ book.ISBN }}</li>
</ul>

<form action="" method="post">
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>狀態</th>
			<th>校對頁數</th>
			<th>時數</th>
			<th>預計完成日期</th>
			<th>動作</th>
		</tr>
		{% for part in book.ebook_set.all %}
		<tr>
			<td>{{part.book.bookname}}-part{{part.part}}</td>
			<td>{{part.status}}</td>
			<td>{{part.edited_page}}</td>
			<td>{{part.service_hours}}</td>
			<td>{{part.deadline}}</td>
			<td>
				{% ifequal part.status FINISH %}
				<button type="submit" class="btn btn-default" id="emailPart_id" name="emailPart" value={{part.book.ISBN}}-{{part.part}}>傳送email</button>
				{% endifequal %}
			</td>
		</tr>
		{% endfor %}
	</table>
</form>
{% endblock %}