{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
MathML 編輯 demo
{% endblock %}
{% block content %}
{% csrf_token %}

<script>

	$(document).ready(function(){

		//d
		let d=[
			{
				'kind':'normal',
				'data': '<p>WIRIS EDITOR es un editor visual (WYSIWYG) :</p>',
			},
			{
				'kind':'mathml',
				'data': '<math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac bevelled="true"><mrow><mi>a</mi><mi>a</mi></mrow><mrow><mi>L</mi><mi>a</mi><mi>T</mi><mi>e</mi><mi>X</mi></mrow></mfrac></math>',
			},
			{
				'kind':'normal',
				'data': '<p>It\'s been an exciting year! Last May, we expanded Firebase into our unified app platform, building on the original backend-as-a-service and adding products to help developers grow their user base, as well as test and monetize their apps. Hearing from developers like Wattpad, who built an app using Firebase in only 3 weeks, makes all the hard work worthwhile.</p>',
			},
			{
				'kind':'normal',
				'data': '<p>Other:</p>',
			},
			{
				'kind':'mathml',
				'data': '<math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac><msqrt><msup><mi>a</mi><mn>2</mn></msup><mo>+</mo><msup><mi>b</mi><mrow><mn>0</mn><mo>.</mo><mn>5</mn></mrow></msup><mo>-</mo><mn>4</mn><mi>a</mi><mi>c</mi></msqrt><mrow><mn>2</mn><mi>n</mi></mrow></mfrac></math>',
			},
		];
		editor_forele_setdata($('#test'),d);

	});


	function editor_forele_setdata(me,data){
		//元素給予資料
		me=$(me);
		me.attr('data-editor',o2b(data));
	}


	function editor_forele_getdata(me){
		//元素讀取資料
		me=$(me);
		let h=me.attr('data-editor');
		return b2o(h);
	}


	function editor_forele_show(me){
		//元素顯示編修內含資料
		let d_in=editor_forele_getdata(me);
		editor_show(d_in)
		.done(function(d_out){
			editor_forele_setdata(me,d_out);
		})
	}


</script>


<button id="test" onclick="editor_forele_show(this)">測試按鈕</button>


{% endblock %}

