{% extends "base_nav.html" %} 
{% block title %} 
編輯{{ part }} 
{% endblock %} 
{% block content %}
<script language="javascript" src="/static/ebookSystem/js/edit.js?180510"></script>
<script type="text/javascript"> 
	Vue.options.delimiters = ['{|{', '}|}'];
	let vo_ebook_image;

	window.history.forward("/account/profile/");

	$(function () {
		//因現html5規範無法使用onbeforeunload複寫訊息，故改隱藏nav
		$('nav[role="navigation"]').hide();
		//$('div.container').css('margin-top', '-20px');

		let url = window.location.pathname

		let pk = url.split('/')
		pk = pk[pk.length-2]

		let opt={
			el: '#id_ebook_image',
			data: {
				edited_page: '',
				image: {},
			},
			computed: {
				image_url: function(){
					return '/ebookSystem/api/ebooks/' +pk +'/resource/source/' +this.edited_page +'/'
				},
			},
			methods: {
				adjZoom :function(value){
					if (parseInt(imgSize.value) + parseInt(value) > 0) {
						imgSize.value = (parseInt(imgSize.value) + parseInt(value)).toString() + '%';
						$('#scanPage').css('width', imgSize.value);
					}
				},
				changePage: function(value){
					page = parseInt(this.edited_page) +value
					if(page>=0 && page<50) {
						this.edited_page = page
					}
					else {
						alertmessage('error', '超過頁數範圍惹~')
					}
				},
			},
		}

		vo_ebook_image = new Vue(opt);

		rest_aj_send('get', '/ebookSystem/api/ebooks/' +pk +'/', {})
		.done(function(data) {
			vo_ebook_image.image = data['data'].scan_image
			vo_ebook_image.old_edited_page = data['data'].edited_page
			vo_ebook_image.edited_page = data['data'].edited_page
		})

	})

</script>

<form action="" method="post" id="currentForm" role="form">
	{% csrf_token %}

	<div class="row">
		<div id="id_ebook_image" class="col-md-6">
			<nav>
				<ul class="pager" style="margin:0px 0px 10px 0px;">
					<li class="previous">
						<a @click="changePage(-1)" id="prePage" href="#">
							<span aria-hidden="true">&larr;</span> Older
						</a>
					</li>
					<li>
						<div class="col-xs-5 centered">
							<select class="form-control" v-model="edited_page">
								<template v-for="(value, key) in image">
									<option 
										v-if="old_edited_page==key"
										:value="key"
									>
										{|{ value }|}-上次校對頁數
									</option>
									<option 
										v-else
										:value="key"
									>
										{|{ value }|}
									</option>
								</template>

							</select>
						</div>
					</li>
					<li class="next">
						<a @click="changePage(1)" id="nextPage" href="#">Newer
							<span aria-hidden="true">&rarr;</span>
						</a>
					</li>
				</ul>
			</nav>
			<div style="height:425px; overflow-y:auto;">
				<img :src="image_url" alt="文件掃描原檔" id="scanPage" name="scanPage" width="100%">
			</div>
			<div id="sizeControl">
				<div class="col-md-4 pull-left">
					<label for="id_page">頁數:</label>
					<input id="id_page" name="page" type="text" size="4" readonly="true" v-bind:value="edited_page">
				</div>
				<div class="input-group col-md-3 pull-right">
					<span class="input-group-btn">
						<button @click="adjZoom(-10)" id="zoomIN" class="btn btn-default btn-sm" type="button">-</button>
					</span>
					<input type="text" id="imgSize" class="form-control input-sm" size="2" value="100%" readonly="true">
					<span class="input-group-btn">
						<button @click="adjZoom(10)" id="zoomOUT" class="btn btn-default btn-sm" type="button">+</button>
					</span>
				</div>
			</div>
		</div>
		<div id="id_ebook_editor" class="col-md-6">

			<textarea id="id_finish" name="finish" style="display: none">{{ part.current_editrecord.finish }}</textarea>
			<textarea autocomplete="off" id="id_edit" name="edit" style="height:400px;">{{ part.current_editrecord.edit }}</textarea>

			<input type="hidden" name="postToken" id="postToken" value="{{postToken}}" />
		</div>
	</div>

</form>

{% endblock %} 
{% block footer %} 
{% endblock %}