{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
MathML 編輯 demo
{% endblock %}
{% block style %}
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    <script src="{% static "ebookSystem/js/jquery/jquery.min.js" %}" ></script>
    <script language="javascript" src="{% static 'ebookSystem/js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
	<script src="{% static "ebookSystem/js/editor_app.js" %}"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
	<div>
		<ul class="nav nav-tabs" role="tablist">
	   		<li role="presentation" class="active"><a href="#normalEditorTab" aria-controls="normal" role="tab" data-toggle="tab">normal</a></li>
			<li role="presentation"><a href="#mathEditorTab" aria-controls="math" role="tab" data-toggle="tab">math</a></li>
		</ul>
		<div class="tab-content">
		   	<div role="tabpanel" class="tab-pane active" id="normalEditorTab">
				<textarea style="height:200px" id="normalEditor"></textarea>
			</div>
			<div role="tabpanel" class="tab-pane" id="mathEditorTab">
				<div style="height:300px" id="mathEditor"></div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary" id="button_to_panel">Preview</button>
	<div class="panel panel-info">
		<div class="panel-heading">預覽</div>
		<div class="panel-body" id="previewPanel"></div>
	</div>
{% endblock %}
