{% extends "base_nav.html" %}
{% load staticfiles %}

{% block title %}
進階編輯{{ part }}
{% endblock %}

{% block style %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script language="javascript" src="{% static 'ebookSystem/js/bootstrap/tinymce.min.js' %}"></script>
<script language="javascript">
	$(document).ready(function() {
	$("#id_save").click(function(event)
	{	
		if($('#id_alt').val().length==0)
		{
	    	//event.preventDefault(); // cancel default behavior
	    	$('#id_alt').each(function() {
            	this.setCustomValidity("請填寫此欄位");
        	});
		}
	});
	$("#id_write").click(function(event)
	{	
		if($('#id_alt').val().length==0)
		{
	    	//event.preventDefault(); // cancel default behavior
	    	$('#id_alt').each(function() {
            	this.setCustomValidity("請填寫此欄位");
        	});
		}
	});
	$("#id_download").click(function(event)
	{	
    	$('#id_alt').each(function() {
        	this.setCustomValidity("");
    	});
	});
});
</script>
{% endblock %}

{% block header %}
{{ book.book_info.bookname }}-part{{part.part}}
{% endblock %}
{% block content %}
<form action="" method="post" id="currentForm" role="form" enctype="multipart/form-data">
	{% csrf_token %}
	{% include 'utils/upload_dialog.html' %}
	{% include 'utils/dialog.html' %}
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
		    <div class="panel panel-default">
				    <div class="panel-heading">
				    	<h3 class="panel-title">請輸入圖片相關訊息並上傳</h3>
				    </div>
				    <div class="panel-body">
				        <div class="form-group">
				            <label for="id_alt">
				                <font style="color:red">*</font>圖片說明文字：</label>
				            <input id="id_alt" name="alt" value="{{ editContent }}" type="text">
				            <label for="id_alt">
				                <font style="color:red">請描述圖片之重要資訊</font>
				            </label>
				        </div>
				        <div class="form-group row">
				            <input class="col-xs-4" id="id_imageFile" name="imageFile" type="file" />
				            <!--<button type="submit" class="btn btn-primary btn-xs" name="upload" value="" id="id_upload">上傳</button> -->
				        </div>
				        <hr />
		                <div class="form-group row">
		                    <div class="col-sm-offset-4 col-sm-4">
		                    	<button type="submit" class="btn btn-default send_no_all_form" name="download" value="{{scanPageList.0}}" id="id_download">下載</button>
								<button type="submit" class="btn btn-default" name="save" value="" id="id_save">暫存</button>
								<button type="submit" class="btn btn-default" name="write" value="" id="id_write">寫入</button>
								
		                    </div>
		                </div>
				        
			    	</div>
		    </div>
	    </div>
	</div>	
	<img src="{% static preview_image_url %}" alt="{{ editContent }}" name="preview_image" class="img-responsive img-thumbnail center-pills" id="id_preview_image " width="500" height="500" />
</form>
{% endblock %}
{% block footer %}
{% endblock %}