{% extends "base_nav.html" %}
{% load staticfiles %}

{% block title %}
編輯{{ book.bookname }}-part{{part.part}}
{% endblock %}
{% block style %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script language="javascript" src="{% static 'ebookSystem/js/edit.js' %}"></script>
<link href="{% static "ebookSystem/css/custom.css" %}" rel="stylesheet" > 
{% endblock %}

{% block header %}
{{ book.bookname }}-part{{part.part}}
{% endblock %}
{% block content %}
<div class="row">

		{% if message %}
			<div id="infoForm" class="alert alert-info" role="alert">
				{{ message }}
			</div>
		{% endif %}
	 

		<form action="" method="post" id="currentForm">
			{% csrf_token %}
			<div id="buttonGroup">
				<button class="btn btn-lg btn-default" type="submit" id="save_id" name="save">save</button>
				<button class="btn btn-lg btn-default" type="submit" id="finish_id" name="finish">finish</button>
				<button class="btn btn-lg btn-default" type="submit" id="close_id" name="close">close</button>
				<button class="btn btn-lg btn-default" type="button" id="chagePost" >chage</button>  
			</div>
			<hr>

			<div id="imagePage" class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<input type="button" id="prePage" name="prePage" value="上一頁" onclick="changePage(-1)">
						<select  name="scanPageList" id="scanPageList" onchange="changePageSelect()">
							{% for scanPage in scanPageList %}
								{% ifequal scanPage defaultPage %}
									<option value="{{ scanPage }}" selected>{{ scanPage }}-上次校對頁數</option>
								{% else %}
									<option value="{{ scanPage }}">{{ scanPage }}</option>
								{% endifequal %}
							{% endfor %}
						</select>
						<input type="button" id="nextPage" name="nextPage" value="下一頁" onclick="changePage(1)">
					</div>
				</div>
				<div class="scrollbarDiv">
				   <img src="{% static defaultPageURL %}" alt="文件掃描原檔" id="scanPage" name="scanPage" width="100%" >
				</div>
				<div class="col-md-4" style="float:left;">
						<label for="id_page">頁數:</label>		
						<input id="id_page" name="page" type="text" size="4" readonly="true"  value="{{ editForm.page.value }}">
				</div>
				<div class="input-group col-md-3" style="float:right;">
					<span class="input-group-btn">
				        <button id="zoomIN" class="btn btn-default btn-sm" type="button">-</button>
				    </span>
				     
				    <input type="text" id="imgSize" class="form-control input-sm" size="2" value="100%" readonly="true">
						<span class="input-group-btn">
				    	<button id="zoomOUT" class="btn btn-default btn-sm" type="button">+</button>
				    </span>
			    </div><!-- /input-group -->
				
			</div>
			
			<div id="textPage"class="col-md-6">
				
				{% if editForm.content.errors or editForm.page.errors %}
					<div id="alertForm" class="alert alert-danger" role="alert">
						{{ editForm.content.errors }}
						{{ editForm.page.errors }}
					</div>
				{% else %}
					<textarea id="id_content" name="content" rows="42">{{ editForm.content.value }}</textarea>
				{% endif %}
				
				<br />
				
				
			</div>
		</form>
	

</div>
{% endblock %}