{% extends "base_nav.html" %}
{% block title %}
編輯readme
{% endblock %}
{% block header %}
編輯readme
{% endblock %}

{% block content %}

<h3>系統介面說明：</h3>
<ul>
<li>skip mark：遇到無法以文字呈現之內容時使用，系統會自動於當前編輯游標處插入特殊符號。</li>
<li>mark：標記校對進度，系統會自動於當前編輯游標處插入特殊符號，特殊符號以上之內容會被視為已校對過之文字內容，按下save後，會儲存並不再顯示於編輯框中。</li>
<li>save：將文字回傳並儲存，特殊符號以上之內容會被視為已校對過之文字內容，按下save後，會儲存並不再顯示於編輯框中。save按紐表示尚有未完成之校對文字內容，編輯框中需有特殊符號才能儲存。</li>
<li>finish：將文字回傳並儲存。finish按紐表示全數文字內容皆校對輸入完成，編輯框中不應有特殊符號。</li>
<li>close：回到服務頁面不會進行文字儲存。</li>
<li>Orientation：版面配置選擇，分為上下顯示與左右顯示兩種供使用者選擇。</li>
<li>特殊符號：'|----------|'</li>
</ul>

<h3>校對文件規範</h3>
<h4>排版</h4>
<ul>
<li>不需與原書相同，以段落為基準，每段即為一行，每行前空二格。對話亦每句一行。</li>
</ul>
<h4>符號：</h4>
<ul>
<li>英文、阿拉伯數字以半形字元輸入，例如：'1'、'2'、'3'…。</li>
<li>標點符號中文句子以全形字元輸入，例如：'。'、'「'、'」'…。英文句子以半形字元輸入，例如：'.'、','…。</li>
</ul>
<h4>無法以文字呈現之內容：</h4>
<ul>
<li>當遇到表格、數學公式、流程圖等等無法以文字呈現之內容，請按下'skip mark'按紐，系統會自動於當前編輯游標處插入特殊符號，以利後續處理。</li>
</ul>

{% endblock %}