{% extends "base_nav.html" %}
{% load staticfiles %}


{% block style %}
    <script src="{% static "ebookSystem/js/jquery/jquery.min.js" %}" ></script>
    <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    <script>
    $(document).ready(function() {
      $("#setValue .close").on("click", function(){
        $('#setValue').hide();
      });
      $("#getData .close").on("click", function(){
        $('#getData').hide();
      });
    });
    var editor;
    window.onload = function () {
      editor = com.wiris.jsEditor.JsEditor.newInstance({'language': 'zh'});
      editor.insertInto(document.getElementById('editorContainer'));
    }
    function doSet() {
      editor.setMathML("<math><mrow><mi>x</mi><mo>=</mo><mfrac><mrow><mo form=\"prefix\">−</mo><mi>b</mi><mo>&PlusMinus;</mo><msqrt><msup><mi>b</mi><mn>2</mn></msup><mo>−</mo><mn>4</mn><mo>&InvisibleTimes;</mo><mi>a</mi><mo>&InvisibleTimes;</mo><mi>c</mi></msqrt></mrow><mrow><mn>2</mn><mo>&InvisibleTimes;</mo><mi>a</mi></mrow></mfrac></mrow></math>");
    }
    function doGet() {
      console.log(editor.getMathML());
      $('#setValue #message').html(editor.getMathML());
      $('#setValue').css('visibility','visible').fadeIn();
    }
    function submitMathml()
    {
      $('form').append($("<input>").attr("type", "hidden").attr("name", "set").val("set"));   
      $('form').append($("<input>").attr("type", "hidden").attr("name", "content").val(editor.getMathML()));
      $.ajax({
        url:"/ebookSystem/mathml/",
        type: "POST",
        data: $("form").serialize(),
        success: function(json){
            alertDialogNoReload(json);

        },
        error:function(xhr,errmsg,err){
            alert(xhr.status+" "+xhr.responseText);
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    }
    function sync()
    {
      $('form').append($("<input>").attr("type", "hidden").attr("name", "get").val("get"));   
      $.ajax({
        url:"/ebookSystem/mathml",
        type: "POST",
        data: $("form").serialize(),
        success: function(json){
            alertDialogNoReload(json);
            console.log(json.math_content);
            $('#getData #message').html(json.math_content);
            $('#getData').css('visibility','visible').fadeIn();
        },
        error:function(xhr,errmsg,err){
            alert(xhr.status+" "+xhr.responseText);
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    }
    </script>

    <style>
      .hide-me{
          display: none;    
        }

    </style>
{% endblock %}
{% block content %}
<form>
    {% csrf_token %}
    <div id="editorContainer" style="width:100%;height:300px"></div>
    <a href="#" class="btn btn-default" onclick="doSet()">default</a>
    <a href="#" class="btn btn-default" onclick="doGet()">preview</a>
    <a href="#" class="btn btn-default" onclick="submitMathml()">send</a>
    <a href="#" class="btn btn-default" onclick="sync()">synchronize</a>
    <hr />
    <div id="setValue" class="alert alert-success hide-me">
        <a href="#" class="close" aria-label="close">&times;</a>
        <p>
            <string>方程式預覽如下：</string>
        </p>
        <span id="message"></span>
    </div>
    <hr />
    <div id="getData" class="alert alert-info hide-me">
        <a href="#" class="close" aria-label="close">&times;</a>
        <p>
            <string>取得方程式如下：</string>
        </p>
        <span id="message"></span>
    </div>
</form>

{% endblock %}

{% block footer %}
{% endblock %}