{% extends "base_nav.html" %}
{% load staticfiles %}


{% block style %}
    <script src="{% static "ebookSystem/js/jquery/jquery.min.js" %}" ></script>
    <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    <script>
    var editor;
    window.onload = function () {
      editor = com.wiris.jsEditor.JsEditor.newInstance({'language': 'zh'});
      editor.insertInto(document.getElementById('editorContainer'));
    }
    function doSet() {
      editor.setMathML("<math><mrow><mi>x</mi><mo>=</mo><mfrac><mrow><mo form=\"prefix\">−</mo><mi>b</mi><mo>&PlusMinus;</mo><msqrt><msup><mi>b</mi><mn>2</mn></msup><mo>−</mo><mn>4</mn><mo>&InvisibleTimes;</mo><mi>a</mi><mo>&InvisibleTimes;</mo><mi>c</mi></msqrt></mrow><mrow><mn>2</mn><mo>&InvisibleTimes;</mo><mi>a</mi></mrow></mfrac></mrow></math>");
    }
    function doGet() {
      console.log(editor.getMathML());
      document.getElementById("setVale").innerHTML=editor.getMathML();
    }
    function submitMathml()
    {
      $('form').append($("<input>").attr("type", "hidden").attr("name", "set").val("set"));   
      $('form').append($("<input>").attr("type", "hidden").attr("name", "content").val(editor.getMathML()));
      $.ajax({
        url:"/ebookSystem/mathml/",
        type: "POST",
        data: $("form").serialize(),
        success: function(json){
            alertDialogNoReload(json);
            
        },
        error:function(xhr,errmsg,err){
            alert(xhr.status+" "+xhr.responseText);
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    }
    function sync()
    {
      $('form').append($("<input>").attr("type", "hidden").attr("name", "get").val("get"));   
      $.ajax({
        url:"/ebookSystem/mathml",
        type: "POST",
        data: $("form").serialize(),
        success: function(json){
            console.log(json);
            alert(json);
        },
        error:function(xhr,errmsg,err){
            alert(xhr.status+" "+xhr.responseText);
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    }
    </script>
{% endblock %}
{% block content %}
   <form>
   {% csrf_token %}
    <div id="editorContainer"></div>
    <a href="#" onclick="doSet()">default</a>
    <a href="#" onclick="doGet()">preview</a>
    <a href="#" onclick="submitMathml()">send</a>
    <a href="#" onclick="sync()">synchronize</a>
   
    <div id='setVale'></div>
    </form>
{% endblock %}