{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
訊息傳送
{% endblock %}
{% block style %}
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script language="javascript" src="{% static 'ebookSystem/js/frontendsystem.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'utils/dialog.html' %}
{% csrf_token %}


<script>

	function message_send(){
		let action=$('input[name="grp_user"]:checked').val();
		let subject=$('#inp_subject').val();
		let body=$('#ta_body').val();

		//url
		let url='/ebookSystem/message_send';

		//transferData
		let transferData={
			'action':action,
			'subject':subject,
			'body':body,
		};

		//aj_post
		aj_post(url, transferData)
		.done(function(data){
			//console.log(data)

			if(data['message']==='訊息傳送成功'){
				alertok(data['message']);
			}
			else{
				alerterr(data['message']);
			}

		})
		.fail(function(xhr){
			//console.log(xhr)

			alerterr(xhr.status+": "+xhr.responseText);
		})

	}

</script>


<h3>訊息傳送</h3>


<div class="form-horizontal">

	<div class="form-group">
		<label class="control-label col-sm-1">對象</label>
		<div class="col-sm-11">
			<label class="radio-inline">
				<input type="radio" name="grp_user" value="editor_send" checked>志工
			</label>
			<label class="radio-inline">
				<input type="radio" name="grp_user" value="guest_send">視障者
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-1">主旨</label>
		<div class="col-sm-11">
			<input id="inp_subject" type="text" class="form-control" placeholder="">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-1">內容</label>
		<div class="col-sm-11">
			<textarea id="ta_body" class="form-control" rows="10"></textarea>
		</div>
	</div>

    <div class="form-group">        
      <div class="col-sm-offset-1 col-sm-11">
        <button id="btn_send" type="button" class="btn btn-default" onclick="message_send()">傳送</button>
      </div>
	</div>
	
</div>


{% endblock %}