{% extends "base_nav.html" %} {% load staticfiles %} {% block content %} {% csrf_token %}


<script>

	$(function () {

		//isbn
		let isbn = '{{ book.ISBN }}';

		//books
		let client = new $.RestClient('/ebookSystem/api/');
		client.add('books');

		//read
		client.books.read(isbn)
			.done(function (data) {

				//book_info
				let book_info_key = data.book_info;
				let book_info_head = aj_booklist_dict_array([book_info_key], true)[0];

				//heads
				let heads = ['書名', '作者', '出版社', '出版日期', 'ISBN'];

				//bookname
				$('#div_rwdoc_name').html(data.book_info.bookname);

				//step1
				let c1 = _.map(heads, function (h) {
					return '<div style="margin-bottom:5px;"><div style="display:inline-block; width:60px; font-weight:bold;">' + h + '</div>：' + book_info_head[h] + '</div>';
				})
				$('#step1_items').html(c1);

				//ebook_set
				let ebook_set = data.ebook_set;

				//step2
				let c2 = _.map(ebook_set, function (h, k) {
					let pn = 'Part' + (k + 1);
					return '<button class="btn btn-default" type="button" style="margin:0px 5px 5px 0px;" onclick="ScanBookEditor(\'掃描內容瀏覽\',\'' + h + '\')">' + pn + '</button>';
				})
				$('#step2_items').html(c2);

			});

	})

	function SendReviewResult() {
		//發送審查結果

		//url
		let url = '.';

		//transferData
		let review = $('input[name="review_grp"]:checked').attr('tag');
		let reason = $('#id_review_error_reason').val();
		let transferData = {
			review: review,
			reason: reason,
		};

		//aj_post
		aj_post(url, transferData)
			.done(function (data) {
				alertmessage(data.status, data.message)
					.done(function () {

						//回上一頁
						//history.back(); //會因為使用者點擊a相關連結，上一頁非審核上傳文件頁

						//轉址審核上傳文件頁
						document.location.href = '/manager/event_list/book/';

					});
			})
			.fail(function (data) {
				alertmessage(data.status, data.message);
			})

	}

</script>


<h3 style="margin:40px 0px 30px 0px;">待審核文件：
	<span id="div_rwdoc_name"></span>
</h3>


<h4>
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span> Step1: 基本資料</h4>
<hr style="margin-top:5px;">
<div id="step1_items" style="margin-bottom:40px;"></div>


<h4>
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span> Step2: 掃描內容</h4>
<hr style="margin-top:5px;">
<div id="step2_items" style="margin-bottom:40px;"></div>


<h4>
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span> Step3: 審查結果</h4>
<hr style="margin-top:5px;">
<div id="step3_items" style="margin-bottom:40px;">

	<div class="form-inline">
		<label for="id_review_success" style="margin-right:15px;">
			<input id="id_review_success" type="radio" name="review_grp" tag="success" checked> 通過
		</label>
	</div>

	<div class="form-inline">
		<label for="id_review_error" style="margin-right:15px;">
			<input id="id_review_error" type="radio" name="review_grp" tag="error"> 退件
			<input id="id_review_error_reason" class="form-control" type="text" placeholder="輸入退件原因" maxlength="30" name="reason">
		</label>
	</div>

	<button type="button" class="btn btn-primary send_form" style="margin-top:10px;" onclick="SendReviewResult()">送出</button>

</div>


{% endblock %}