{% extends "ebookSystem/review.html" %}
{% load staticfiles %}
{% block title %}
{{ part.book.book_info.bookname }}{{ part.part }}審核
{% endblock %}
{% block header %}
{{ part.book.book_info.bookname }}{{ part.part }}審核
{% endblock %}



{% block review_title %}{{ part.book.book_info.bookname }}{{ part.part }}審核{% endblock %}

{% block review_step1_title %}Step1:基本資料{% endblock %}
{% block review_step2_title %}Step2:校對內容{% endblock %}
{% block review_step3_title %}Step3:審查結果{% endblock %}

{% block review_step1 %}
<ul>
    <li>書名：{{ part.book.book_info.bookname }}</li>
    <li>段數：{{ part.part }}</li>
    <li>編輯者：{{ part.editor }}</li>
    <li>時數：{{ part.service_hours }}</li>
    <li>領取日期：{{ part.get_date }}</li>
    <li>完成日期：{{ part.finish_date }}</li>
    <li>編輯次數：{{ edit_distance }}</li>
</ul>
{% endblock %}

{% block review_step2 %}
<div id="includedContent"></div>
<input type="hidden"  id="url" value="{% static html_url %}">
{% endblock %}
