{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block style %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script language="javascript" src="{% static 'ebookSystem/js/review.js' %}"></script>
<script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
<link href="{% static "ebookSystem/css/review.css" %}" rel="stylesheet" > 
{% endblock %}
{% block content %}

<legend><h3>{% block review_title %}{% endblock %}</h3></legend>
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" id="id_page" name="page" value="0" />
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked nav-stacked">
                <li class="active"><a data-toggle="pill" href="#step1">Step1:基本資料</a></li>
                <li><a data-toggle="pill" href="#step2">Step2:掃描內容</a></li>
                <li><a data-toggle="pill" href="#step3">Step3:審查結果</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <div id="step1" class="tab-pane fade in active">
                    {% block review_step1 %}{% endblock %}
                    <div class="form-group row">
                        <div class="col-sm-offset-9 col-sm-3">
                            <button class="btn btn-primary" type="button" id="step1_next_id" >Go next</button>
                        </div>
                    </div>
                </div>
                <div id="step2" class="tab-pane fade">
                    {% block review_step2 %}{% endblock %}
                    <div class="form-group row">
                        <div class="col-sm-offset-9 col-sm-3">
                            <button class="btn btn-primary" type="button" id="step2_next_id">Go next</button>
                        </div>
                    </div>
                </div>
				<div id="step3" class="tab-pane fade">
				    <div class="form-group">
				        <label class="radio">
				            <input type="radio" name="review" id="id_review" checked="true" value="success">通過</input>
				        </label>
				        <label class="radio">
				            <input type="radio" name="review" id="id_review" value="error">退件</input>
				            <input id="id_reason" maxlength="30" name="reason" type="text">
				            <!--勾退件顯示-->
				        </label>
				    </div>
				    <button class="btn btn-primary send_form" type="submit" id="send_id" name="send">送出</button>
				</div>

            </div>
        </div>
    </div>
</form>

{% endblock %}