{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
代掃上傳作業
{% endblock %}
{% block style %}
 <script language="javascript">
$(document).ready(function() {
	$('#Dialog').modal('show');
});
 </script>
{% endblock %}
{% block header %}
代掃上傳作業
{% endblock %}
{% block content %}

<form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
{% csrf_token %}
	{% ifequal status 'success' %}
		<div class="modal fade in" id="Dialog" role="dialog">
		    <div class="modal-dialog modal-sm">
		        <div class="modal-content alert-success">
		            <div class="modal-header alert-success" role="alert">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <strong>{{ status }}</strong>
		                <div class="alertMessage">{{ message }}</div>
		            </div>
		        </div>
		    </div>
		</div>
	{% endifequal %}
	{% ifequal status 'error' %}
		<div class="modal fade in" id="Dialog" role="dialog">
		    <div class="modal-dialog modal-sm">
		        <div class="modal-content alert-danger">
		            <div class="modal-header alert-danger" role="alert">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <strong>{{ status }}</strong>
		                <div class="alertMessage">{{ message }}</div>
		            </div>
		        </div>
		    </div>
		</div>
	{% endifequal %}
	<h4 class="page-header">代掃上傳作業</h4>
{{ message }}
	<div class="row">
	    <div class="col-md-12">
	        <table class="table table-striped table-hover">
	            <tr>
	                <th>ISBN</th>
	                <td>{{ action.book_info.ISBN }}</td>
	            </tr>
	            <tr>
	                <th>書名</th>
	                <td>{{ action.book_info.bookname }}</td>
	            </tr>
	            <tr>
	                <th>作者</th>
	                <td>{{ action.book_info.author }}</td>
	            </tr>
	            <tr>
	                <th>出版社</th>
	                <td>{{ action.book_info.house }}</td>
	            </tr>
	            <tr>
	                <th>出版日</th>
	                <td>{{ action.book_info.date }}</td>
	            </tr>
	            <tr>
	                <th>上傳文件</th>
	                <td><input class="form-control-file" id="id_fileObject" name="fileObject" type="file" required /> </td>
	            </tr>
	            <tr>
	                <th>校對</th>
	                <td><input  type="checkbox" name="designate" id="id_designate" value="designate">不公開校對</input></td>
	            </tr>
	        </table>
	    </div>
	</div>
	<div class="form-group row">
		<div class="col-sm-offset-4 col-sm-6">
		    <input type="submit" class="btn btn-primary" value="send" id="send_id">
		    <input type="reset" class="btn btn-danger" value="reset">
		</div>
	</div>
	
</form>
{% endblock %}