{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
更正文件
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/review_ReviseContentAction.js' %}"></script>
{% endblock %}
{% block header %}
更正文件
{% endblock %}
{% block content %}

<form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
{% csrf_token %}
	{% ifequal status 'success' %}
		<div class="modal fade in" id="Dialog" role="dialog">
		    <div class="modal-dialog modal-sm">
		        <div class="modal-content alert-success">
		            <div class="modal-header alert-success" role="alert">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <strong>{{ status }}</strong>
		                <div class="alertMessage">{{ message }}</div>
		            </div>
		        </div>
		    </div>
		</div>
	{% endifequal %}
	{% ifequal status 'error' %}
		<div class="modal fade in" id="Dialog" role="dialog">
		    <div class="modal-dialog modal-sm">
		        <div class="modal-content alert-danger">
		            <div class="modal-header alert-danger" role="alert">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <strong>{{ status }}</strong>
		                <div class="alertMessage">{{ message }}</div>
		            </div>
		        </div>
		    </div>
		</div>
	{% endifequal %}
	<h4 class="page-header">修正文字資訊</h4>
	<div class="row">
	    <div class="col-md-12">
	        <table class="table table-striped table-hover">
	            <tr>
	                <th colspan="1">修正文字</th>
	                <th>動作</th>
	            </tr>
	            {% for sliceString in result %}
	            <tr>
					<td class="col-md-10">
						{% for s, d in sliceString.content_diff %}
							{% if forloop.counter|divisibleby:"2" %}
								<a href="#" data-toggle="tooltip" data-placement="top" title="{{ s }}">{{ d }}</a>
							{% else %}
								{{ d }}
							{% endif %}
						{% endfor %}
					</td>
	                <td class="col-md-2">
	                    {% ifequal status 'success' %}
	                    <button class="btn btn-md btn-default" type="submit" id="id_revise" name="revise">修正</button>
	                    {% endifequal %}
	                </td>
	            </tr>
	            {% endfor %}
	        </table>
	    </div>
	</div>

</form>
{% endblock %}