{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
查詢文件
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}
{% block header %}
查詢文件
{% endblock %}
{% block content %}

<form action="" method="post"  role="form" enctype="multipart/form-data">
{% csrf_token %}
{% include 'utils/get_book.html' %}
{% include 'utils/dialog.html' %}

<div class="form-inline">
  <div class="form-group">
    <label><input type="radio" name="search_type" value="ISBN" checked="true">ISBN</label>
    <label><input type="radio" name="search_type" value="bookname">書名</label>
    <input id="id_book_ISBN" class="form-control" maxlength="15" name="search_value" type="text">
  </div>
  <button type="submit" class="btn btn-primary" name="search_name" value="search" id="id_search">搜尋</button>
</div>
	<h4 class="page-header">查詢文件資訊</h4>
{% include 'ebookSystem/BookInfo_user.html' %}
</form>
{% endblock %}