{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
查詢文件
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}
{% block header %}
查詢文件
{% endblock %}
{% block content %}

<form action="" method="post"  role="form" enctype="multipart/form-data">
{% csrf_token %}


<div class="form-inline">
  <div class="form-group">
    <label for="id_book_ISBN">請輸入ISBN</label>
    <input id="id_book_ISBN" class="form-control" maxlength="15" name="book_ISBN" type="text">
  </div>
  <input type="submit" class="btn btn-primary" name="search_name" value="search" id="id_search"> 
</div>

	{{ status }}
	{{ message }}
	<h4 class="page-header">查詢文件資訊</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>ISBN</th>
			<th>書名</th>
			<th>作者</th>
			<th>出版社</th>
			<th>出版日期</th>
			<th colspan="2">動作</th>
		</tr>
		<tr>
			<td>{{ search_book.ISBN }}</td>
			<td>{{ search_book.book_info.bookname }}</td>
			<td>{{ search_book.book_info.author }}</td>
			<td>{{ search_book.book_info.house }}</td>
			<td>{{ search_book.book_info.date }}</td>
			<td>
				{% if request.user.is_guest and request.user.has_guest and search_book.status >= 3 %}
				<button type="button" class="btn btn-default" id="email_id" name="email" data-target="#getBookModal" data-toggle="modal" data-whatever="email" data-isbn={{book.ISBN}}  value={{book.ISBN}}>寄到信箱</button>
				{% endif %}
			</td>
			<td>
				{% if request.user.is_guest and request.user.has_guest and search_book.status >= 3 %}
				<button type="button" class="btn btn-default" id="download_id" name="download" data-whatever="download" data-toggle="modal" data-target="#getBookModal" data-isbn={{book.ISBN}} value={{book.ISBN}}>下載</button>
				{% endif %}
			</td>
		</tr>
	</table>
</form>
{% endblock %}