{% extends "base_nav.html" %}
{% block title %}
一般校對
{% endblock %}

{% block content %}
{% csrf_token %}
{% include 'comp/table-div.vue' %}

<div id="service">

	<div id="buttonGroup" style="text-align: center;">
		<button class="btn btn-lg btn-default" type="button" @click="get_ebook()">領文件</button>
		<div style="padding:10px; color:#ff2200; font-size:12pt;">注意：未於期限內完成校對動作將自動歸還文件，將無法計入當月服務時數</div>
	</div>

	<div>
		<h4 class="page-header">正校對文件</h4>
		<table-div :datas="edit_ebook" :header="edit_ebook_header">
			<template slot="action" slot-scope="props">
				<a class="btn btn-default" role="button" :href="'/ebookSystem/edit/' +props.item.ISBN_part +'/'">編輯</a>
				<button class="btn btn-default" @click="reback_ebook(props.item.ISBN_part)">還文件</button>
			</template>
		</table-div>
	</div>

	<div>
		<h4 class="page-header">審核中的文件</h4>
		<table-div :datas="finish_ebook" :header="finish_ebook_header">
			<template slot="action" slot-scope="props">
				<button class="btn btn-default" @click="reedit_ebook(props.item.ISBN_part)">再編輯</button>
			</template>
		</table-div>
	</div>

</div>

<script>

	vo_service = new Vue({
		el: '#service',
		data: {
			edit_ebook_header: {
				'document': '文件',
				'page': '頁數/總頁數',
				'get_date': '領取日期',
				'deadline': '期限',
				'status': '狀態',
				'action': '動作',
			},
			edit_ebook: [],
			finish_ebook_header: {
				'document': '文件',
				'service_hours': '服務時數',
				'get_date': '領取日期',
				'category': '類型',
				'action': '動作',
			},
			finish_ebook: [],
		},
		created: function () {
			this.client = new $.RestClient('/ebookSystem/api/');
			this.client.add('ebooks');
			this.refresh()
		},
		methods: {
			refresh: function () {
				// run ajax get data
				let self = this;
				self.clear()

				self.client.ebooks.read({'editor_id': user.id, 'status': '2'})
				.done(function(data) {

					_.each(data,function(v){

						self.edit_ebook.push({
							'document': v['bookname'] +v['part'],
							'page': v.edited_page+1 +'/50',
							'get_date': v.get_date,
							'deadline': v.deadline,
							'status': v.status,
							'action': v,
						})
					})
				})

				self.client.ebooks.read({'editor_id': user.id, 'status': '3'})
				.done(function(data) {

					_.each(data,function(v){
						self.finish_ebook.push({
							'document': v['bookname'] +v['part'],
							'service_hours': v.service_hours,
							'get_date': v.get_date,
							'category': v.current_editrecord.category,
							'action': v,
						})
					})

				})

			},
			get_ebook: function () {
				let self = this;

				rest_aj_send('post', '/ebookSystem/api/ebooks/action/service/', {})
				.done(function(data) {
					ebook = data['data'].data
					alertmessage('success', '成功取得文件：' +ebook.bookname +ebook.part)
					.done(function () {
					self.refresh()
					})
				})
				.fail(function(data){
					alertmessage('error', data['message'])
				})

			},
			reback_ebook: function (ISBN_part) {
				let self = this

				alertconfirm('還文件後該文件將提供其他校對者領取，且無法獲得校對時數，是否確定還文件?')
				.done(function(){
					rest_aj_send('post', '/ebookSystem/api/ebooks/' +ISBN_part +'/action/change_status/', {'direction': '-1', 'status': 'active'})
					.done(function(data) {
						ebook = data['data'].data
						alertmessage('success', '成功歸還文件：' +ebook.bookname +ebook.part)
						.done(function () {
						self.refresh()
						})
					})
					.fail(function(data){
						alertmessage('error', data['message'])
					})
				})
			},
			reedit_ebook: function (ISBN_part) {
				let self = this

				rest_aj_send('post', '/ebookSystem/api/ebooks/' +ISBN_part +'/action/change_status/', {'direction': '-1', 'status': 'edit'})
				.done(function(data) {
					ebook = data['data'].data
					alertmessage('success', '成功再編輯文件：' +ebook.bookname +ebook.part)
					.done(function () {
					self.refresh()
					})
				})
				.fail(function(data){
					alertmessage('error', data['message'])
				})
			},
			clear: function () {
				this.edit_ebook = []
				this.finish_ebook = []
			},
		},

	})

</script>
{% endblock %}