{% extends "base_nav.html" %}
{% block title %}
一般校對
{% endblock %}

{% block content %}

{% csrf_token %}
{% include 'comp/table_vue_component.html' %}

<div id="service">

	<div id="buttonGroup" style="text-align: center;">
		<button class="btn btn-lg btn-default" type="button" @click="get_ebook()">領文件</button>
		<div style="padding:10px; color:#ff2200; font-size:12pt;">注意：未於期限內完成校對動作將自動歸還文件，將無法計入當月服務時數</div>
	</div>

	<div>
		<h4 class="page-header">正校對文件</h4>
		<table-component :data="edit_ebook"></table-component>
	</div>

	<div>
		<h4 class="page-header">審核中的文件</h4>
		<table-component :data="finish_ebook"></table-component>
	</div>

</div>

<script>

	vo_service = new Vue({
		el: '#service',
		data: {
			edit_ebook: [],
			finish_ebook: [],
		},
		created: function () {
			this.refresh()
		},
		methods: {
			refresh: function () {
				// run ajax get data
				let self = this;
				self.clear()
				console.log(user.id)
				rest_aj_send('get', '/ebookSystem/api/ebooks/', {'editor_id': user.id, 'status': '2'})
				.done(function(data) {

					_.each(data['data'],function(v){

						action = ''
						action += '<a class="btn btn-default" role="button" href ="/ebookSystem/edit/' +v.ISBN_part +'/">編輯</a>'
						action += `<button class="btn btn-default" type="button" onclick="vo_service.reback_ebook('` +v.ISBN_part +`')">還文件</button>`

						temp_data = {
							'文件': v['bookname'] +v['part'],
							'頁數/總頁數': v.edited_page+1 +'/50',
							'領取日期': v.get_date,
							'期限': v.deadline,
							'狀態': v.status,
							'動作':action,
						}
						self.edit_ebook.push(temp_data)

					})


				})

				rest_aj_send('get', '/ebookSystem/api/ebooks/', {'editor_id': user.id, 'status': '3'})
				.done(function(data) {

					_.each(data['data'],function(v){

						action = ''
						action += `<button class="btn btn-default" type="button" onclick="vo_service.reedit_ebook('` +v.ISBN_part +`')">再編輯</button>`

						temp_data = {
							'文件': v['bookname'] +v['part'],
							'時數': v.service_hours,
							'領取日期': v.get_date,
							'類型': v.current_editrecord.category,
							'動作':action,
						}
						self.finish_ebook.push(temp_data)
					})

				})

			},
			get_ebook: function () {
				let self = this;

				rest_aj_send('post', '/ebookSystem/api/ebooks/action/service/', {})
				.done(function(data) {
					ebook = data['data'].data
					alertmessage('success', '成功取得文件：' +ebook.bookname +ebook.part)
					.done(function () {
					self.refresh()
					})
				})
				.fail(function(data){
					alertmessage('error', data['message'])
				})

			},
			reback_ebook: function (ISBN_part) {
				let self = this

				alertconfirm('還文件後該文件將提供其他校對者領取，且無法獲得校對時數，是否確定還文件?')
				.done(function(){
					rest_aj_send('post', '/ebookSystem/api/ebooks/' +ISBN_part +'/action/change_status/', {'direction': '-1', 'status': 'active'})
					.done(function(data) {
						ebook = data['data'].data
						alertmessage('success', '成功歸還文件：' +ebook.bookname +ebook.part)
						.done(function () {
						self.refresh()
						})
					})
					.fail(function(data){
						alertmessage('error', data['message'])
					})
				})
			},
			reedit_ebook: function (ISBN_part) {
				let self = this

				rest_aj_send('post', '/ebookSystem/api/ebooks/' +ISBN_part +'/action/change_status/', {'direction': '-1', 'status': 'edit'})
				.done(function(data) {
					ebook = data['data'].data
					alertmessage('success', '成功再編輯文件：' +ebook.bookname +ebook.part)
					.done(function () {
					self.refresh()
					})
				})
				.fail(function(data){
					alertmessage('error', data['message'])
				})
			},
			clear: function () {
				this.edit_ebook = []
				this.finish_ebook = []
			},
		},

	})

</script>
{% endblock %}