{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}
{{ part }}特殊內容
{% endblock %}
{% block style %}
 <script language="javascript" src="{% static 'ebookSystem/js/ajaxSubmit.js' %}"></script>
{% endblock %}
{% block header %}
{{ part }}特殊內容
{% endblock %}
{% block content %}

<form action="" method="post">
{% csrf_token %}

	<h4 class="page-header">{{ part }}文件特殊內容</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>tag ID</th>
			<th>類型</th>
			<th>頁數</th>
			<th colspan="2">動作</th>
		</tr>
		{% for SpecialContent in sc_list %}
		<tr>
			<td>{{ SpecialContent.tag_id }}</td>
			<td>{{ SpecialContent.type_int2str }}</td>
			<td>{{ SpecialContent.page }}</td>
			<td>
				<a class="btn btn-link" role="button" href ={{ SpecialContent.get_url }}>編輯</a>
			</td>
			<td>
				<button type="submit" class="btn btn-primary" name="write" value="{{ SpecialContent.id }}" id="id_write"> 寫入</button>
			</td>
		</tr>
		{% endfor %}
	</table>

	<h4 class="page-header">完成校對記錄</h4>
	<table class="table table-striped table-hover">
		<tr>
			<th>文件</th>
			<th>時數</th>
			<th>領取日期</th>
			<th>完成日期</th>
			<th>狀態</th>
			<th>動作</th>
		</tr>
		{% for part in finishPartList %}
		<tr>
			<td>{{part.book.book_info.bookname}}-part{{part.part}}</td>
			<td>{{part.service_hours}}</td>
			<td>{{part.get_date}}</td>
			<td>{{part.finish_date}}</td>
			<td>{{part.status_int2str}}</td>
			<td>
				{% if part.status_int2str == 'review' %}
				<button type="submit" class="btn btn-default send_button" id="reEditPart_id" name="reEditPart" value={{part.ISBN_part}}>再編輯</button>
				{% endif %}	
			</td>
		</tr>
		{% endfor %}
	</table>

</form>

{% endblock %}