{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
view {{ book.bookname }}-{{filename  }}
{% endblock %}
{% block content %}

<script language="javascript" src="{% static 'ebookSystem/viewSource.js' %}"></script>
<input type="button" id="down_id" name="down" value="縮小" onclick="changeSize(-1)">
<input type="button" id="up_id" name="up" value="放大" onclick="changeSize(1)">
<img src="{% static pageURL %}" alt="文件掃描原檔" id="scanPage_id" height="600" width="500">
{% endblock %}